In [4]:
# ! pip install pandas

In [5]:
# ! pip install --upgrade pip

In [6]:
import pandas as pd

In [7]:
CLE = pd.read_csv('D:\\O2C QDI Data\\CLE.csv')

In [8]:
CLE.rename(columns = {'Entry No_':'Entry_No'}, inplace = True)

In [9]:
CLE

,Entry_No,Customer No_,Posting Date,Document Type,Document No_,Currency Code,Customer Posting Group,Salesperson Code,Document Date,Closed by Entry No_,Closed at Date,Closed by Amount
0,1824,10000,31-12-2022,2,00-1,NaN,DOMESTIC,PS,31-12-2022,2071,15-01-2023,1762966.05
1,1826,30000,31-12-2022,2,00-10,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
2,1828,10000,31-12-2022,2,00-11,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
3,1830,20000,31-12-2022,2,00-12,NaN,DOMESTIC,PS,31-12-2022,2030,12-01-2023,3819759.78
4,1832,30000,31-12-2022,2,00-13,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
62,2356,49633663,26-01-2023,3,2810,EUR,EU,JR,26-01-2023,0,1753-01-01 00:00:00.000,0.00
63,2362,10000,18-01-2023,2,BLSINV/003,NaN,DOMESTIC,PS,18-01-2023,0,1753-01-01 00:00:00.000,0.00
64,2381,40000,12-12-2022,2,BLSINV/004,NaN,DOMESTIC,PS,12-12-2022,0,1753-01-01 00:00:00.000,0.00
65,2383,50000,04-12-2022,2,BLSINV/005,NaN,DOMESTIC,PS,04-12-2022,0,1753-01-01 00:00:00.000,0.00
66,2385,30000,16-01-2023,2,S-EXP-00002,NaN,DOMESTIC,PS,16-01-2023,0,1753-01-01 00:00:00.000,0.00

In [11]:
DCLE= pd.read_csv('D:\\O2C QDI Data\\DCLE.csv')

In [12]:
DCLE.rename(columns = {'Cust_ Ledger Entry No_':'Entry_No'}, inplace = True)

In [13]:
Left_Join_DCLE_CLE = DCLE.merge(CLE, on='Entry_No', how='left')

In [14]:
Left_Join_DCLE_CLE

,Entry No_,Entry_No,Entry Type,Posting Date_x,Document No__x,Amount (LCY),User ID,Source Code,Transaction No_,Debit Amount,...,Posting Date_y,Document Type,Document No__y,Currency Code,Customer Posting Group,Salesperson Code,Document Date,Closed by Entry No_,Closed at Date,Closed by Amount
0,1,1824,1,31-12-2022,00-1,1762966.05,EUROPE\NAVSNAP,START,73,1762966.05,...,31-12-2022,2,00-1,NaN,DOMESTIC,PS,31-12-2022,2071,15-01-2023,1762966.05
1,2,1826,1,31-12-2022,00-10,5288898.16,EUROPE\NAVSNAP,START,74,5288898.16,...,31-12-2022,2,00-10,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
2,3,1828,1,31-12-2022,00-11,4407415.13,EUROPE\NAVSNAP,START,75,4407415.13,...,31-12-2022,2,00-11,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
3,4,1830,1,31-12-2022,00-12,3819759.78,EUROPE\NAVSNAP,START,76,3819759.78,...,31-12-2022,2,00-12,NaN,DOMESTIC,PS,31-12-2022,2030,12-01-2023,3819759.78
4,5,1832,1,31-12-2022,00-13,5582725.83,EUROPE\NAVSNAP,START,77,5582725.83,...,31-12-2022,2,00-13,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,82,2356,1,26-01-2023,2810,-1865489.73,EUROPE\NAVSNAP,SALESJNL,191,0.00,...,26-01-2023,3,2810,EUR,EU,JR,26-01-2023,0,1753-01-01 00:00:00.000,0.00
82,83,2362,1,18-01-2023,BLSINV/003,243121.01,EUROPE\NAVSNAP,SALES,192,243121.01,...,18-01-2023,2,BLSINV/003,NaN,DOMESTIC,PS,18-01-2023,0,1753-01-01 00:00:00.000,0.00
83,84,2381,1,12-12-2022,BLSINV/004,73810.00,EUROPE\NAVSNAP,SALES,196,73810.00,...,12-12-2022,2,BLSINV/004,NaN,DOMESTIC,PS,12-12-2022,0,1753-01-01 00:00:00.000,0.00
84,85,2383,1,04-12-2022,BLSINV/005,37030.00,EUROPE\NAVSNAP,SALES,197,37030.00,...,04-12-2022,2,BLSINV/005,NaN,DOMESTIC,PS,04-12-2022,0,1753-01-01 00:00:00.000,0.00
85,86,2385,1,16-01-2023,S-EXP-00002,47830.00,EUROPE\NAVSNAP,SALES,198,47830.00,...,16-01-2023,2,S-EXP-00002,NaN,DOMESTIC,PS,16-01-2023,0,1753-01-01 00:00:00.000,0.00

In [16]:
pd.set_option('display.max_rows',None)
Left_Join_DCLE_CLE

,Entry No_,Entry_No,Entry Type,Posting Date_x,Document No__x,Amount (LCY),User ID,Source Code,Transaction No_,Debit Amount,Credit Amount,Customer No_,Posting Date_y,Document Type,Document No__y,Currency Code,Customer Posting Group,Salesperson Code,Document Date,Closed by Entry No_,Closed at Date,Closed by Amount
0,1,1824,1,31-12-2022,00-1,1762966.05,EUROPE\NAVSNAP,START,73,1762966.05,0.00,10000,31-12-2022,2,00-1,NaN,DOMESTIC,PS,31-12-2022,2071,15-01-2023,1762966.05
1,2,1826,1,31-12-2022,00-10,5288898.16,EUROPE\NAVSNAP,START,74,5288898.16,0.00,30000,31-12-2022,2,00-10,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
2,3,1828,1,31-12-2022,00-11,4407415.13,EUROPE\NAVSNAP,START,75,4407415.13,0.00,10000,31-12-2022,2,00-11,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
3,4,1830,1,31-12-2022,00-12,3819759.78,EUROPE\NAVSNAP,START,76,3819759.78,0.00,20000,31-12-2022,2,00-12,NaN,DOMESTIC,PS,31-12-2022,2030,12-01-2023,3819759.78
4,5,1832,1,31-12-2022,00-13,5582725.83,EUROPE\NAVSNAP,START,77,5582725.83,0.00,30000,31-12-2022,2,00-13,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
5,6,1834,1,31-12-2022,00-14,2644449.08,EUROPE\NAVSNAP,START,78,2644449.08,0.00,20000,31-12-2022,2,00-14,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
6,7,1836,1,31-12-2022,00-15,5288898.16,EUROPE\NAVSNAP,START,79,5288898.16,0.00,30000,31-12-2022,2,00-15,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
7,8,1838,1,31-12-2022,00-16,2350621.40,EUROPE\NAVSNAP,START,80,2350621.40,0.00,10000,31-12-2022,2,00-16,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
8,9,1840,1,31-12-2022,00-17,15431881.00,EUROPE\NAVSNAP,START,81,15431881.00,0.00,1454545,31-12-2022,2,00-17,NaN,FOREIGN,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
9,10,1842,1,31-12-2022,00-2,2938276.76,EUROPE\NAVSNAP,START,82,2938276.76,0.00,20000,31-12-2022,2,00-2,NaN,DOMESTIC,PS,31-12-2022,2026,12-01-2023,2938276.76
10,11,1844,1,31-12-2022,00-3,3525932.11,EUROPE\NAVSNAP,START,83,3525932.11,0.00,10000,31-12-2022,2,00-3,NaN,DOMESTIC,PS,31-12-2022,2073,15-01-2023,3525932.11
11,12,1846,1,31-12-2022,00-4,2350621.40,EUROPE\NAVSNAP,START,84,2350621.40,0.00,30000,31-12-2022,2,00-4,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
12,13,1848,1,31-12-2022,00-5,1762966.05,EUROPE\NAVSNAP,START,85,1762966.05,0.00,20000,31-12-2022,2,00-5,NaN,DOMESTIC,PS,31-12-2022,2028,12-01-2023,1762966.05
13,14,1850,1,31-12-2022,00-6,4701242.81,EUROPE\NAVSNAP,START,86,4701242.81,0.00,10000,31-12-2022,2,00-6,NaN,DOMESTIC,PS,31-12-2022,2075,15-01-2023,4701242.81
14,15,1852,1,31-12-2022,00-7,5288898.16,EUROPE\NAVSNAP,START,87,5288898.16,0.00,30000,31-12-2022,2,00-7,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
15,16,1854,1,31-12-2022,00-8,3525932.11,EUROPE\NAVSNAP,START,88,3525932.11,0.00,20000,31-12-2022,2,00-8,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
16,17,1856,1,31-12-2022,00-9,3525932.11,EUROPE\NAVSNAP,START,89,3525932.11,0.00,10000,31-12-2022,2,00-9,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
17,18,1905,1,05-01-2023,103005,95886.94,EUROPE\NAVSNAP,SALES,103,1784.56,0.00,49525252,05-01-2023,2,103005,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
18,19,1912,1,05-01-2023,103006,425703.19,EUROPE\NAVSNAP,SALES,104,7922.80,0.00,49525252,05-01-2023,2,103006,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
19,20,1920,1,05-01-2023,103007,343581.69,EUROPE\NAVSNAP,SALES,105,6394.43,0.00,49858585,05-01-2023,2,103007,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
20,21,1928,1,05-01-2023,103008,343581.69,EUROPE\NAVSNAP,SALES,106,6394.43,0.00,49858585,05-01-2023,2,103008,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
21,22,1936,1,05-01-2023,103009,673730.53,EUROPE\NAVSNAP,SALES,107,12538.86,0.00,49858585,05-01-2023,2,103009,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
22,23,1944,1,05-01-2023,103010,384711.52,EUROPE\NAVSNAP,SALES,108,7159.91,0.00,49633663,05-01-2023,2,103010,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
23,24,1951,1,05-01-2023,103011,285943.10,EUROPE\NAVSNAP,SALES,109,5321.72,0.00,43687129,05-01-2023,2,103011,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
24,25,1958,1,05-01-2023,103012,376787.27,EUROPE\NAVSNAP,SALES,110,7012.42,0.00,43687129,05-01-2023,2,103012,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
25,26,1965,1,05-01-2023,103013,467626.15,EUROPE\NAVSNAP,SALES,111,8703.04,0.00,43687129,05-01-2023,2,103013,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
26,27,1972,1,05-01-2023,103014,90661.29,EUROPE\NAVSNAP,SALES,112,1687.31,0.00,49858585,05-01-2023,2,103014,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
27,28,1984,1,06-01-2023,2801,9327448.65,EUROPE\NAVSNAP,SALESJNL,118,173594.00,0.00,49525252,06-01-2023,2,2801,EUR,EU,JR,06-01-2023,0,1753-01-01 00:00:00.000,0.00
28,29,2000,1,07-01-2023,2802,7461958.92,EUROPE\NAVSNAP,SALESJNL,122,138875.20,0.00,49525252,07-01-2023,2,2802,EUR,EU,JR,07-01-2023,0,1753-01-01 00:00:00.000,0.00
29,30,2010,1,08-01-2023,BLSINV/001,528617.00,EUROPE\NAVSNAP,SALES,123,528617.00,0.00,10000,08-01-2023,2,BLSINV/001,NaN,DOMESTIC,PS,05-01-2023,0,1753-01-01 00:00:00.000,0.00
30,31,2012,1,09-01-2023,2803,13058428.11,EUROPE\NAVSNAP,SALESJNL,124,243031.60,0.00,49525252,09-01-2023,2,2803,EUR,EU,JR,09-01-2023,0,1753-01-01 00:00:00.000,0.00
31,32,2026,1,12-01-2023,2594,-2938276.76,EUROPE\NAVSNAP,GENJNL,128,0.00,2938276.76,20000,12-01-2023,1,2594,NaN,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
32,33,1842,2,12-01-2023,2594,-2938276.76,EUROPE\NAVSNAP,GENJNL,128,0.00,2938276.76,20000,31-12-2022,2,00-2,NaN,DOMESTIC,PS,31-12-2022,2026,12-01-2023,2938276.76
33,34,2026,2,12-01-2023,2594,2938276.76,EUROPE\NAVSNAP,GENJNL,128,2938276.76,0.00,20000,12-01-2023,1,2594,NaN,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
34,35,2028,1,12-01-2023,2594,-1762966.05,EUROPE\NAVSNAP,GENJNL,128,0.00,1762966.05,20000,12-01-2023,1,2594,NaN,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
35,36,1848,2,12-01-2023,2594,-1762966.05,EUROPE\NAVSNAP,GENJNL,128,0.00,1762966.05,20000,31-12-2022,2,00-5,NaN,DOMESTIC,PS,31-12-2022,2028,12-01-2023,1762966.05
36,37,2028,2,12-01-2023,2594,1762966.05,EUROPE\NAVSNAP,GENJNL,128,1762966.05,0.00,20000,12-01-2023,1,2594,NaN,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
37,38,2030,1,12-01-2023,2594,-3819759.78,EUROPE\NAVSNAP,GENJNL,128,0.00,3819759.78,20000,12-01-2023,1,2594,NaN,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
38,39,1830,2,12-01-2023,2594,-3819759.78,EUROPE\NAVSNAP,GENJNL,128,0.00,3819759.78,20000,31-12-2022,2,00-12,NaN,DOMESTIC,PS,31-12-2022,2030,12-01-2023,3819759.78
39,40,2030,2,12-01-2023,2594,3819759.78,EUROPE\NAVSNAP,GENJNL,128,3819759.78,0.00,20000,12-01-2023,1,2594,NaN,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
40,41,2039,1,14-01-2023,103015,135318.64,EUROPE\NAVSNAP,SALES,129,73769.77,0.00,42147258,14-01-2023,2,103015,CZK,EU,JR,13-01-2023,0,1753-01-01 00:00:00.000,0.00
41,42,2048,1,14-01-2023,103016,201922.08,EUROPE\NAVSNAP,SALES,130,3758.02,0.00,43687129,14-01-2023,2,103016,EUR,EU,JR,13-01-2023,0,1753-01-01 00:00:00.000,0.00
42,43,2064,1,15-01-2023,103017,48266.00,EUROPE\NAVSNAP,SALES,133,48266.00,0.00,20000,15-01-2023,2,103017,NaN,DOMESTIC,PS,11-01-2023,0,1753-01-01 00:00:00.000,0.00
43,44,2070,1,15-01-2023,BLSCM/001,-17994.00,EUROPE\NAVSNAP,SALES,134,0.00,17994.00,10000,15-01-2023,3,BLSCM/001,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
44,45,2071,1,15-01-2023,2596,-1762966.05,EUROPE\NAVSNAP,GENJNL,135,0.00,1762966.05,10000,15-01-2023,1,2596,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
45,46,1824,2,15-01-2023,2596,-1762966.05,EUROPE\NAVSNAP,GENJNL,135,0.00,1762966.05,10000,31-12-2022,2,00-1,NaN,DOMESTIC,PS,31-12-2022,2071,15-01-2023,1762966.05
46,47,2071,2,15-01-2023,2596,1762966.05,EUROPE\NAVSNAP,GENJNL,135,1762966.05,0.00,10000,15-01-2023,1,2596,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
47,48,2073,1,15-01-2023,2596,-3525932.11,EUROPE\NAVSNAP,GENJNL,135,0.00,3525932.11,10000,15-01-2023,1,2596,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
48,49,1844,2,15-01-2023,2596,-3525932.11,EUROPE\NAVSNAP,GENJNL,135,0.00,3525932.11,10000,31-12-2022,2,00-3,NaN,DOMESTIC,PS,31-12-2022,2073,15-01-2023,3525932.11
49,50,2073,2,15-01-2023,2596,3525932.11,EUROPE\NAVSNAP,GENJNL,135,3525932.11,0.00,10000,15-01-2023,1,2596,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
50,51,2075,1,15-01-2023,2596,-4701242.81,EUROPE\NAVSNAP,GENJNL,135,0.00,4701242.81,10000,15-01-2023,1,2596,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
51,52,1850,2,15-01-2023,2596,-4701242.81,EUROPE\NAVSNAP,GENJNL,135,0.00,4701242.81,10000,31-12-2022,2,00-6,NaN,DOMESTIC,PS,31-12-2022,2075,15-01-2023,4701242.81
52,53,2075,2,15-01-2023,2596,4701242.81,EUROPE\NAVSNAP,GENJNL,135,4701242.81,0.00,10000,15-01-2023,1,2596,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
53,54,2100,1,17-01-2023,103018,14213.50,EUROPE\NAVSNAP,SALES,141,14213.50,0.00,20000,17-01-2023,2,103018,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
54,55,2107,1,17-01-2023,104002,-43999.00,EUROPE\NAVSNAP,SALES,142,0.00,43999.00,20000,17-01-2023,3,104002,NaN,DOMESTIC,PS,17-01-2023,1854,17-01-2023,-43999.00
55,56,1854,2,17-01-2023,104002,-43999.00,EUROPE\NAVSNAP,SALES,142,0.00,43999.00,20000,31-12-2022,2,00-8,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
56,57,2107,2,17-01-2023,104002,43999.00,EUROPE\NAVSNAP,SALES,142,43999.00,0.00,20000,17-01-2023,3,104002,NaN,DOMESTIC,PS,17-01-2023,1854,17-01-2023,-43999.00
57,58,2129,1,18-01-2023,103019,198854.67,EUROPE\NAVSNAP,SALES,144,3700.90,0.00,32656565,18-01-2023,2,103019,EUR,EU,JR,09-01-2023,0,1753-01-01 00:00:00.000,0.00
58,59,2149,1,20-01-2023,103020,78287.73,EUROPE\NAVSNAP,SALES,148,1457.02,0.00,49633663,20-01-2023,2,103020,EUR,EU,JR,14-01-2023,2180,21-01-2023,1457.02
59,60,2156,1,20-01-2023,104003,-80676.30,EUROPE\NAVSNAP,SALES,149,0.00,80676.30,20000,20-01-2023,3,104003,NaN,DOMESTIC,PS,20-01-2023,1854,20-01-2023,-80676.30
60,61,1854,2,20-01-2023,104003,-80676.30,EUROPE\NAVSNAP,SALES,149,0.00,80676.30,20000,31-12-2022,2,00-8,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
61,62,2156,2,20-01-2023,104003,80676.30,EUROPE\NAVSNAP,SALES,149,80676.30,0.00,20000,20-01-2023,3,104003,NaN,DOMESTIC,PS,20-01-2023,1854,20-01-2023,-80676.30
62,63,2162,1,20-01-2023,104005,-58640.30,EUROPE\NAVSNAP,SALES,150,0.00,1091.36,49633663,20-01-2023,3,104005,EUR,EU,JR,20-01-2023,0,1753-01-01 00:00:00.000,0.00
63,64,2172,1,20-01-2023,2804,8208153.74,EUROPE\NAVSNAP,SALESJNL,155,152762.70,0.00,49525252,20-01-2023,2,2804,EUR,EU,JR,20-01-2023,0,1753-01-01 00:00:00.000,0.00
64,65,2180,1,21-01-2023,2806,-78287.72,EUROPE\NAVSNAP,SALESJNL,157,0.00,1457.02,49633663,21-01-2023,1,2806,EUR,EU,JR,21-01-2023,0,1753-01-01 00:00:00.000,0.00
65,66,2149,2,21-01-2023,2806,-78287.72,EUROPE\NAVSNAP,SALESJNL,157,0.00,1457.02,49633663,20-01-2023,2,103020,EUR,EU,JR,14-01-2023,2180,21-01-2023,1457.02
66,67,2180,2,21-01-2023,2806,78287.72,EUROPE\NAVSNAP,SALESJNL,157,1457.02,0.00,49633663,21-01-2023,1,2806,EUR,EU,JR,21-01-2023,0,1753-01-01 00:00:00.000,0.00
67,68,2149,11,21-01-2023,2806,-0.01,EUROPE\NAVSNAP,SALESJNL,157,0.00,0.00,49633663,20-01-2023,2,103020,EUR,EU,JR,14-01-2023,2180,21-01-2023,1457.02
68,69,2222,1,22-01-2023,103021,59247.82,EUROPE\NAVSNAP,SALES,163,10300.93,0.00,46897889,22-01-2023,2,103021,SEK,EU,JR,19-01-2023,0,1753-01-01 00:00:00.000,0.00
69,70,2240,1,23-01-2023,103022,133458.14,EUROPE\NAVSNAP,SALES,165,3072.95,0.00,1445544,23-01-2023,2,103022,USD,FOREIGN,JR,21-01-2023,0,1753-01-01 00:00:00.000,0.00
70,71,2248,1,23-01-2023,103023,74360.30,EUROPE\NAVSNAP,SALES,166,74360.30,0.00,20000,23-01-2023,2,103023,NaN,DOMESTIC,PS,16-01-2023,0,1753-01-01 00:00:00.000,0.00
71,72,2254,1,23-01-2023,BLSINV/002,564630.00,EUROPE\NAVSNAP,SALES,167,564630.00,0.00,10000,23-01-2023,2,BLSINV/002,NaN,DOMESTIC,PS,23-01-2023,0,1753-01-01 00:00:00.000,0.00
72,73,2261,1,23-01-2023,103002,434761.00,EUROPE\NAVSNAP,SALES,168,434761.00,0.00,20000,23-01-2023,2,103002,NaN,DOMESTIC,PS,23-01-2023,0,1753-01-01 00:00:00.000,0.00
73,74,2266,1,23-01-2023,S-EXP-00001,411979.00,EUROPE\NAVSNAP,SALES,169,411979.00,0.00,30000,23-01-2023,2,S-EXP-00001,NaN,DOMESTIC,PS,23-01-2023,0,1753-01-01 00:00:00.000,0.00
74,75,2268,1,23-01-2023,2807,2721608.25,EUROPE\NAVSNAP,SALESJNL,170,50652.10,0.00,49633663,23-01-2023,6,2807,EUR,EU,JR,23-01-2023,0,1753-01-01 00:00:00.000,0.00
75,76,2277,1,24-01-2023,103024,953012.26,EUROPE\NAVSNAP,SALES,171,140374.72,0.00,47563218,24-01-2023,2,103024,NOK,FOREIGN,JR,20-01-2023,0,1753-01-01 00:00:00.000,0.00
76,77,2279,1,24-01-2023,2808,14923912.47,EUROPE\NAVSNAP,SALESJNL,172,277750.30,0.00,49633663,24-01-2023,2,2808,EUR,EU,JR,24-01-2023,0,1753-01-01 00:00:00.000,0.00
77,78,2294,1,25-01-2023,103025,141645.76,EUROPE\NAVSNAP,SALES,174,209713.52,0.00,35963852,25-01-2023,2,103025,ISK,FOREIGN,JR,23-01-2023,0,1753-01-01 00:00:00.000,0.00
78,79,2304,1,25-01-2023,2805,-3730979.46,EUROPE\NAVSNAP,SALESJNL,179,0.00,69437.60,49525252,25-01-2023,3,2805,EUR,EU,JR,25-01-2023,0,1753-01-01 00:00:00.000,0.00
79,80,2306,1,25-01-2023,2809,9327448.65,EUROPE\NAVSNAP,SALESJNL,180,173594.00,0.00,49633663,25-01-2023,2,2809,EUR,EU,JR,25-01-2023,0,1753-01-01 00:00:00.000,0.00
80,81,2345,1,26-01-2023,103026,78851.07,EUROPE\NAVSNAP,SALES,186,116743.37,0.00,35451236,26-01-2023,2,103026,ISK,FOREIGN,JR,18-01-2023,0,1753-01-01 00:00:00.000,0.00
81,82,2356,1,26-01-2023,2810,-1865489.73,EUROPE\NAVSNAP,SALESJNL,191,0.00,34718.80,49633663,26-01-2023,3,2810,EUR,EU,JR,26-01-2023,0,1753-01-01 00:00:00.000,0.00
82,83,2362,1,18-01-2023,BLSINV/003,243121.01,EUROPE\NAVSNAP,SALES,192,243121.01,0.00,10000,18-01-2023,2,BLSINV/003,NaN,DOMESTIC,PS,18-01-2023,0,1753-01-01 00:00:00.000,0.00
83,84,2381,1,12-12-2022,BLSINV/004,73810.00,EUROPE\NAVSNAP,SALES,196,73810.00,0.00,40000,12-12-2022,2,BLSINV/004,NaN,DOMESTIC,PS,12-12-2022,0,1753-01-01 00:00:00.000,0.00
84,85,2383,1,04-12-2022,BLSINV/005,37030.00,EUROPE\NAVSNAP,SALES,197,37030.00,0.00,50000,04-12-2022,2,BLSINV/005,NaN,DOMESTIC,PS,04-12-2022,0,1753-01-01 00:00:00.000,0.00
85,86,2385,1,16-01-2023,S-EXP-00002,47830.00,EUROPE\NAVSNAP,SALES,198,47830.00,0.00,30000,16-01-2023,2,S-EXP-00002,NaN,DOMESTIC,PS,16-01-2023,0,1753-01-01 00:00:00.000,0.00

In [17]:
# Filter by column name 
# Left_Join_DCLE_CLE.loc[Left_Join_DCLE_CLE['Entry_No'] == 2385]

In [22]:
Left_Join_DCLE_CLE

,Entry No_,Entry_No,Entry Type,Posting Date_x,Document No__x,Amount (LCY),User ID,Source Code,Transaction No_,Debit Amount,Credit Amount,Customer No_,Posting Date_y,Document Type,Document No__y,Currency Code,Customer Posting Group,Salesperson Code,Document Date,Closed by Entry No_,Closed at Date,Closed by Amount
0,1,1824,1,31-12-2022,00-1,1762966.05,EUROPE\NAVSNAP,START,73,1762966.05,0.00,10000,31-12-2022,2,00-1,None,DOMESTIC,PS,31-12-2022,2071,15-01-2023,1762966.05
1,2,1826,1,31-12-2022,00-10,5288898.16,EUROPE\NAVSNAP,START,74,5288898.16,0.00,30000,31-12-2022,2,00-10,None,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
2,3,1828,1,31-12-2022,00-11,4407415.13,EUROPE\NAVSNAP,START,75,4407415.13,0.00,10000,31-12-2022,2,00-11,None,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
3,4,1830,1,31-12-2022,00-12,3819759.78,EUROPE\NAVSNAP,START,76,3819759.78,0.00,20000,31-12-2022,2,00-12,None,DOMESTIC,PS,31-12-2022,2030,12-01-2023,3819759.78
4,5,1832,1,31-12-2022,00-13,5582725.83,EUROPE\NAVSNAP,START,77,5582725.83,0.00,30000,31-12-2022,2,00-13,None,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
5,6,1834,1,31-12-2022,00-14,2644449.08,EUROPE\NAVSNAP,START,78,2644449.08,0.00,20000,31-12-2022,2,00-14,None,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
6,7,1836,1,31-12-2022,00-15,5288898.16,EUROPE\NAVSNAP,START,79,5288898.16,0.00,30000,31-12-2022,2,00-15,None,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
7,8,1838,1,31-12-2022,00-16,2350621.40,EUROPE\NAVSNAP,START,80,2350621.40,0.00,10000,31-12-2022,2,00-16,None,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
8,9,1840,1,31-12-2022,00-17,15431881.00,EUROPE\NAVSNAP,START,81,15431881.00,0.00,1454545,31-12-2022,2,00-17,None,FOREIGN,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
9,10,1842,1,31-12-2022,00-2,2938276.76,EUROPE\NAVSNAP,START,82,2938276.76,0.00,20000,31-12-2022,2,00-2,None,DOMESTIC,PS,31-12-2022,2026,12-01-2023,2938276.76
10,11,1844,1,31-12-2022,00-3,3525932.11,EUROPE\NAVSNAP,START,83,3525932.11,0.00,10000,31-12-2022,2,00-3,None,DOMESTIC,PS,31-12-2022,2073,15-01-2023,3525932.11
11,12,1846,1,31-12-2022,00-4,2350621.40,EUROPE\NAVSNAP,START,84,2350621.40,0.00,30000,31-12-2022,2,00-4,None,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
12,13,1848,1,31-12-2022,00-5,1762966.05,EUROPE\NAVSNAP,START,85,1762966.05,0.00,20000,31-12-2022,2,00-5,None,DOMESTIC,PS,31-12-2022,2028,12-01-2023,1762966.05
13,14,1850,1,31-12-2022,00-6,4701242.81,EUROPE\NAVSNAP,START,86,4701242.81,0.00,10000,31-12-2022,2,00-6,None,DOMESTIC,PS,31-12-2022,2075,15-01-2023,4701242.81
14,15,1852,1,31-12-2022,00-7,5288898.16,EUROPE\NAVSNAP,START,87,5288898.16,0.00,30000,31-12-2022,2,00-7,None,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
15,16,1854,1,31-12-2022,00-8,3525932.11,EUROPE\NAVSNAP,START,88,3525932.11,0.00,20000,31-12-2022,2,00-8,None,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
16,17,1856,1,31-12-2022,00-9,3525932.11,EUROPE\NAVSNAP,START,89,3525932.11,0.00,10000,31-12-2022,2,00-9,None,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
17,18,1905,1,05-01-2023,103005,95886.94,EUROPE\NAVSNAP,SALES,103,1784.56,0.00,49525252,05-01-2023,2,103005,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
18,19,1912,1,05-01-2023,103006,425703.19,EUROPE\NAVSNAP,SALES,104,7922.80,0.00,49525252,05-01-2023,2,103006,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
19,20,1920,1,05-01-2023,103007,343581.69,EUROPE\NAVSNAP,SALES,105,6394.43,0.00,49858585,05-01-2023,2,103007,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
20,21,1928,1,05-01-2023,103008,343581.69,EUROPE\NAVSNAP,SALES,106,6394.43,0.00,49858585,05-01-2023,2,103008,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
21,22,1936,1,05-01-2023,103009,673730.53,EUROPE\NAVSNAP,SALES,107,12538.86,0.00,49858585,05-01-2023,2,103009,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
22,23,1944,1,05-01-2023,103010,384711.52,EUROPE\NAVSNAP,SALES,108,7159.91,0.00,49633663,05-01-2023,2,103010,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
23,24,1951,1,05-01-2023,103011,285943.10,EUROPE\NAVSNAP,SALES,109,5321.72,0.00,43687129,05-01-2023,2,103011,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
24,25,1958,1,05-01-2023,103012,376787.27,EUROPE\NAVSNAP,SALES,110,7012.42,0.00,43687129,05-01-2023,2,103012,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
25,26,1965,1,05-01-2023,103013,467626.15,EUROPE\NAVSNAP,SALES,111,8703.04,0.00,43687129,05-01-2023,2,103013,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
26,27,1972,1,05-01-2023,103014,90661.29,EUROPE\NAVSNAP,SALES,112,1687.31,0.00,49858585,05-01-2023,2,103014,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
27,28,1984,1,06-01-2023,2801,9327448.65,EUROPE\NAVSNAP,SALESJNL,118,173594.00,0.00,49525252,06-01-2023,2,2801,EUR,EU,JR,06-01-2023,0,1753-01-01 00:00:00.000,0.00
28,29,2000,1,07-01-2023,2802,7461958.92,EUROPE\NAVSNAP,SALESJNL,122,138875.20,0.00,49525252,07-01-2023,2,2802,EUR,EU,JR,07-01-2023,0,1753-01-01 00:00:00.000,0.00
29,30,2010,1,08-01-2023,BLSINV/001,528617.00,EUROPE\NAVSNAP,SALES,123,528617.00,0.00,10000,08-01-2023,2,BLSINV/001,None,DOMESTIC,PS,05-01-2023,0,1753-01-01 00:00:00.000,0.00
30,31,2012,1,09-01-2023,2803,13058428.11,EUROPE\NAVSNAP,SALESJNL,124,243031.60,0.00,49525252,09-01-2023,2,2803,EUR,EU,JR,09-01-2023,0,1753-01-01 00:00:00.000,0.00
31,32,2026,1,12-01-2023,2594,-2938276.76,EUROPE\NAVSNAP,GENJNL,128,0.00,2938276.76,20000,12-01-2023,1,2594,None,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
32,33,1842,2,12-01-2023,2594,-2938276.76,EUROPE\NAVSNAP,GENJNL,128,0.00,2938276.76,20000,31-12-2022,2,00-2,None,DOMESTIC,PS,31-12-2022,2026,12-01-2023,2938276.76
33,34,2026,2,12-01-2023,2594,2938276.76,EUROPE\NAVSNAP,GENJNL,128,2938276.76,0.00,20000,12-01-2023,1,2594,None,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
34,35,2028,1,12-01-2023,2594,-1762966.05,EUROPE\NAVSNAP,GENJNL,128,0.00,1762966.05,20000,12-01-2023,1,2594,None,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
35,36,1848,2,12-01-2023,2594,-1762966.05,EUROPE\NAVSNAP,GENJNL,128,0.00,1762966.05,20000,31-12-2022,2,00-5,None,DOMESTIC,PS,31-12-2022,2028,12-01-2023,1762966.05
36,37,2028,2,12-01-2023,2594,1762966.05,EUROPE\NAVSNAP,GENJNL,128,1762966.05,0.00,20000,12-01-2023,1,2594,None,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
37,38,2030,1,12-01-2023,2594,-3819759.78,EUROPE\NAVSNAP,GENJNL,128,0.00,3819759.78,20000,12-01-2023,1,2594,None,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
38,39,1830,2,12-01-2023,2594,-3819759.78,EUROPE\NAVSNAP,GENJNL,128,0.00,3819759.78,20000,31-12-2022,2,00-12,None,DOMESTIC,PS,31-12-2022,2030,12-01-2023,3819759.78
39,40,2030,2,12-01-2023,2594,3819759.78,EUROPE\NAVSNAP,GENJNL,128,3819759.78,0.00,20000,12-01-2023,1,2594,None,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
40,41,2039,1,14-01-2023,103015,135318.64,EUROPE\NAVSNAP,SALES,129,73769.77,0.00,42147258,14-01-2023,2,103015,CZK,EU,JR,13-01-2023,0,1753-01-01 00:00:00.000,0.00
41,42,2048,1,14-01-2023,103016,201922.08,EUROPE\NAVSNAP,SALES,130,3758.02,0.00,43687129,14-01-2023,2,103016,EUR,EU,JR,13-01-2023,0,1753-01-01 00:00:00.000,0.00
42,43,2064,1,15-01-2023,103017,48266.00,EUROPE\NAVSNAP,SALES,133,48266.00,0.00,20000,15-01-2023,2,103017,None,DOMESTIC,PS,11-01-2023,0,1753-01-01 00:00:00.000,0.00
43,44,2070,1,15-01-2023,BLSCM/001,-17994.00,EUROPE\NAVSNAP,SALES,134,0.00,17994.00,10000,15-01-2023,3,BLSCM/001,None,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
44,45,2071,1,15-01-2023,2596,-1762966.05,EUROPE\NAVSNAP,GENJNL,135,0.00,1762966.05,10000,15-01-2023,1,2596,None,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
45,46,1824,2,15-01-2023,2596,-1762966.05,EUROPE\NAVSNAP,GENJNL,135,0.00,1762966.05,10000,31-12-2022,2,00-1,None,DOMESTIC,PS,31-12-2022,2071,15-01-2023,1762966.05
46,47,2071,2,15-01-2023,2596,1762966.05,EUROPE\NAVSNAP,GENJNL,135,1762966.05,0.00,10000,15-01-2023,1,2596,None,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
47,48,2073,1,15-01-2023,2596,-3525932.11,EUROPE\NAVSNAP,GENJNL,135,0.00,3525932.11,10000,15-01-2023,1,2596,None,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
48,49,1844,2,15-01-2023,2596,-3525932.11,EUROPE\NAVSNAP,GENJNL,135,0.00,3525932.11,10000,31-12-2022,2,00-3,None,DOMESTIC,PS,31-12-2022,2073,15-01-2023,3525932.11
49,50,2073,2,15-01-2023,2596,3525932.11,EUROPE\NAVSNAP,GENJNL,135,3525932.11,0.00,10000,15-01-2023,1,2596,None,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
50,51,2075,1,15-01-2023,2596,-4701242.81,EUROPE\NAVSNAP,GENJNL,135,0.00,4701242.81,10000,15-01-2023,1,2596,None,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
51,52,1850,2,15-01-2023,2596,-4701242.81,EUROPE\NAVSNAP,GENJNL,135,0.00,4701242.81,10000,31-12-2022,2,00-6,None,DOMESTIC,PS,31-12-2022,2075,15-01-2023,4701242.81
52,53,2075,2,15-01-2023,2596,4701242.81,EUROPE\NAVSNAP,GENJNL,135,4701242.81,0.00,10000,15-01-2023,1,2596,None,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
53,54,2100,1,17-01-2023,103018,14213.50,EUROPE\NAVSNAP,SALES,141,14213.50,0.00,20000,17-01-2023,2,103018,None,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
54,55,2107,1,17-01-2023,104002,-43999.00,EUROPE\NAVSNAP,SALES,142,0.00,43999.00,20000,17-01-2023,3,104002,None,DOMESTIC,PS,17-01-2023,1854,17-01-2023,-43999.00
55,56,1854,2,17-01-2023,104002,-43999.00,EUROPE\NAVSNAP,SALES,142,0.00,43999.00,20000,31-12-2022,2,00-8,None,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
56,57,2107,2,17-01-2023,104002,43999.00,EUROPE\NAVSNAP,SALES,142,43999.00,0.00,20000,17-01-2023,3,104002,None,DOMESTIC,PS,17-01-2023,1854,17-01-2023,-43999.00
57,58,2129,1,18-01-2023,103019,198854.67,EUROPE\NAVSNAP,SALES,144,3700.90,0.00,32656565,18-01-2023,2,103019,EUR,EU,JR,09-01-2023,0,1753-01-01 00:00:00.000,0.00
58,59,2149,1,20-01-2023,103020,78287.73,EUROPE\NAVSNAP,SALES,148,1457.02,0.00,49633663,20-01-2023,2,103020,EUR,EU,JR,14-01-2023,2180,21-01-2023,1457.02
59,60,2156,1,20-01-2023,104003,-80676.30,EUROPE\NAVSNAP,SALES,149,0.00,80676.30,20000,20-01-2023,3,104003,None,DOMESTIC,PS,20-01-2023,1854,20-01-2023,-80676.30
60,61,1854,2,20-01-2023,104003,-80676.30,EUROPE\NAVSNAP,SALES,149,0.00,80676.30,20000,31-12-2022,2,00-8,None,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
61,62,2156,2,20-01-2023,104003,80676.30,EUROPE\NAVSNAP,SALES,149,80676.30,0.00,20000,20-01-2023,3,104003,None,DOMESTIC,PS,20-01-2023,1854,20-01-2023,-80676.30
62,63,2162,1,20-01-2023,104005,-58640.30,EUROPE\NAVSNAP,SALES,150,0.00,1091.36,49633663,20-01-2023,3,104005,EUR,EU,JR,20-01-2023,0,1753-01-01 00:00:00.000,0.00
63,64,2172,1,20-01-2023,2804,8208153.74,EUROPE\NAVSNAP,SALESJNL,155,152762.70,0.00,49525252,20-01-2023,2,2804,EUR,EU,JR,20-01-2023,0,1753-01-01 00:00:00.000,0.00
64,65,2180,1,21-01-2023,2806,-78287.72,EUROPE\NAVSNAP,SALESJNL,157,0.00,1457.02,49633663,21-01-2023,1,2806,EUR,EU,JR,21-01-2023,0,1753-01-01 00:00:00.000,0.00
65,66,2149,2,21-01-2023,2806,-78287.72,EUROPE\NAVSNAP,SALESJNL,157,0.00,1457.02,49633663,20-01-2023,2,103020,EUR,EU,JR,14-01-2023,2180,21-01-2023,1457.02
66,67,2180,2,21-01-2023,2806,78287.72,EUROPE\NAVSNAP,SALESJNL,157,1457.02,0.00,49633663,21-01-2023,1,2806,EUR,EU,JR,21-01-2023,0,1753-01-01 00:00:00.000,0.00
67,68,2149,11,21-01-2023,2806,-0.01,EUROPE\NAVSNAP,SALESJNL,157,0.00,0.00,49633663,20-01-2023,2,103020,EUR,EU,JR,14-01-2023,2180,21-01-2023,1457.02
68,69,2222,1,22-01-2023,103021,59247.82,EUROPE\NAVSNAP,SALES,163,10300.93,0.00,46897889,22-01-2023,2,103021,SEK,EU,JR,19-01-2023,0,1753-01-01 00:00:00.000,0.00
69,70,2240,1,23-01-2023,103022,133458.14,EUROPE\NAVSNAP,SALES,165,3072.95,0.00,1445544,23-01-2023,2,103022,USD,FOREIGN,JR,21-01-2023,0,1753-01-01 00:00:00.000,0.00
70,71,2248,1,23-01-2023,103023,74360.30,EUROPE\NAVSNAP,SALES,166,74360.30,0.00,20000,23-01-2023,2,103023,None,DOMESTIC,PS,16-01-2023,0,1753-01-01 00:00:00.000,0.00
71,72,2254,1,23-01-2023,BLSINV/002,564630.00,EUROPE\NAVSNAP,SALES,167,564630.00,0.00,10000,23-01-2023,2,BLSINV/002,None,DOMESTIC,PS,23-01-2023,0,1753-01-01 00:00:00.000,0.00
72,73,2261,1,23-01-2023,103002,434761.00,EUROPE\NAVSNAP,SALES,168,434761.00,0.00,20000,23-01-2023,2,103002,None,DOMESTIC,PS,23-01-2023,0,1753-01-01 00:00:00.000,0.00
73,74,2266,1,23-01-2023,S-EXP-00001,411979.00,EUROPE\NAVSNAP,SALES,169,411979.00,0.00,30000,23-01-2023,2,S-EXP-00001,None,DOMESTIC,PS,23-01-2023,0,1753-01-01 00:00:00.000,0.00
74,75,2268,1,23-01-2023,2807,2721608.25,EUROPE\NAVSNAP,SALESJNL,170,50652.10,0.00,49633663,23-01-2023,6,2807,EUR,EU,JR,23-01-2023,0,1753-01-01 00:00:00.000,0.00
75,76,2277,1,24-01-2023,103024,953012.26,EUROPE\NAVSNAP,SALES,171,140374.72,0.00,47563218,24-01-2023,2,103024,NOK,FOREIGN,JR,20-01-2023,0,1753-01-01 00:00:00.000,0.00
76,77,2279,1,24-01-2023,2808,14923912.47,EUROPE\NAVSNAP,SALESJNL,172,277750.30,0.00,49633663,24-01-2023,2,2808,EUR,EU,JR,24-01-2023,0,1753-01-01 00:00:00.000,0.00
77,78,2294,1,25-01-2023,103025,141645.76,EUROPE\NAVSNAP,SALES,174,209713.52,0.00,35963852,25-01-2023,2,103025,ISK,FOREIGN,JR,23-01-2023,0,1753-01-01 00:00:00.000,0.00
78,79,2304,1,25-01-2023,2805,-3730979.46,EUROPE\NAVSNAP,SALESJNL,179,0.00,69437.60,49525252,25-01-2023,3,2805,EUR,EU,JR,25-01-2023,0,1753-01-01 00:00:00.000,0.00
79,80,2306,1,25-01-2023,2809,9327448.65,EUROPE\NAVSNAP,SALESJNL,180,173594.00,0.00,49633663,25-01-2023,2,2809,EUR,EU,JR,25-01-2023,0,1753-01-01 00:00:00.000,0.00
80,81,2345,1,26-01-2023,103026,78851.07,EUROPE\NAVSNAP,SALES,186,116743.37,0.00,35451236,26-01-2023,2,103026,ISK,FOREIGN,JR,18-01-2023,0,1753-01-01 00:00:00.000,0.00
81,82,2356,1,26-01-2023,2810,-1865489.73,EUROPE\NAVSNAP,SALESJNL,191,0.00,34718.80,49633663,26-01-2023,3,2810,EUR,EU,JR,26-01-2023,0,1753-01-01 00:00:00.000,0.00
82,83,2362,1,18-01-2023,BLSINV/003,243121.01,EUROPE\NAVSNAP,SALES,192,243121.01,0.00,10000,18-01-2023,2,BLSINV/003,None,DOMESTIC,PS,18-01-2023,0,1753-01-01 00:00:00.000,0.00
83,84,2381,1,12-12-2022,BLSINV/004,73810.00,EUROPE\NAVSNAP,SALES,196,73810.00,0.00,40000,12-12-2022,2,BLSINV/004,None,DOMESTIC,PS,12-12-2022,0,1753-01-01 00:00:00.000,0.00
84,85,2383,1,04-12-2022,BLSINV/005,37030.00,EUROPE\NAVSNAP,SALES,197,37030.00,0.00,50000,04-12-2022,2,BLSINV/005,None,DOMESTIC,PS,04-12-2022,0,1753-01-01 00:00:00.000,0.00
85,86,2385,1,16-01-2023,S-EXP-00002,47830.00,EUROPE\NAVSNAP,SALES,198,47830.00,0.00,30000,16-01-2023,2,S-EXP-00002,None,DOMESTIC,PS,16-01-2023,0,1753-01-01 00:00:00.000,0.00

In [21]:
Left_Join_DCLE_CLE.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86 entries, 0 to 85
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Entry No_               86 non-null     int64
 1   Entry_No                86 non-null     int64
 2   Entry Type              86 non-null     int64
 3   Posting Date_x          86 non-null     object
 4   Document No__x          86 non-null     object
 5   Amount (LCY)            86 non-null     float64
 6   User ID                 86 non-null     object
 7   Source Code             86 non-null     object
 8   Transaction No_         86 non-null     int64
 9   Debit Amount            86 non-null     float64
 10  Credit Amount           86 non-null     float64
 11  Customer No_            86 non-null     int64
 12  Posting Date_y          86 non-null     object
 13  Document Type           86 non-null     int64
 14  Document No__y          86 non-null     object
 15  Currency Code           33 non-null     object
 16  Customer Posting Group  86 non-null     object
 17  Salesperson Code        86 non-null     object
 18  Document Date           86 non-null     object
 19  Closed by Entry No_     86 non-null     int64
 20  Closed at Date          86 non-null     object
 21  Closed by Amount        86 non-null     float64
dtypes: float64(4), int64(7), object(11)
memory usage: 15.5+ KB

In [20]:
#null value replace in (None)
Left_Join_DCLE_CLE['Currency Code'] = Left_Join_DCLE_CLE['Currency Code'].where(pd.notnull(Left_Join_DCLE_CLE['Currency Code']), None)