In [4]:
# ! pip install pandas

In [5]:
# ! pip install --upgrade pip

In [6]:
import pandas as pd

In [7]:
CLE = pd.read_csv('D:\\O2C QDI Data\\CLE.csv')

In [8]:
CLE.rename(columns = {'Entry No_':'Entry_No'}, inplace = True)

In [9]:
CLE

,Entry_No,Customer No_,Posting Date,Document Type,Document No_,Currency Code,Customer Posting Group,Salesperson Code,Document Date,Closed by Entry No_,Closed at Date,Closed by Amount
0,1824,10000,31-12-2022,2,00-1,NaN,DOMESTIC,PS,31-12-2022,2071,15-01-2023,1762966.05
1,1826,30000,31-12-2022,2,00-10,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
2,1828,10000,31-12-2022,2,00-11,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
3,1830,20000,31-12-2022,2,00-12,NaN,DOMESTIC,PS,31-12-2022,2030,12-01-2023,3819759.78
4,1832,30000,31-12-2022,2,00-13,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
62,2356,49633663,26-01-2023,3,2810,EUR,EU,JR,26-01-2023,0,1753-01-01 00:00:00.000,0.00
63,2362,10000,18-01-2023,2,BLSINV/003,NaN,DOMESTIC,PS,18-01-2023,0,1753-01-01 00:00:00.000,0.00
64,2381,40000,12-12-2022,2,BLSINV/004,NaN,DOMESTIC,PS,12-12-2022,0,1753-01-01 00:00:00.000,0.00
65,2383,50000,04-12-2022,2,BLSINV/005,NaN,DOMESTIC,PS,04-12-2022,0,1753-01-01 00:00:00.000,0.00
66,2385,30000,16-01-2023,2,S-EXP-00002,NaN,DOMESTIC,PS,16-01-2023,0,1753-01-01 00:00:00.000,0.00

In [10]:
DCLE= pd.read_csv('D:\\O2C QDI Data\\DCLE.csv')