In [139]:
# ! pip install pandas

In [140]:
# ! pip install --upgrade pip

In [141]:
import pandas as pd

In [142]:
CLE = pd.read_csv('D:\\O2C QDI Data\\CLE.csv')

In [143]:
CLE.rename(columns = {'Entry No_':'Entry_No'}, inplace = True)

In [144]:
CLE

,Entry_No,Customer No_,Posting Date,Document Type,Document No_,Currency Code,Customer Posting Group,Salesperson Code,Document Date,Closed by Entry No_,Closed at Date,Closed by Amount
0,1824,10000,31-12-2022,2,00-1,NaN,DOMESTIC,PS,31-12-2022,2071,15-01-2023,1762966.05
1,1826,30000,31-12-2022,2,00-10,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
2,1828,10000,31-12-2022,2,00-11,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
3,1830,20000,31-12-2022,2,00-12,NaN,DOMESTIC,PS,31-12-2022,2030,12-01-2023,3819759.78
4,1832,30000,31-12-2022,2,00-13,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
5,1834,20000,31-12-2022,2,00-14,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
6,1836,30000,31-12-2022,2,00-15,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
7,1838,10000,31-12-2022,2,00-16,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
8,1840,1454545,31-12-2022,2,00-17,NaN,FOREIGN,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
9,1842,20000,31-12-2022,2,00-2,NaN,DOMESTIC,PS,31-12-2022,2026,12-01-2023,2938276.76
10,1844,10000,31-12-2022,2,00-3,NaN,DOMESTIC,PS,31-12-2022,2073,15-01-2023,3525932.11
11,1846,30000,31-12-2022,2,00-4,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
12,1848,20000,31-12-2022,2,00-5,NaN,DOMESTIC,PS,31-12-2022,2028,12-01-2023,1762966.05
13,1850,10000,31-12-2022,2,00-6,NaN,DOMESTIC,PS,31-12-2022,2075,15-01-2023,4701242.81
14,1852,30000,31-12-2022,2,00-7,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
15,1854,20000,31-12-2022,2,00-8,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
16,1856,10000,31-12-2022,2,00-9,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
17,1905,49525252,05-01-2023,2,103005,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
18,1912,49525252,05-01-2023,2,103006,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
19,1920,49858585,05-01-2023,2,103007,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
20,1928,49858585,05-01-2023,2,103008,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
21,1936,49858585,05-01-2023,2,103009,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
22,1944,49633663,05-01-2023,2,103010,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
23,1951,43687129,05-01-2023,2,103011,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
24,1958,43687129,05-01-2023,2,103012,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
25,1965,43687129,05-01-2023,2,103013,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
26,1972,49858585,05-01-2023,2,103014,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
27,1984,49525252,06-01-2023,2,2801,EUR,EU,JR,06-01-2023,0,1753-01-01 00:00:00.000,0.00
28,2000,49525252,07-01-2023,2,2802,EUR,EU,JR,07-01-2023,0,1753-01-01 00:00:00.000,0.00
29,2010,10000,08-01-2023,2,BLSINV/001,NaN,DOMESTIC,PS,05-01-2023,0,1753-01-01 00:00:00.000,0.00
30,2012,49525252,09-01-2023,2,2803,EUR,EU,JR,09-01-2023,0,1753-01-01 00:00:00.000,0.00
31,2026,20000,12-01-2023,1,2594,NaN,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
32,2028,20000,12-01-2023,1,2594,NaN,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
33,2030,20000,12-01-2023,1,2594,NaN,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
34,2039,42147258,14-01-2023,2,103015,CZK,EU,JR,13-01-2023,0,1753-01-01 00:00:00.000,0.00
35,2048,43687129,14-01-2023,2,103016,EUR,EU,JR,13-01-2023,0,1753-01-01 00:00:00.000,0.00
36,2064,20000,15-01-2023,2,103017,NaN,DOMESTIC,PS,11-01-2023,0,1753-01-01 00:00:00.000,0.00
37,2070,10000,15-01-2023,3,BLSCM/001,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
38,2071,10000,15-01-2023,1,2596,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
39,2073,10000,15-01-2023,1,2596,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
40,2075,10000,15-01-2023,1,2596,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
41,2100,20000,17-01-2023,2,103018,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
42,2107,20000,17-01-2023,3,104002,NaN,DOMESTIC,PS,17-01-2023,1854,17-01-2023,-43999.00
43,2129,32656565,18-01-2023,2,103019,EUR,EU,JR,09-01-2023,0,1753-01-01 00:00:00.000,0.00
44,2149,49633663,20-01-2023,2,103020,EUR,EU,JR,14-01-2023,2180,21-01-2023,1457.02
45,2156,20000,20-01-2023,3,104003,NaN,DOMESTIC,PS,20-01-2023,1854,20-01-2023,-80676.30
46,2162,49633663,20-01-2023,3,104005,EUR,EU,JR,20-01-2023,0,1753-01-01 00:00:00.000,0.00
47,2172,49525252,20-01-2023,2,2804,EUR,EU,JR,20-01-2023,0,1753-01-01 00:00:00.000,0.00
48,2180,49633663,21-01-2023,1,2806,EUR,EU,JR,21-01-2023,0,1753-01-01 00:00:00.000,0.00
49,2222,46897889,22-01-2023,2,103021,SEK,EU,JR,19-01-2023,0,1753-01-01 00:00:00.000,0.00
50,2240,1445544,23-01-2023,2,103022,USD,FOREIGN,JR,21-01-2023,0,1753-01-01 00:00:00.000,0.00
51,2248,20000,23-01-2023,2,103023,NaN,DOMESTIC,PS,16-01-2023,0,1753-01-01 00:00:00.000,0.00
52,2254,10000,23-01-2023,2,BLSINV/002,NaN,DOMESTIC,PS,23-01-2023,0,1753-01-01 00:00:00.000,0.00
53,2261,20000,23-01-2023,2,103002,NaN,DOMESTIC,PS,23-01-2023,0,1753-01-01 00:00:00.000,0.00
54,2266,30000,23-01-2023,2,S-EXP-00001,NaN,DOMESTIC,PS,23-01-2023,0,1753-01-01 00:00:00.000,0.00
55,2268,49633663,23-01-2023,6,2807,EUR,EU,JR,23-01-2023,0,1753-01-01 00:00:00.000,0.00
56,2277,47563218,24-01-2023,2,103024,NOK,FOREIGN,JR,20-01-2023,0,1753-01-01 00:00:00.000,0.00
57,2279,49633663,24-01-2023,2,2808,EUR,EU,JR,24-01-2023,0,1753-01-01 00:00:00.000,0.00
58,2294,35963852,25-01-2023,2,103025,ISK,FOREIGN,JR,23-01-2023,0,1753-01-01 00:00:00.000,0.00
59,2304,49525252,25-01-2023,3,2805,EUR,EU,JR,25-01-2023,0,1753-01-01 00:00:00.000,0.00
60,2306,49633663,25-01-2023,2,2809,EUR,EU,JR,25-01-2023,0,1753-01-01 00:00:00.000,0.00
61,2345,35451236,26-01-2023,2,103026,ISK,FOREIGN,JR,18-01-2023,0,1753-01-01 00:00:00.000,0.00
62,2356,49633663,26-01-2023,3,2810,EUR,EU,JR,26-01-2023,0,1753-01-01 00:00:00.000,0.00
63,2362,10000,18-01-2023,2,BLSINV/003,NaN,DOMESTIC,PS,18-01-2023,0,1753-01-01 00:00:00.000,0.00
64,2381,40000,12-12-2022,2,BLSINV/004,NaN,DOMESTIC,PS,12-12-2022,0,1753-01-01 00:00:00.000,0.00
65,2383,50000,04-12-2022,2,BLSINV/005,NaN,DOMESTIC,PS,04-12-2022,0,1753-01-01 00:00:00.000,0.00
66,2385,30000,16-01-2023,2,S-EXP-00002,NaN,DOMESTIC,PS,16-01-2023,0,1753-01-01 00:00:00.000,0.00

In [145]:
DCLE= pd.read_csv('D:\\O2C QDI Data\\DCLE.csv')

In [146]:
DCLE

,Entry No_,Cust_ Ledger Entry No_,Entry Type,Posting Date,Document No_,Amount (LCY),User ID,Source Code,Transaction No_,Debit Amount,Credit Amount
0,1,1824,1,31-12-2022,00-1,1762966.05,EUROPE\NAVSNAP,START,73,1762966.05,0.00
1,2,1826,1,31-12-2022,00-10,5288898.16,EUROPE\NAVSNAP,START,74,5288898.16,0.00
2,3,1828,1,31-12-2022,00-11,4407415.13,EUROPE\NAVSNAP,START,75,4407415.13,0.00
3,4,1830,1,31-12-2022,00-12,3819759.78,EUROPE\NAVSNAP,START,76,3819759.78,0.00
4,5,1832,1,31-12-2022,00-13,5582725.83,EUROPE\NAVSNAP,START,77,5582725.83,0.00
5,6,1834,1,31-12-2022,00-14,2644449.08,EUROPE\NAVSNAP,START,78,2644449.08,0.00
6,7,1836,1,31-12-2022,00-15,5288898.16,EUROPE\NAVSNAP,START,79,5288898.16,0.00
7,8,1838,1,31-12-2022,00-16,2350621.40,EUROPE\NAVSNAP,START,80,2350621.40,0.00
8,9,1840,1,31-12-2022,00-17,15431881.00,EUROPE\NAVSNAP,START,81,15431881.00,0.00
9,10,1842,1,31-12-2022,00-2,2938276.76,EUROPE\NAVSNAP,START,82,2938276.76,0.00
10,11,1844,1,31-12-2022,00-3,3525932.11,EUROPE\NAVSNAP,START,83,3525932.11,0.00
11,12,1846,1,31-12-2022,00-4,2350621.40,EUROPE\NAVSNAP,START,84,2350621.40,0.00
12,13,1848,1,31-12-2022,00-5,1762966.05,EUROPE\NAVSNAP,START,85,1762966.05,0.00
13,14,1850,1,31-12-2022,00-6,4701242.81,EUROPE\NAVSNAP,START,86,4701242.81,0.00
14,15,1852,1,31-12-2022,00-7,5288898.16,EUROPE\NAVSNAP,START,87,5288898.16,0.00
15,16,1854,1,31-12-2022,00-8,3525932.11,EUROPE\NAVSNAP,START,88,3525932.11,0.00
16,17,1856,1,31-12-2022,00-9,3525932.11,EUROPE\NAVSNAP,START,89,3525932.11,0.00
17,18,1905,1,05-01-2023,103005,95886.94,EUROPE\NAVSNAP,SALES,103,1784.56,0.00
18,19,1912,1,05-01-2023,103006,425703.19,EUROPE\NAVSNAP,SALES,104,7922.80,0.00
19,20,1920,1,05-01-2023,103007,343581.69,EUROPE\NAVSNAP,SALES,105,6394.43,0.00
20,21,1928,1,05-01-2023,103008,343581.69,EUROPE\NAVSNAP,SALES,106,6394.43,0.00
21,22,1936,1,05-01-2023,103009,673730.53,EUROPE\NAVSNAP,SALES,107,12538.86,0.00
22,23,1944,1,05-01-2023,103010,384711.52,EUROPE\NAVSNAP,SALES,108,7159.91,0.00
23,24,1951,1,05-01-2023,103011,285943.10,EUROPE\NAVSNAP,SALES,109,5321.72,0.00
24,25,1958,1,05-01-2023,103012,376787.27,EUROPE\NAVSNAP,SALES,110,7012.42,0.00
25,26,1965,1,05-01-2023,103013,467626.15,EUROPE\NAVSNAP,SALES,111,8703.04,0.00
26,27,1972,1,05-01-2023,103014,90661.29,EUROPE\NAVSNAP,SALES,112,1687.31,0.00
27,28,1984,1,06-01-2023,2801,9327448.65,EUROPE\NAVSNAP,SALESJNL,118,173594.00,0.00
28,29,2000,1,07-01-2023,2802,7461958.92,EUROPE\NAVSNAP,SALESJNL,122,138875.20,0.00
29,30,2010,1,08-01-2023,BLSINV/001,528617.00,EUROPE\NAVSNAP,SALES,123,528617.00,0.00
30,31,2012,1,09-01-2023,2803,13058428.11,EUROPE\NAVSNAP,SALESJNL,124,243031.60,0.00
31,32,2026,1,12-01-2023,2594,-2938276.76,EUROPE\NAVSNAP,GENJNL,128,0.00,2938276.76
32,33,1842,2,12-01-2023,2594,-2938276.76,EUROPE\NAVSNAP,GENJNL,128,0.00,2938276.76
33,34,2026,2,12-01-2023,2594,2938276.76,EUROPE\NAVSNAP,GENJNL,128,2938276.76,0.00
34,35,2028,1,12-01-2023,2594,-1762966.05,EUROPE\NAVSNAP,GENJNL,128,0.00,1762966.05
35,36,1848,2,12-01-2023,2594,-1762966.05,EUROPE\NAVSNAP,GENJNL,128,0.00,1762966.05
36,37,2028,2,12-01-2023,2594,1762966.05,EUROPE\NAVSNAP,GENJNL,128,1762966.05,0.00
37,38,2030,1,12-01-2023,2594,-3819759.78,EUROPE\NAVSNAP,GENJNL,128,0.00,3819759.78
38,39,1830,2,12-01-2023,2594,-3819759.78,EUROPE\NAVSNAP,GENJNL,128,0.00,3819759.78
39,40,2030,2,12-01-2023,2594,3819759.78,EUROPE\NAVSNAP,GENJNL,128,3819759.78,0.00
40,41,2039,1,14-01-2023,103015,135318.64,EUROPE\NAVSNAP,SALES,129,73769.77,0.00
41,42,2048,1,14-01-2023,103016,201922.08,EUROPE\NAVSNAP,SALES,130,3758.02,0.00
42,43,2064,1,15-01-2023,103017,48266.00,EUROPE\NAVSNAP,SALES,133,48266.00,0.00
43,44,2070,1,15-01-2023,BLSCM/001,-17994.00,EUROPE\NAVSNAP,SALES,134,0.00,17994.00
44,45,2071,1,15-01-2023,2596,-1762966.05,EUROPE\NAVSNAP,GENJNL,135,0.00,1762966.05
45,46,1824,2,15-01-2023,2596,-1762966.05,EUROPE\NAVSNAP,GENJNL,135,0.00,1762966.05
46,47,2071,2,15-01-2023,2596,1762966.05,EUROPE\NAVSNAP,GENJNL,135,1762966.05,0.00
47,48,2073,1,15-01-2023,2596,-3525932.11,EUROPE\NAVSNAP,GENJNL,135,0.00,3525932.11
48,49,1844,2,15-01-2023,2596,-3525932.11,EUROPE\NAVSNAP,GENJNL,135,0.00,3525932.11
49,50,2073,2,15-01-2023,2596,3525932.11,EUROPE\NAVSNAP,GENJNL,135,3525932.11,0.00
50,51,2075,1,15-01-2023,2596,-4701242.81,EUROPE\NAVSNAP,GENJNL,135,0.00,4701242.81
51,52,1850,2,15-01-2023,2596,-4701242.81,EUROPE\NAVSNAP,GENJNL,135,0.00,4701242.81
52,53,2075,2,15-01-2023,2596,4701242.81,EUROPE\NAVSNAP,GENJNL,135,4701242.81,0.00
53,54,2100,1,17-01-2023,103018,14213.50,EUROPE\NAVSNAP,SALES,141,14213.50,0.00
54,55,2107,1,17-01-2023,104002,-43999.00,EUROPE\NAVSNAP,SALES,142,0.00,43999.00
55,56,1854,2,17-01-2023,104002,-43999.00,EUROPE\NAVSNAP,SALES,142,0.00,43999.00
56,57,2107,2,17-01-2023,104002,43999.00,EUROPE\NAVSNAP,SALES,142,43999.00,0.00
57,58,2129,1,18-01-2023,103019,198854.67,EUROPE\NAVSNAP,SALES,144,3700.90,0.00
58,59,2149,1,20-01-2023,103020,78287.73,EUROPE\NAVSNAP,SALES,148,1457.02,0.00
59,60,2156,1,20-01-2023,104003,-80676.30,EUROPE\NAVSNAP,SALES,149,0.00,80676.30
60,61,1854,2,20-01-2023,104003,-80676.30,EUROPE\NAVSNAP,SALES,149,0.00,80676.30
61,62,2156,2,20-01-2023,104003,80676.30,EUROPE\NAVSNAP,SALES,149,80676.30,0.00
62,63,2162,1,20-01-2023,104005,-58640.30,EUROPE\NAVSNAP,SALES,150,0.00,1091.36
63,64,2172,1,20-01-2023,2804,8208153.74,EUROPE\NAVSNAP,SALESJNL,155,152762.70,0.00
64,65,2180,1,21-01-2023,2806,-78287.72,EUROPE\NAVSNAP,SALESJNL,157,0.00,1457.02
65,66,2149,2,21-01-2023,2806,-78287.72,EUROPE\NAVSNAP,SALESJNL,157,0.00,1457.02
66,67,2180,2,21-01-2023,2806,78287.72,EUROPE\NAVSNAP,SALESJNL,157,1457.02,0.00
67,68,2149,11,21-01-2023,2806,-0.01,EUROPE\NAVSNAP,SALESJNL,157,0.00,0.00
68,69,2222,1,22-01-2023,103021,59247.82,EUROPE\NAVSNAP,SALES,163,10300.93,0.00
69,70,2240,1,23-01-2023,103022,133458.14,EUROPE\NAVSNAP,SALES,165,3072.95,0.00
70,71,2248,1,23-01-2023,103023,74360.30,EUROPE\NAVSNAP,SALES,166,74360.30,0.00
71,72,2254,1,23-01-2023,BLSINV/002,564630.00,EUROPE\NAVSNAP,SALES,167,564630.00,0.00
72,73,2261,1,23-01-2023,103002,434761.00,EUROPE\NAVSNAP,SALES,168,434761.00,0.00
73,74,2266,1,23-01-2023,S-EXP-00001,411979.00,EUROPE\NAVSNAP,SALES,169,411979.00,0.00
74,75,2268,1,23-01-2023,2807,2721608.25,EUROPE\NAVSNAP,SALESJNL,170,50652.10,0.00
75,76,2277,1,24-01-2023,103024,953012.26,EUROPE\NAVSNAP,SALES,171,140374.72,0.00
76,77,2279,1,24-01-2023,2808,14923912.47,EUROPE\NAVSNAP,SALESJNL,172,277750.30,0.00
77,78,2294,1,25-01-2023,103025,141645.76,EUROPE\NAVSNAP,SALES,174,209713.52,0.00
78,79,2304,1,25-01-2023,2805,-3730979.46,EUROPE\NAVSNAP,SALESJNL,179,0.00,69437.60
79,80,2306,1,25-01-2023,2809,9327448.65,EUROPE\NAVSNAP,SALESJNL,180,173594.00,0.00
80,81,2345,1,26-01-2023,103026,78851.07,EUROPE\NAVSNAP,SALES,186,116743.37,0.00
81,82,2356,1,26-01-2023,2810,-1865489.73,EUROPE\NAVSNAP,SALESJNL,191,0.00,34718.80
82,83,2362,1,18-01-2023,BLSINV/003,243121.01,EUROPE\NAVSNAP,SALES,192,243121.01,0.00
83,84,2381,1,12-12-2022,BLSINV/004,73810.00,EUROPE\NAVSNAP,SALES,196,73810.00,0.00
84,85,2383,1,04-12-2022,BLSINV/005,37030.00,EUROPE\NAVSNAP,SALES,197,37030.00,0.00
85,86,2385,1,16-01-2023,S-EXP-00002,47830.00,EUROPE\NAVSNAP,SALES,198,47830.00,0.00

In [147]:
DCLE.rename(columns = {'Cust_ Ledger Entry No_':'Entry_No'}, inplace = True)

In [148]:
DCLE

,Entry No_,Entry_No,Entry Type,Posting Date,Document No_,Amount (LCY),User ID,Source Code,Transaction No_,Debit Amount,Credit Amount
0,1,1824,1,31-12-2022,00-1,1762966.05,EUROPE\NAVSNAP,START,73,1762966.05,0.00
1,2,1826,1,31-12-2022,00-10,5288898.16,EUROPE\NAVSNAP,START,74,5288898.16,0.00
2,3,1828,1,31-12-2022,00-11,4407415.13,EUROPE\NAVSNAP,START,75,4407415.13,0.00
3,4,1830,1,31-12-2022,00-12,3819759.78,EUROPE\NAVSNAP,START,76,3819759.78,0.00
4,5,1832,1,31-12-2022,00-13,5582725.83,EUROPE\NAVSNAP,START,77,5582725.83,0.00
5,6,1834,1,31-12-2022,00-14,2644449.08,EUROPE\NAVSNAP,START,78,2644449.08,0.00
6,7,1836,1,31-12-2022,00-15,5288898.16,EUROPE\NAVSNAP,START,79,5288898.16,0.00
7,8,1838,1,31-12-2022,00-16,2350621.40,EUROPE\NAVSNAP,START,80,2350621.40,0.00
8,9,1840,1,31-12-2022,00-17,15431881.00,EUROPE\NAVSNAP,START,81,15431881.00,0.00
9,10,1842,1,31-12-2022,00-2,2938276.76,EUROPE\NAVSNAP,START,82,2938276.76,0.00
10,11,1844,1,31-12-2022,00-3,3525932.11,EUROPE\NAVSNAP,START,83,3525932.11,0.00
11,12,1846,1,31-12-2022,00-4,2350621.40,EUROPE\NAVSNAP,START,84,2350621.40,0.00
12,13,1848,1,31-12-2022,00-5,1762966.05,EUROPE\NAVSNAP,START,85,1762966.05,0.00
13,14,1850,1,31-12-2022,00-6,4701242.81,EUROPE\NAVSNAP,START,86,4701242.81,0.00
14,15,1852,1,31-12-2022,00-7,5288898.16,EUROPE\NAVSNAP,START,87,5288898.16,0.00
15,16,1854,1,31-12-2022,00-8,3525932.11,EUROPE\NAVSNAP,START,88,3525932.11,0.00
16,17,1856,1,31-12-2022,00-9,3525932.11,EUROPE\NAVSNAP,START,89,3525932.11,0.00
17,18,1905,1,05-01-2023,103005,95886.94,EUROPE\NAVSNAP,SALES,103,1784.56,0.00
18,19,1912,1,05-01-2023,103006,425703.19,EUROPE\NAVSNAP,SALES,104,7922.80,0.00
19,20,1920,1,05-01-2023,103007,343581.69,EUROPE\NAVSNAP,SALES,105,6394.43,0.00
20,21,1928,1,05-01-2023,103008,343581.69,EUROPE\NAVSNAP,SALES,106,6394.43,0.00
21,22,1936,1,05-01-2023,103009,673730.53,EUROPE\NAVSNAP,SALES,107,12538.86,0.00
22,23,1944,1,05-01-2023,103010,384711.52,EUROPE\NAVSNAP,SALES,108,7159.91,0.00
23,24,1951,1,05-01-2023,103011,285943.10,EUROPE\NAVSNAP,SALES,109,5321.72,0.00
24,25,1958,1,05-01-2023,103012,376787.27,EUROPE\NAVSNAP,SALES,110,7012.42,0.00
25,26,1965,1,05-01-2023,103013,467626.15,EUROPE\NAVSNAP,SALES,111,8703.04,0.00
26,27,1972,1,05-01-2023,103014,90661.29,EUROPE\NAVSNAP,SALES,112,1687.31,0.00
27,28,1984,1,06-01-2023,2801,9327448.65,EUROPE\NAVSNAP,SALESJNL,118,173594.00,0.00
28,29,2000,1,07-01-2023,2802,7461958.92,EUROPE\NAVSNAP,SALESJNL,122,138875.20,0.00
29,30,2010,1,08-01-2023,BLSINV/001,528617.00,EUROPE\NAVSNAP,SALES,123,528617.00,0.00
30,31,2012,1,09-01-2023,2803,13058428.11,EUROPE\NAVSNAP,SALESJNL,124,243031.60,0.00
31,32,2026,1,12-01-2023,2594,-2938276.76,EUROPE\NAVSNAP,GENJNL,128,0.00,2938276.76
32,33,1842,2,12-01-2023,2594,-2938276.76,EUROPE\NAVSNAP,GENJNL,128,0.00,2938276.76
33,34,2026,2,12-01-2023,2594,2938276.76,EUROPE\NAVSNAP,GENJNL,128,2938276.76,0.00
34,35,2028,1,12-01-2023,2594,-1762966.05,EUROPE\NAVSNAP,GENJNL,128,0.00,1762966.05
35,36,1848,2,12-01-2023,2594,-1762966.05,EUROPE\NAVSNAP,GENJNL,128,0.00,1762966.05
36,37,2028,2,12-01-2023,2594,1762966.05,EUROPE\NAVSNAP,GENJNL,128,1762966.05,0.00
37,38,2030,1,12-01-2023,2594,-3819759.78,EUROPE\NAVSNAP,GENJNL,128,0.00,3819759.78
38,39,1830,2,12-01-2023,2594,-3819759.78,EUROPE\NAVSNAP,GENJNL,128,0.00,3819759.78
39,40,2030,2,12-01-2023,2594,3819759.78,EUROPE\NAVSNAP,GENJNL,128,3819759.78,0.00
40,41,2039,1,14-01-2023,103015,135318.64,EUROPE\NAVSNAP,SALES,129,73769.77,0.00
41,42,2048,1,14-01-2023,103016,201922.08,EUROPE\NAVSNAP,SALES,130,3758.02,0.00
42,43,2064,1,15-01-2023,103017,48266.00,EUROPE\NAVSNAP,SALES,133,48266.00,0.00
43,44,2070,1,15-01-2023,BLSCM/001,-17994.00,EUROPE\NAVSNAP,SALES,134,0.00,17994.00
44,45,2071,1,15-01-2023,2596,-1762966.05,EUROPE\NAVSNAP,GENJNL,135,0.00,1762966.05
45,46,1824,2,15-01-2023,2596,-1762966.05,EUROPE\NAVSNAP,GENJNL,135,0.00,1762966.05
46,47,2071,2,15-01-2023,2596,1762966.05,EUROPE\NAVSNAP,GENJNL,135,1762966.05,0.00
47,48,2073,1,15-01-2023,2596,-3525932.11,EUROPE\NAVSNAP,GENJNL,135,0.00,3525932.11
48,49,1844,2,15-01-2023,2596,-3525932.11,EUROPE\NAVSNAP,GENJNL,135,0.00,3525932.11
49,50,2073,2,15-01-2023,2596,3525932.11,EUROPE\NAVSNAP,GENJNL,135,3525932.11,0.00
50,51,2075,1,15-01-2023,2596,-4701242.81,EUROPE\NAVSNAP,GENJNL,135,0.00,4701242.81
51,52,1850,2,15-01-2023,2596,-4701242.81,EUROPE\NAVSNAP,GENJNL,135,0.00,4701242.81
52,53,2075,2,15-01-2023,2596,4701242.81,EUROPE\NAVSNAP,GENJNL,135,4701242.81,0.00
53,54,2100,1,17-01-2023,103018,14213.50,EUROPE\NAVSNAP,SALES,141,14213.50,0.00
54,55,2107,1,17-01-2023,104002,-43999.00,EUROPE\NAVSNAP,SALES,142,0.00,43999.00
55,56,1854,2,17-01-2023,104002,-43999.00,EUROPE\NAVSNAP,SALES,142,0.00,43999.00
56,57,2107,2,17-01-2023,104002,43999.00,EUROPE\NAVSNAP,SALES,142,43999.00,0.00
57,58,2129,1,18-01-2023,103019,198854.67,EUROPE\NAVSNAP,SALES,144,3700.90,0.00
58,59,2149,1,20-01-2023,103020,78287.73,EUROPE\NAVSNAP,SALES,148,1457.02,0.00
59,60,2156,1,20-01-2023,104003,-80676.30,EUROPE\NAVSNAP,SALES,149,0.00,80676.30
60,61,1854,2,20-01-2023,104003,-80676.30,EUROPE\NAVSNAP,SALES,149,0.00,80676.30
61,62,2156,2,20-01-2023,104003,80676.30,EUROPE\NAVSNAP,SALES,149,80676.30,0.00
62,63,2162,1,20-01-2023,104005,-58640.30,EUROPE\NAVSNAP,SALES,150,0.00,1091.36
63,64,2172,1,20-01-2023,2804,8208153.74,EUROPE\NAVSNAP,SALESJNL,155,152762.70,0.00
64,65,2180,1,21-01-2023,2806,-78287.72,EUROPE\NAVSNAP,SALESJNL,157,0.00,1457.02
65,66,2149,2,21-01-2023,2806,-78287.72,EUROPE\NAVSNAP,SALESJNL,157,0.00,1457.02
66,67,2180,2,21-01-2023,2806,78287.72,EUROPE\NAVSNAP,SALESJNL,157,1457.02,0.00
67,68,2149,11,21-01-2023,2806,-0.01,EUROPE\NAVSNAP,SALESJNL,157,0.00,0.00
68,69,2222,1,22-01-2023,103021,59247.82,EUROPE\NAVSNAP,SALES,163,10300.93,0.00
69,70,2240,1,23-01-2023,103022,133458.14,EUROPE\NAVSNAP,SALES,165,3072.95,0.00
70,71,2248,1,23-01-2023,103023,74360.30,EUROPE\NAVSNAP,SALES,166,74360.30,0.00
71,72,2254,1,23-01-2023,BLSINV/002,564630.00,EUROPE\NAVSNAP,SALES,167,564630.00,0.00
72,73,2261,1,23-01-2023,103002,434761.00,EUROPE\NAVSNAP,SALES,168,434761.00,0.00
73,74,2266,1,23-01-2023,S-EXP-00001,411979.00,EUROPE\NAVSNAP,SALES,169,411979.00,0.00
74,75,2268,1,23-01-2023,2807,2721608.25,EUROPE\NAVSNAP,SALESJNL,170,50652.10,0.00
75,76,2277,1,24-01-2023,103024,953012.26,EUROPE\NAVSNAP,SALES,171,140374.72,0.00
76,77,2279,1,24-01-2023,2808,14923912.47,EUROPE\NAVSNAP,SALESJNL,172,277750.30,0.00
77,78,2294,1,25-01-2023,103025,141645.76,EUROPE\NAVSNAP,SALES,174,209713.52,0.00
78,79,2304,1,25-01-2023,2805,-3730979.46,EUROPE\NAVSNAP,SALESJNL,179,0.00,69437.60
79,80,2306,1,25-01-2023,2809,9327448.65,EUROPE\NAVSNAP,SALESJNL,180,173594.00,0.00
80,81,2345,1,26-01-2023,103026,78851.07,EUROPE\NAVSNAP,SALES,186,116743.37,0.00
81,82,2356,1,26-01-2023,2810,-1865489.73,EUROPE\NAVSNAP,SALESJNL,191,0.00,34718.80
82,83,2362,1,18-01-2023,BLSINV/003,243121.01,EUROPE\NAVSNAP,SALES,192,243121.01,0.00
83,84,2381,1,12-12-2022,BLSINV/004,73810.00,EUROPE\NAVSNAP,SALES,196,73810.00,0.00
84,85,2383,1,04-12-2022,BLSINV/005,37030.00,EUROPE\NAVSNAP,SALES,197,37030.00,0.00
85,86,2385,1,16-01-2023,S-EXP-00002,47830.00,EUROPE\NAVSNAP,SALES,198,47830.00,0.00

In [149]:
Left_Join_DCLE_CLE = DCLE.merge(CLE, on='Entry_No', how='left')

In [150]:
Left_Join_DCLE_CLE

,Entry No_,Entry_No,Entry Type,Posting Date_x,Document No__x,Amount (LCY),User ID,Source Code,Transaction No_,Debit Amount,Credit Amount,Customer No_,Posting Date_y,Document Type,Document No__y,Currency Code,Customer Posting Group,Salesperson Code,Document Date,Closed by Entry No_,Closed at Date,Closed by Amount
0,1,1824,1,31-12-2022,00-1,1762966.05,EUROPE\NAVSNAP,START,73,1762966.05,0.00,10000,31-12-2022,2,00-1,NaN,DOMESTIC,PS,31-12-2022,2071,15-01-2023,1762966.05
1,2,1826,1,31-12-2022,00-10,5288898.16,EUROPE\NAVSNAP,START,74,5288898.16,0.00,30000,31-12-2022,2,00-10,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
2,3,1828,1,31-12-2022,00-11,4407415.13,EUROPE\NAVSNAP,START,75,4407415.13,0.00,10000,31-12-2022,2,00-11,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
3,4,1830,1,31-12-2022,00-12,3819759.78,EUROPE\NAVSNAP,START,76,3819759.78,0.00,20000,31-12-2022,2,00-12,NaN,DOMESTIC,PS,31-12-2022,2030,12-01-2023,3819759.78
4,5,1832,1,31-12-2022,00-13,5582725.83,EUROPE\NAVSNAP,START,77,5582725.83,0.00,30000,31-12-2022,2,00-13,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
5,6,1834,1,31-12-2022,00-14,2644449.08,EUROPE\NAVSNAP,START,78,2644449.08,0.00,20000,31-12-2022,2,00-14,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
6,7,1836,1,31-12-2022,00-15,5288898.16,EUROPE\NAVSNAP,START,79,5288898.16,0.00,30000,31-12-2022,2,00-15,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
7,8,1838,1,31-12-2022,00-16,2350621.40,EUROPE\NAVSNAP,START,80,2350621.40,0.00,10000,31-12-2022,2,00-16,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
8,9,1840,1,31-12-2022,00-17,15431881.00,EUROPE\NAVSNAP,START,81,15431881.00,0.00,1454545,31-12-2022,2,00-17,NaN,FOREIGN,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
9,10,1842,1,31-12-2022,00-2,2938276.76,EUROPE\NAVSNAP,START,82,2938276.76,0.00,20000,31-12-2022,2,00-2,NaN,DOMESTIC,PS,31-12-2022,2026,12-01-2023,2938276.76
10,11,1844,1,31-12-2022,00-3,3525932.11,EUROPE\NAVSNAP,START,83,3525932.11,0.00,10000,31-12-2022,2,00-3,NaN,DOMESTIC,PS,31-12-2022,2073,15-01-2023,3525932.11
11,12,1846,1,31-12-2022,00-4,2350621.40,EUROPE\NAVSNAP,START,84,2350621.40,0.00,30000,31-12-2022,2,00-4,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
12,13,1848,1,31-12-2022,00-5,1762966.05,EUROPE\NAVSNAP,START,85,1762966.05,0.00,20000,31-12-2022,2,00-5,NaN,DOMESTIC,PS,31-12-2022,2028,12-01-2023,1762966.05
13,14,1850,1,31-12-2022,00-6,4701242.81,EUROPE\NAVSNAP,START,86,4701242.81,0.00,10000,31-12-2022,2,00-6,NaN,DOMESTIC,PS,31-12-2022,2075,15-01-2023,4701242.81
14,15,1852,1,31-12-2022,00-7,5288898.16,EUROPE\NAVSNAP,START,87,5288898.16,0.00,30000,31-12-2022,2,00-7,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
15,16,1854,1,31-12-2022,00-8,3525932.11,EUROPE\NAVSNAP,START,88,3525932.11,0.00,20000,31-12-2022,2,00-8,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
16,17,1856,1,31-12-2022,00-9,3525932.11,EUROPE\NAVSNAP,START,89,3525932.11,0.00,10000,31-12-2022,2,00-9,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
17,18,1905,1,05-01-2023,103005,95886.94,EUROPE\NAVSNAP,SALES,103,1784.56,0.00,49525252,05-01-2023,2,103005,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
18,19,1912,1,05-01-2023,103006,425703.19,EUROPE\NAVSNAP,SALES,104,7922.80,0.00,49525252,05-01-2023,2,103006,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
19,20,1920,1,05-01-2023,103007,343581.69,EUROPE\NAVSNAP,SALES,105,6394.43,0.00,49858585,05-01-2023,2,103007,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
20,21,1928,1,05-01-2023,103008,343581.69,EUROPE\NAVSNAP,SALES,106,6394.43,0.00,49858585,05-01-2023,2,103008,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
21,22,1936,1,05-01-2023,103009,673730.53,EUROPE\NAVSNAP,SALES,107,12538.86,0.00,49858585,05-01-2023,2,103009,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
22,23,1944,1,05-01-2023,103010,384711.52,EUROPE\NAVSNAP,SALES,108,7159.91,0.00,49633663,05-01-2023,2,103010,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
23,24,1951,1,05-01-2023,103011,285943.10,EUROPE\NAVSNAP,SALES,109,5321.72,0.00,43687129,05-01-2023,2,103011,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
24,25,1958,1,05-01-2023,103012,376787.27,EUROPE\NAVSNAP,SALES,110,7012.42,0.00,43687129,05-01-2023,2,103012,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
25,26,1965,1,05-01-2023,103013,467626.15,EUROPE\NAVSNAP,SALES,111,8703.04,0.00,43687129,05-01-2023,2,103013,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
26,27,1972,1,05-01-2023,103014,90661.29,EUROPE\NAVSNAP,SALES,112,1687.31,0.00,49858585,05-01-2023,2,103014,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
27,28,1984,1,06-01-2023,2801,9327448.65,EUROPE\NAVSNAP,SALESJNL,118,173594.00,0.00,49525252,06-01-2023,2,2801,EUR,EU,JR,06-01-2023,0,1753-01-01 00:00:00.000,0.00
28,29,2000,1,07-01-2023,2802,7461958.92,EUROPE\NAVSNAP,SALESJNL,122,138875.20,0.00,49525252,07-01-2023,2,2802,EUR,EU,JR,07-01-2023,0,1753-01-01 00:00:00.000,0.00
29,30,2010,1,08-01-2023,BLSINV/001,528617.00,EUROPE\NAVSNAP,SALES,123,528617.00,0.00,10000,08-01-2023,2,BLSINV/001,NaN,DOMESTIC,PS,05-01-2023,0,1753-01-01 00:00:00.000,0.00
30,31,2012,1,09-01-2023,2803,13058428.11,EUROPE\NAVSNAP,SALESJNL,124,243031.60,0.00,49525252,09-01-2023,2,2803,EUR,EU,JR,09-01-2023,0,1753-01-01 00:00:00.000,0.00
31,32,2026,1,12-01-2023,2594,-2938276.76,EUROPE\NAVSNAP,GENJNL,128,0.00,2938276.76,20000,12-01-2023,1,2594,NaN,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
32,33,1842,2,12-01-2023,2594,-2938276.76,EUROPE\NAVSNAP,GENJNL,128,0.00,2938276.76,20000,31-12-2022,2,00-2,NaN,DOMESTIC,PS,31-12-2022,2026,12-01-2023,2938276.76
33,34,2026,2,12-01-2023,2594,2938276.76,EUROPE\NAVSNAP,GENJNL,128,2938276.76,0.00,20000,12-01-2023,1,2594,NaN,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
34,35,2028,1,12-01-2023,2594,-1762966.05,EUROPE\NAVSNAP,GENJNL,128,0.00,1762966.05,20000,12-01-2023,1,2594,NaN,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
35,36,1848,2,12-01-2023,2594,-1762966.05,EUROPE\NAVSNAP,GENJNL,128,0.00,1762966.05,20000,31-12-2022,2,00-5,NaN,DOMESTIC,PS,31-12-2022,2028,12-01-2023,1762966.05
36,37,2028,2,12-01-2023,2594,1762966.05,EUROPE\NAVSNAP,GENJNL,128,1762966.05,0.00,20000,12-01-2023,1,2594,NaN,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
37,38,2030,1,12-01-2023,2594,-3819759.78,EUROPE\NAVSNAP,GENJNL,128,0.00,3819759.78,20000,12-01-2023,1,2594,NaN,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
38,39,1830,2,12-01-2023,2594,-3819759.78,EUROPE\NAVSNAP,GENJNL,128,0.00,3819759.78,20000,31-12-2022,2,00-12,NaN,DOMESTIC,PS,31-12-2022,2030,12-01-2023,3819759.78
39,40,2030,2,12-01-2023,2594,3819759.78,EUROPE\NAVSNAP,GENJNL,128,3819759.78,0.00,20000,12-01-2023,1,2594,NaN,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
40,41,2039,1,14-01-2023,103015,135318.64,EUROPE\NAVSNAP,SALES,129,73769.77,0.00,42147258,14-01-2023,2,103015,CZK,EU,JR,13-01-2023,0,1753-01-01 00:00:00.000,0.00
41,42,2048,1,14-01-2023,103016,201922.08,EUROPE\NAVSNAP,SALES,130,3758.02,0.00,43687129,14-01-2023,2,103016,EUR,EU,JR,13-01-2023,0,1753-01-01 00:00:00.000,0.00
42,43,2064,1,15-01-2023,103017,48266.00,EUROPE\NAVSNAP,SALES,133,48266.00,0.00,20000,15-01-2023,2,103017,NaN,DOMESTIC,PS,11-01-2023,0,1753-01-01 00:00:00.000,0.00
43,44,2070,1,15-01-2023,BLSCM/001,-17994.00,EUROPE\NAVSNAP,SALES,134,0.00,17994.00,10000,15-01-2023,3,BLSCM/001,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
44,45,2071,1,15-01-2023,2596,-1762966.05,EUROPE\NAVSNAP,GENJNL,135,0.00,1762966.05,10000,15-01-2023,1,2596,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
45,46,1824,2,15-01-2023,2596,-1762966.05,EUROPE\NAVSNAP,GENJNL,135,0.00,1762966.05,10000,31-12-2022,2,00-1,NaN,DOMESTIC,PS,31-12-2022,2071,15-01-2023,1762966.05
46,47,2071,2,15-01-2023,2596,1762966.05,EUROPE\NAVSNAP,GENJNL,135,1762966.05,0.00,10000,15-01-2023,1,2596,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
47,48,2073,1,15-01-2023,2596,-3525932.11,EUROPE\NAVSNAP,GENJNL,135,0.00,3525932.11,10000,15-01-2023,1,2596,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
48,49,1844,2,15-01-2023,2596,-3525932.11,EUROPE\NAVSNAP,GENJNL,135,0.00,3525932.11,10000,31-12-2022,2,00-3,NaN,DOMESTIC,PS,31-12-2022,2073,15-01-2023,3525932.11
49,50,2073,2,15-01-2023,2596,3525932.11,EUROPE\NAVSNAP,GENJNL,135,3525932.11,0.00,10000,15-01-2023,1,2596,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
50,51,2075,1,15-01-2023,2596,-4701242.81,EUROPE\NAVSNAP,GENJNL,135,0.00,4701242.81,10000,15-01-2023,1,2596,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
51,52,1850,2,15-01-2023,2596,-4701242.81,EUROPE\NAVSNAP,GENJNL,135,0.00,4701242.81,10000,31-12-2022,2,00-6,NaN,DOMESTIC,PS,31-12-2022,2075,15-01-2023,4701242.81
52,53,2075,2,15-01-2023,2596,4701242.81,EUROPE\NAVSNAP,GENJNL,135,4701242.81,0.00,10000,15-01-2023,1,2596,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
53,54,2100,1,17-01-2023,103018,14213.50,EUROPE\NAVSNAP,SALES,141,14213.50,0.00,20000,17-01-2023,2,103018,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
54,55,2107,1,17-01-2023,104002,-43999.00,EUROPE\NAVSNAP,SALES,142,0.00,43999.00,20000,17-01-2023,3,104002,NaN,DOMESTIC,PS,17-01-2023,1854,17-01-2023,-43999.00
55,56,1854,2,17-01-2023,104002,-43999.00,EUROPE\NAVSNAP,SALES,142,0.00,43999.00,20000,31-12-2022,2,00-8,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
56,57,2107,2,17-01-2023,104002,43999.00,EUROPE\NAVSNAP,SALES,142,43999.00,0.00,20000,17-01-2023,3,104002,NaN,DOMESTIC,PS,17-01-2023,1854,17-01-2023,-43999.00
57,58,2129,1,18-01-2023,103019,198854.67,EUROPE\NAVSNAP,SALES,144,3700.90,0.00,32656565,18-01-2023,2,103019,EUR,EU,JR,09-01-2023,0,1753-01-01 00:00:00.000,0.00
58,59,2149,1,20-01-2023,103020,78287.73,EUROPE\NAVSNAP,SALES,148,1457.02,0.00,49633663,20-01-2023,2,103020,EUR,EU,JR,14-01-2023,2180,21-01-2023,1457.02
59,60,2156,1,20-01-2023,104003,-80676.30,EUROPE\NAVSNAP,SALES,149,0.00,80676.30,20000,20-01-2023,3,104003,NaN,DOMESTIC,PS,20-01-2023,1854,20-01-2023,-80676.30
60,61,1854,2,20-01-2023,104003,-80676.30,EUROPE\NAVSNAP,SALES,149,0.00,80676.30,20000,31-12-2022,2,00-8,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
61,62,2156,2,20-01-2023,104003,80676.30,EUROPE\NAVSNAP,SALES,149,80676.30,0.00,20000,20-01-2023,3,104003,NaN,DOMESTIC,PS,20-01-2023,1854,20-01-2023,-80676.30
62,63,2162,1,20-01-2023,104005,-58640.30,EUROPE\NAVSNAP,SALES,150,0.00,1091.36,49633663,20-01-2023,3,104005,EUR,EU,JR,20-01-2023,0,1753-01-01 00:00:00.000,0.00
63,64,2172,1,20-01-2023,2804,8208153.74,EUROPE\NAVSNAP,SALESJNL,155,152762.70,0.00,49525252,20-01-2023,2,2804,EUR,EU,JR,20-01-2023,0,1753-01-01 00:00:00.000,0.00
64,65,2180,1,21-01-2023,2806,-78287.72,EUROPE\NAVSNAP,SALESJNL,157,0.00,1457.02,49633663,21-01-2023,1,2806,EUR,EU,JR,21-01-2023,0,1753-01-01 00:00:00.000,0.00
65,66,2149,2,21-01-2023,2806,-78287.72,EUROPE\NAVSNAP,SALESJNL,157,0.00,1457.02,49633663,20-01-2023,2,103020,EUR,EU,JR,14-01-2023,2180,21-01-2023,1457.02
66,67,2180,2,21-01-2023,2806,78287.72,EUROPE\NAVSNAP,SALESJNL,157,1457.02,0.00,49633663,21-01-2023,1,2806,EUR,EU,JR,21-01-2023,0,1753-01-01 00:00:00.000,0.00
67,68,2149,11,21-01-2023,2806,-0.01,EUROPE\NAVSNAP,SALESJNL,157,0.00,0.00,49633663,20-01-2023,2,103020,EUR,EU,JR,14-01-2023,2180,21-01-2023,1457.02
68,69,2222,1,22-01-2023,103021,59247.82,EUROPE\NAVSNAP,SALES,163,10300.93,0.00,46897889,22-01-2023,2,103021,SEK,EU,JR,19-01-2023,0,1753-01-01 00:00:00.000,0.00
69,70,2240,1,23-01-2023,103022,133458.14,EUROPE\NAVSNAP,SALES,165,3072.95,0.00,1445544,23-01-2023,2,103022,USD,FOREIGN,JR,21-01-2023,0,1753-01-01 00:00:00.000,0.00
70,71,2248,1,23-01-2023,103023,74360.30,EUROPE\NAVSNAP,SALES,166,74360.30,0.00,20000,23-01-2023,2,103023,NaN,DOMESTIC,PS,16-01-2023,0,1753-01-01 00:00:00.000,0.00
71,72,2254,1,23-01-2023,BLSINV/002,564630.00,EUROPE\NAVSNAP,SALES,167,564630.00,0.00,10000,23-01-2023,2,BLSINV/002,NaN,DOMESTIC,PS,23-01-2023,0,1753-01-01 00:00:00.000,0.00
72,73,2261,1,23-01-2023,103002,434761.00,EUROPE\NAVSNAP,SALES,168,434761.00,0.00,20000,23-01-2023,2,103002,NaN,DOMESTIC,PS,23-01-2023,0,1753-01-01 00:00:00.000,0.00
73,74,2266,1,23-01-2023,S-EXP-00001,411979.00,EUROPE\NAVSNAP,SALES,169,411979.00,0.00,30000,23-01-2023,2,S-EXP-00001,NaN,DOMESTIC,PS,23-01-2023,0,1753-01-01 00:00:00.000,0.00
74,75,2268,1,23-01-2023,2807,2721608.25,EUROPE\NAVSNAP,SALESJNL,170,50652.10,0.00,49633663,23-01-2023,6,2807,EUR,EU,JR,23-01-2023,0,1753-01-01 00:00:00.000,0.00
75,76,2277,1,24-01-2023,103024,953012.26,EUROPE\NAVSNAP,SALES,171,140374.72,0.00,47563218,24-01-2023,2,103024,NOK,FOREIGN,JR,20-01-2023,0,1753-01-01 00:00:00.000,0.00
76,77,2279,1,24-01-2023,2808,14923912.47,EUROPE\NAVSNAP,SALESJNL,172,277750.30,0.00,49633663,24-01-2023,2,2808,EUR,EU,JR,24-01-2023,0,1753-01-01 00:00:00.000,0.00
77,78,2294,1,25-01-2023,103025,141645.76,EUROPE\NAVSNAP,SALES,174,209713.52,0.00,35963852,25-01-2023,2,103025,ISK,FOREIGN,JR,23-01-2023,0,1753-01-01 00:00:00.000,0.00
78,79,2304,1,25-01-2023,2805,-3730979.46,EUROPE\NAVSNAP,SALESJNL,179,0.00,69437.60,49525252,25-01-2023,3,2805,EUR,EU,JR,25-01-2023,0,1753-01-01 00:00:00.000,0.00
79,80,2306,1,25-01-2023,2809,9327448.65,EUROPE\NAVSNAP,SALESJNL,180,173594.00,0.00,49633663,25-01-2023,2,2809,EUR,EU,JR,25-01-2023,0,1753-01-01 00:00:00.000,0.00
80,81,2345,1,26-01-2023,103026,78851.07,EUROPE\NAVSNAP,SALES,186,116743.37,0.00,35451236,26-01-2023,2,103026,ISK,FOREIGN,JR,18-01-2023,0,1753-01-01 00:00:00.000,0.00
81,82,2356,1,26-01-2023,2810,-1865489.73,EUROPE\NAVSNAP,SALESJNL,191,0.00,34718.80,49633663,26-01-2023,3,2810,EUR,EU,JR,26-01-2023,0,1753-01-01 00:00:00.000,0.00
82,83,2362,1,18-01-2023,BLSINV/003,243121.01,EUROPE\NAVSNAP,SALES,192,243121.01,0.00,10000,18-01-2023,2,BLSINV/003,NaN,DOMESTIC,PS,18-01-2023,0,1753-01-01 00:00:00.000,0.00
83,84,2381,1,12-12-2022,BLSINV/004,73810.00,EUROPE\NAVSNAP,SALES,196,73810.00,0.00,40000,12-12-2022,2,BLSINV/004,NaN,DOMESTIC,PS,12-12-2022,0,1753-01-01 00:00:00.000,0.00
84,85,2383,1,04-12-2022,BLSINV/005,37030.00,EUROPE\NAVSNAP,SALES,197,37030.00,0.00,50000,04-12-2022,2,BLSINV/005,NaN,DOMESTIC,PS,04-12-2022,0,1753-01-01 00:00:00.000,0.00
85,86,2385,1,16-01-2023,S-EXP-00002,47830.00,EUROPE\NAVSNAP,SALES,198,47830.00,0.00,30000,16-01-2023,2,S-EXP-00002,NaN,DOMESTIC,PS,16-01-2023,0,1753-01-01 00:00:00.000,0.00

In [151]:
#pd.set_option('display.max_column',None)
#Left_Join_DCLE_CLE

In [152]:
 #Filter by column name 
 #Left_Join_DCLE_CLE.loc[Left_Join_DCLE_CLE['Entry_No'] == 2385]

In [153]:
Left_Join_DCLE_CLE

,Entry No_,Entry_No,Entry Type,Posting Date_x,Document No__x,Amount (LCY),User ID,Source Code,Transaction No_,Debit Amount,Credit Amount,Customer No_,Posting Date_y,Document Type,Document No__y,Currency Code,Customer Posting Group,Salesperson Code,Document Date,Closed by Entry No_,Closed at Date,Closed by Amount
0,1,1824,1,31-12-2022,00-1,1762966.05,EUROPE\NAVSNAP,START,73,1762966.05,0.00,10000,31-12-2022,2,00-1,NaN,DOMESTIC,PS,31-12-2022,2071,15-01-2023,1762966.05
1,2,1826,1,31-12-2022,00-10,5288898.16,EUROPE\NAVSNAP,START,74,5288898.16,0.00,30000,31-12-2022,2,00-10,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
2,3,1828,1,31-12-2022,00-11,4407415.13,EUROPE\NAVSNAP,START,75,4407415.13,0.00,10000,31-12-2022,2,00-11,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
3,4,1830,1,31-12-2022,00-12,3819759.78,EUROPE\NAVSNAP,START,76,3819759.78,0.00,20000,31-12-2022,2,00-12,NaN,DOMESTIC,PS,31-12-2022,2030,12-01-2023,3819759.78
4,5,1832,1,31-12-2022,00-13,5582725.83,EUROPE\NAVSNAP,START,77,5582725.83,0.00,30000,31-12-2022,2,00-13,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
5,6,1834,1,31-12-2022,00-14,2644449.08,EUROPE\NAVSNAP,START,78,2644449.08,0.00,20000,31-12-2022,2,00-14,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
6,7,1836,1,31-12-2022,00-15,5288898.16,EUROPE\NAVSNAP,START,79,5288898.16,0.00,30000,31-12-2022,2,00-15,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
7,8,1838,1,31-12-2022,00-16,2350621.40,EUROPE\NAVSNAP,START,80,2350621.40,0.00,10000,31-12-2022,2,00-16,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
8,9,1840,1,31-12-2022,00-17,15431881.00,EUROPE\NAVSNAP,START,81,15431881.00,0.00,1454545,31-12-2022,2,00-17,NaN,FOREIGN,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
9,10,1842,1,31-12-2022,00-2,2938276.76,EUROPE\NAVSNAP,START,82,2938276.76,0.00,20000,31-12-2022,2,00-2,NaN,DOMESTIC,PS,31-12-2022,2026,12-01-2023,2938276.76
10,11,1844,1,31-12-2022,00-3,3525932.11,EUROPE\NAVSNAP,START,83,3525932.11,0.00,10000,31-12-2022,2,00-3,NaN,DOMESTIC,PS,31-12-2022,2073,15-01-2023,3525932.11
11,12,1846,1,31-12-2022,00-4,2350621.40,EUROPE\NAVSNAP,START,84,2350621.40,0.00,30000,31-12-2022,2,00-4,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
12,13,1848,1,31-12-2022,00-5,1762966.05,EUROPE\NAVSNAP,START,85,1762966.05,0.00,20000,31-12-2022,2,00-5,NaN,DOMESTIC,PS,31-12-2022,2028,12-01-2023,1762966.05
13,14,1850,1,31-12-2022,00-6,4701242.81,EUROPE\NAVSNAP,START,86,4701242.81,0.00,10000,31-12-2022,2,00-6,NaN,DOMESTIC,PS,31-12-2022,2075,15-01-2023,4701242.81
14,15,1852,1,31-12-2022,00-7,5288898.16,EUROPE\NAVSNAP,START,87,5288898.16,0.00,30000,31-12-2022,2,00-7,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
15,16,1854,1,31-12-2022,00-8,3525932.11,EUROPE\NAVSNAP,START,88,3525932.11,0.00,20000,31-12-2022,2,00-8,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
16,17,1856,1,31-12-2022,00-9,3525932.11,EUROPE\NAVSNAP,START,89,3525932.11,0.00,10000,31-12-2022,2,00-9,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
17,18,1905,1,05-01-2023,103005,95886.94,EUROPE\NAVSNAP,SALES,103,1784.56,0.00,49525252,05-01-2023,2,103005,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
18,19,1912,1,05-01-2023,103006,425703.19,EUROPE\NAVSNAP,SALES,104,7922.80,0.00,49525252,05-01-2023,2,103006,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
19,20,1920,1,05-01-2023,103007,343581.69,EUROPE\NAVSNAP,SALES,105,6394.43,0.00,49858585,05-01-2023,2,103007,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
20,21,1928,1,05-01-2023,103008,343581.69,EUROPE\NAVSNAP,SALES,106,6394.43,0.00,49858585,05-01-2023,2,103008,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
21,22,1936,1,05-01-2023,103009,673730.53,EUROPE\NAVSNAP,SALES,107,12538.86,0.00,49858585,05-01-2023,2,103009,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
22,23,1944,1,05-01-2023,103010,384711.52,EUROPE\NAVSNAP,SALES,108,7159.91,0.00,49633663,05-01-2023,2,103010,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
23,24,1951,1,05-01-2023,103011,285943.10,EUROPE\NAVSNAP,SALES,109,5321.72,0.00,43687129,05-01-2023,2,103011,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
24,25,1958,1,05-01-2023,103012,376787.27,EUROPE\NAVSNAP,SALES,110,7012.42,0.00,43687129,05-01-2023,2,103012,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
25,26,1965,1,05-01-2023,103013,467626.15,EUROPE\NAVSNAP,SALES,111,8703.04,0.00,43687129,05-01-2023,2,103013,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
26,27,1972,1,05-01-2023,103014,90661.29,EUROPE\NAVSNAP,SALES,112,1687.31,0.00,49858585,05-01-2023,2,103014,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
27,28,1984,1,06-01-2023,2801,9327448.65,EUROPE\NAVSNAP,SALESJNL,118,173594.00,0.00,49525252,06-01-2023,2,2801,EUR,EU,JR,06-01-2023,0,1753-01-01 00:00:00.000,0.00
28,29,2000,1,07-01-2023,2802,7461958.92,EUROPE\NAVSNAP,SALESJNL,122,138875.20,0.00,49525252,07-01-2023,2,2802,EUR,EU,JR,07-01-2023,0,1753-01-01 00:00:00.000,0.00
29,30,2010,1,08-01-2023,BLSINV/001,528617.00,EUROPE\NAVSNAP,SALES,123,528617.00,0.00,10000,08-01-2023,2,BLSINV/001,NaN,DOMESTIC,PS,05-01-2023,0,1753-01-01 00:00:00.000,0.00
30,31,2012,1,09-01-2023,2803,13058428.11,EUROPE\NAVSNAP,SALESJNL,124,243031.60,0.00,49525252,09-01-2023,2,2803,EUR,EU,JR,09-01-2023,0,1753-01-01 00:00:00.000,0.00
31,32,2026,1,12-01-2023,2594,-2938276.76,EUROPE\NAVSNAP,GENJNL,128,0.00,2938276.76,20000,12-01-2023,1,2594,NaN,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
32,33,1842,2,12-01-2023,2594,-2938276.76,EUROPE\NAVSNAP,GENJNL,128,0.00,2938276.76,20000,31-12-2022,2,00-2,NaN,DOMESTIC,PS,31-12-2022,2026,12-01-2023,2938276.76
33,34,2026,2,12-01-2023,2594,2938276.76,EUROPE\NAVSNAP,GENJNL,128,2938276.76,0.00,20000,12-01-2023,1,2594,NaN,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
34,35,2028,1,12-01-2023,2594,-1762966.05,EUROPE\NAVSNAP,GENJNL,128,0.00,1762966.05,20000,12-01-2023,1,2594,NaN,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
35,36,1848,2,12-01-2023,2594,-1762966.05,EUROPE\NAVSNAP,GENJNL,128,0.00,1762966.05,20000,31-12-2022,2,00-5,NaN,DOMESTIC,PS,31-12-2022,2028,12-01-2023,1762966.05
36,37,2028,2,12-01-2023,2594,1762966.05,EUROPE\NAVSNAP,GENJNL,128,1762966.05,0.00,20000,12-01-2023,1,2594,NaN,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
37,38,2030,1,12-01-2023,2594,-3819759.78,EUROPE\NAVSNAP,GENJNL,128,0.00,3819759.78,20000,12-01-2023,1,2594,NaN,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
38,39,1830,2,12-01-2023,2594,-3819759.78,EUROPE\NAVSNAP,GENJNL,128,0.00,3819759.78,20000,31-12-2022,2,00-12,NaN,DOMESTIC,PS,31-12-2022,2030,12-01-2023,3819759.78
39,40,2030,2,12-01-2023,2594,3819759.78,EUROPE\NAVSNAP,GENJNL,128,3819759.78,0.00,20000,12-01-2023,1,2594,NaN,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
40,41,2039,1,14-01-2023,103015,135318.64,EUROPE\NAVSNAP,SALES,129,73769.77,0.00,42147258,14-01-2023,2,103015,CZK,EU,JR,13-01-2023,0,1753-01-01 00:00:00.000,0.00
41,42,2048,1,14-01-2023,103016,201922.08,EUROPE\NAVSNAP,SALES,130,3758.02,0.00,43687129,14-01-2023,2,103016,EUR,EU,JR,13-01-2023,0,1753-01-01 00:00:00.000,0.00
42,43,2064,1,15-01-2023,103017,48266.00,EUROPE\NAVSNAP,SALES,133,48266.00,0.00,20000,15-01-2023,2,103017,NaN,DOMESTIC,PS,11-01-2023,0,1753-01-01 00:00:00.000,0.00
43,44,2070,1,15-01-2023,BLSCM/001,-17994.00,EUROPE\NAVSNAP,SALES,134,0.00,17994.00,10000,15-01-2023,3,BLSCM/001,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
44,45,2071,1,15-01-2023,2596,-1762966.05,EUROPE\NAVSNAP,GENJNL,135,0.00,1762966.05,10000,15-01-2023,1,2596,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
45,46,1824,2,15-01-2023,2596,-1762966.05,EUROPE\NAVSNAP,GENJNL,135,0.00,1762966.05,10000,31-12-2022,2,00-1,NaN,DOMESTIC,PS,31-12-2022,2071,15-01-2023,1762966.05
46,47,2071,2,15-01-2023,2596,1762966.05,EUROPE\NAVSNAP,GENJNL,135,1762966.05,0.00,10000,15-01-2023,1,2596,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
47,48,2073,1,15-01-2023,2596,-3525932.11,EUROPE\NAVSNAP,GENJNL,135,0.00,3525932.11,10000,15-01-2023,1,2596,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
48,49,1844,2,15-01-2023,2596,-3525932.11,EUROPE\NAVSNAP,GENJNL,135,0.00,3525932.11,10000,31-12-2022,2,00-3,NaN,DOMESTIC,PS,31-12-2022,2073,15-01-2023,3525932.11
49,50,2073,2,15-01-2023,2596,3525932.11,EUROPE\NAVSNAP,GENJNL,135,3525932.11,0.00,10000,15-01-2023,1,2596,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
50,51,2075,1,15-01-2023,2596,-4701242.81,EUROPE\NAVSNAP,GENJNL,135,0.00,4701242.81,10000,15-01-2023,1,2596,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
51,52,1850,2,15-01-2023,2596,-4701242.81,EUROPE\NAVSNAP,GENJNL,135,0.00,4701242.81,10000,31-12-2022,2,00-6,NaN,DOMESTIC,PS,31-12-2022,2075,15-01-2023,4701242.81
52,53,2075,2,15-01-2023,2596,4701242.81,EUROPE\NAVSNAP,GENJNL,135,4701242.81,0.00,10000,15-01-2023,1,2596,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
53,54,2100,1,17-01-2023,103018,14213.50,EUROPE\NAVSNAP,SALES,141,14213.50,0.00,20000,17-01-2023,2,103018,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
54,55,2107,1,17-01-2023,104002,-43999.00,EUROPE\NAVSNAP,SALES,142,0.00,43999.00,20000,17-01-2023,3,104002,NaN,DOMESTIC,PS,17-01-2023,1854,17-01-2023,-43999.00
55,56,1854,2,17-01-2023,104002,-43999.00,EUROPE\NAVSNAP,SALES,142,0.00,43999.00,20000,31-12-2022,2,00-8,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
56,57,2107,2,17-01-2023,104002,43999.00,EUROPE\NAVSNAP,SALES,142,43999.00,0.00,20000,17-01-2023,3,104002,NaN,DOMESTIC,PS,17-01-2023,1854,17-01-2023,-43999.00
57,58,2129,1,18-01-2023,103019,198854.67,EUROPE\NAVSNAP,SALES,144,3700.90,0.00,32656565,18-01-2023,2,103019,EUR,EU,JR,09-01-2023,0,1753-01-01 00:00:00.000,0.00
58,59,2149,1,20-01-2023,103020,78287.73,EUROPE\NAVSNAP,SALES,148,1457.02,0.00,49633663,20-01-2023,2,103020,EUR,EU,JR,14-01-2023,2180,21-01-2023,1457.02
59,60,2156,1,20-01-2023,104003,-80676.30,EUROPE\NAVSNAP,SALES,149,0.00,80676.30,20000,20-01-2023,3,104003,NaN,DOMESTIC,PS,20-01-2023,1854,20-01-2023,-80676.30
60,61,1854,2,20-01-2023,104003,-80676.30,EUROPE\NAVSNAP,SALES,149,0.00,80676.30,20000,31-12-2022,2,00-8,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
61,62,2156,2,20-01-2023,104003,80676.30,EUROPE\NAVSNAP,SALES,149,80676.30,0.00,20000,20-01-2023,3,104003,NaN,DOMESTIC,PS,20-01-2023,1854,20-01-2023,-80676.30
62,63,2162,1,20-01-2023,104005,-58640.30,EUROPE\NAVSNAP,SALES,150,0.00,1091.36,49633663,20-01-2023,3,104005,EUR,EU,JR,20-01-2023,0,1753-01-01 00:00:00.000,0.00
63,64,2172,1,20-01-2023,2804,8208153.74,EUROPE\NAVSNAP,SALESJNL,155,152762.70,0.00,49525252,20-01-2023,2,2804,EUR,EU,JR,20-01-2023,0,1753-01-01 00:00:00.000,0.00
64,65,2180,1,21-01-2023,2806,-78287.72,EUROPE\NAVSNAP,SALESJNL,157,0.00,1457.02,49633663,21-01-2023,1,2806,EUR,EU,JR,21-01-2023,0,1753-01-01 00:00:00.000,0.00
65,66,2149,2,21-01-2023,2806,-78287.72,EUROPE\NAVSNAP,SALESJNL,157,0.00,1457.02,49633663,20-01-2023,2,103020,EUR,EU,JR,14-01-2023,2180,21-01-2023,1457.02
66,67,2180,2,21-01-2023,2806,78287.72,EUROPE\NAVSNAP,SALESJNL,157,1457.02,0.00,49633663,21-01-2023,1,2806,EUR,EU,JR,21-01-2023,0,1753-01-01 00:00:00.000,0.00
67,68,2149,11,21-01-2023,2806,-0.01,EUROPE\NAVSNAP,SALESJNL,157,0.00,0.00,49633663,20-01-2023,2,103020,EUR,EU,JR,14-01-2023,2180,21-01-2023,1457.02
68,69,2222,1,22-01-2023,103021,59247.82,EUROPE\NAVSNAP,SALES,163,10300.93,0.00,46897889,22-01-2023,2,103021,SEK,EU,JR,19-01-2023,0,1753-01-01 00:00:00.000,0.00
69,70,2240,1,23-01-2023,103022,133458.14,EUROPE\NAVSNAP,SALES,165,3072.95,0.00,1445544,23-01-2023,2,103022,USD,FOREIGN,JR,21-01-2023,0,1753-01-01 00:00:00.000,0.00
70,71,2248,1,23-01-2023,103023,74360.30,EUROPE\NAVSNAP,SALES,166,74360.30,0.00,20000,23-01-2023,2,103023,NaN,DOMESTIC,PS,16-01-2023,0,1753-01-01 00:00:00.000,0.00
71,72,2254,1,23-01-2023,BLSINV/002,564630.00,EUROPE\NAVSNAP,SALES,167,564630.00,0.00,10000,23-01-2023,2,BLSINV/002,NaN,DOMESTIC,PS,23-01-2023,0,1753-01-01 00:00:00.000,0.00
72,73,2261,1,23-01-2023,103002,434761.00,EUROPE\NAVSNAP,SALES,168,434761.00,0.00,20000,23-01-2023,2,103002,NaN,DOMESTIC,PS,23-01-2023,0,1753-01-01 00:00:00.000,0.00
73,74,2266,1,23-01-2023,S-EXP-00001,411979.00,EUROPE\NAVSNAP,SALES,169,411979.00,0.00,30000,23-01-2023,2,S-EXP-00001,NaN,DOMESTIC,PS,23-01-2023,0,1753-01-01 00:00:00.000,0.00
74,75,2268,1,23-01-2023,2807,2721608.25,EUROPE\NAVSNAP,SALESJNL,170,50652.10,0.00,49633663,23-01-2023,6,2807,EUR,EU,JR,23-01-2023,0,1753-01-01 00:00:00.000,0.00
75,76,2277,1,24-01-2023,103024,953012.26,EUROPE\NAVSNAP,SALES,171,140374.72,0.00,47563218,24-01-2023,2,103024,NOK,FOREIGN,JR,20-01-2023,0,1753-01-01 00:00:00.000,0.00
76,77,2279,1,24-01-2023,2808,14923912.47,EUROPE\NAVSNAP,SALESJNL,172,277750.30,0.00,49633663,24-01-2023,2,2808,EUR,EU,JR,24-01-2023,0,1753-01-01 00:00:00.000,0.00
77,78,2294,1,25-01-2023,103025,141645.76,EUROPE\NAVSNAP,SALES,174,209713.52,0.00,35963852,25-01-2023,2,103025,ISK,FOREIGN,JR,23-01-2023,0,1753-01-01 00:00:00.000,0.00
78,79,2304,1,25-01-2023,2805,-3730979.46,EUROPE\NAVSNAP,SALESJNL,179,0.00,69437.60,49525252,25-01-2023,3,2805,EUR,EU,JR,25-01-2023,0,1753-01-01 00:00:00.000,0.00
79,80,2306,1,25-01-2023,2809,9327448.65,EUROPE\NAVSNAP,SALESJNL,180,173594.00,0.00,49633663,25-01-2023,2,2809,EUR,EU,JR,25-01-2023,0,1753-01-01 00:00:00.000,0.00
80,81,2345,1,26-01-2023,103026,78851.07,EUROPE\NAVSNAP,SALES,186,116743.37,0.00,35451236,26-01-2023,2,103026,ISK,FOREIGN,JR,18-01-2023,0,1753-01-01 00:00:00.000,0.00
81,82,2356,1,26-01-2023,2810,-1865489.73,EUROPE\NAVSNAP,SALESJNL,191,0.00,34718.80,49633663,26-01-2023,3,2810,EUR,EU,JR,26-01-2023,0,1753-01-01 00:00:00.000,0.00
82,83,2362,1,18-01-2023,BLSINV/003,243121.01,EUROPE\NAVSNAP,SALES,192,243121.01,0.00,10000,18-01-2023,2,BLSINV/003,NaN,DOMESTIC,PS,18-01-2023,0,1753-01-01 00:00:00.000,0.00
83,84,2381,1,12-12-2022,BLSINV/004,73810.00,EUROPE\NAVSNAP,SALES,196,73810.00,0.00,40000,12-12-2022,2,BLSINV/004,NaN,DOMESTIC,PS,12-12-2022,0,1753-01-01 00:00:00.000,0.00
84,85,2383,1,04-12-2022,BLSINV/005,37030.00,EUROPE\NAVSNAP,SALES,197,37030.00,0.00,50000,04-12-2022,2,BLSINV/005,NaN,DOMESTIC,PS,04-12-2022,0,1753-01-01 00:00:00.000,0.00
85,86,2385,1,16-01-2023,S-EXP-00002,47830.00,EUROPE\NAVSNAP,SALES,198,47830.00,0.00,30000,16-01-2023,2,S-EXP-00002,NaN,DOMESTIC,PS,16-01-2023,0,1753-01-01 00:00:00.000,0.00

In [154]:
Left_Join_DCLE_CLE.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86 entries, 0 to 85
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Entry No_               86 non-null     int64
 1   Entry_No                86 non-null     int64
 2   Entry Type              86 non-null     int64
 3   Posting Date_x          86 non-null     object
 4   Document No__x          86 non-null     object
 5   Amount (LCY)            86 non-null     float64
 6   User ID                 86 non-null     object
 7   Source Code             86 non-null     object
 8   Transaction No_         86 non-null     int64
 9   Debit Amount            86 non-null     float64
 10  Credit Amount           86 non-null     float64
 11  Customer No_            86 non-null     int64
 12  Posting Date_y          86 non-null     object
 13  Document Type           86 non-null     int64
 14  Document No__y          86 non-null     object
 15  Currency Code           33 non-null     object
 16  Customer Posting Group  86 non-null     object
 17  Salesperson Code        86 non-null     object
 18  Document Date           86 non-null     object
 19  Closed by Entry No_     86 non-null     int64
 20  Closed at Date          86 non-null     object
 21  Closed by Amount        86 non-null     float64
dtypes: float64(4), int64(7), object(11)
memory usage: 15.5+ KB

In [155]:
Left_Join_DCLE_CLE

,Entry No_,Entry_No,Entry Type,Posting Date_x,Document No__x,Amount (LCY),User ID,Source Code,Transaction No_,Debit Amount,Credit Amount,Customer No_,Posting Date_y,Document Type,Document No__y,Currency Code,Customer Posting Group,Salesperson Code,Document Date,Closed by Entry No_,Closed at Date,Closed by Amount
0,1,1824,1,31-12-2022,00-1,1762966.05,EUROPE\NAVSNAP,START,73,1762966.05,0.00,10000,31-12-2022,2,00-1,NaN,DOMESTIC,PS,31-12-2022,2071,15-01-2023,1762966.05
1,2,1826,1,31-12-2022,00-10,5288898.16,EUROPE\NAVSNAP,START,74,5288898.16,0.00,30000,31-12-2022,2,00-10,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
2,3,1828,1,31-12-2022,00-11,4407415.13,EUROPE\NAVSNAP,START,75,4407415.13,0.00,10000,31-12-2022,2,00-11,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
3,4,1830,1,31-12-2022,00-12,3819759.78,EUROPE\NAVSNAP,START,76,3819759.78,0.00,20000,31-12-2022,2,00-12,NaN,DOMESTIC,PS,31-12-2022,2030,12-01-2023,3819759.78
4,5,1832,1,31-12-2022,00-13,5582725.83,EUROPE\NAVSNAP,START,77,5582725.83,0.00,30000,31-12-2022,2,00-13,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
5,6,1834,1,31-12-2022,00-14,2644449.08,EUROPE\NAVSNAP,START,78,2644449.08,0.00,20000,31-12-2022,2,00-14,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
6,7,1836,1,31-12-2022,00-15,5288898.16,EUROPE\NAVSNAP,START,79,5288898.16,0.00,30000,31-12-2022,2,00-15,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
7,8,1838,1,31-12-2022,00-16,2350621.40,EUROPE\NAVSNAP,START,80,2350621.40,0.00,10000,31-12-2022,2,00-16,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
8,9,1840,1,31-12-2022,00-17,15431881.00,EUROPE\NAVSNAP,START,81,15431881.00,0.00,1454545,31-12-2022,2,00-17,NaN,FOREIGN,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
9,10,1842,1,31-12-2022,00-2,2938276.76,EUROPE\NAVSNAP,START,82,2938276.76,0.00,20000,31-12-2022,2,00-2,NaN,DOMESTIC,PS,31-12-2022,2026,12-01-2023,2938276.76
10,11,1844,1,31-12-2022,00-3,3525932.11,EUROPE\NAVSNAP,START,83,3525932.11,0.00,10000,31-12-2022,2,00-3,NaN,DOMESTIC,PS,31-12-2022,2073,15-01-2023,3525932.11
11,12,1846,1,31-12-2022,00-4,2350621.40,EUROPE\NAVSNAP,START,84,2350621.40,0.00,30000,31-12-2022,2,00-4,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
12,13,1848,1,31-12-2022,00-5,1762966.05,EUROPE\NAVSNAP,START,85,1762966.05,0.00,20000,31-12-2022,2,00-5,NaN,DOMESTIC,PS,31-12-2022,2028,12-01-2023,1762966.05
13,14,1850,1,31-12-2022,00-6,4701242.81,EUROPE\NAVSNAP,START,86,4701242.81,0.00,10000,31-12-2022,2,00-6,NaN,DOMESTIC,PS,31-12-2022,2075,15-01-2023,4701242.81
14,15,1852,1,31-12-2022,00-7,5288898.16,EUROPE\NAVSNAP,START,87,5288898.16,0.00,30000,31-12-2022,2,00-7,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
15,16,1854,1,31-12-2022,00-8,3525932.11,EUROPE\NAVSNAP,START,88,3525932.11,0.00,20000,31-12-2022,2,00-8,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
16,17,1856,1,31-12-2022,00-9,3525932.11,EUROPE\NAVSNAP,START,89,3525932.11,0.00,10000,31-12-2022,2,00-9,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
17,18,1905,1,05-01-2023,103005,95886.94,EUROPE\NAVSNAP,SALES,103,1784.56,0.00,49525252,05-01-2023,2,103005,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
18,19,1912,1,05-01-2023,103006,425703.19,EUROPE\NAVSNAP,SALES,104,7922.80,0.00,49525252,05-01-2023,2,103006,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
19,20,1920,1,05-01-2023,103007,343581.69,EUROPE\NAVSNAP,SALES,105,6394.43,0.00,49858585,05-01-2023,2,103007,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
20,21,1928,1,05-01-2023,103008,343581.69,EUROPE\NAVSNAP,SALES,106,6394.43,0.00,49858585,05-01-2023,2,103008,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
21,22,1936,1,05-01-2023,103009,673730.53,EUROPE\NAVSNAP,SALES,107,12538.86,0.00,49858585,05-01-2023,2,103009,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
22,23,1944,1,05-01-2023,103010,384711.52,EUROPE\NAVSNAP,SALES,108,7159.91,0.00,49633663,05-01-2023,2,103010,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
23,24,1951,1,05-01-2023,103011,285943.10,EUROPE\NAVSNAP,SALES,109,5321.72,0.00,43687129,05-01-2023,2,103011,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
24,25,1958,1,05-01-2023,103012,376787.27,EUROPE\NAVSNAP,SALES,110,7012.42,0.00,43687129,05-01-2023,2,103012,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
25,26,1965,1,05-01-2023,103013,467626.15,EUROPE\NAVSNAP,SALES,111,8703.04,0.00,43687129,05-01-2023,2,103013,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
26,27,1972,1,05-01-2023,103014,90661.29,EUROPE\NAVSNAP,SALES,112,1687.31,0.00,49858585,05-01-2023,2,103014,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00
27,28,1984,1,06-01-2023,2801,9327448.65,EUROPE\NAVSNAP,SALESJNL,118,173594.00,0.00,49525252,06-01-2023,2,2801,EUR,EU,JR,06-01-2023,0,1753-01-01 00:00:00.000,0.00
28,29,2000,1,07-01-2023,2802,7461958.92,EUROPE\NAVSNAP,SALESJNL,122,138875.20,0.00,49525252,07-01-2023,2,2802,EUR,EU,JR,07-01-2023,0,1753-01-01 00:00:00.000,0.00
29,30,2010,1,08-01-2023,BLSINV/001,528617.00,EUROPE\NAVSNAP,SALES,123,528617.00,0.00,10000,08-01-2023,2,BLSINV/001,NaN,DOMESTIC,PS,05-01-2023,0,1753-01-01 00:00:00.000,0.00
30,31,2012,1,09-01-2023,2803,13058428.11,EUROPE\NAVSNAP,SALESJNL,124,243031.60,0.00,49525252,09-01-2023,2,2803,EUR,EU,JR,09-01-2023,0,1753-01-01 00:00:00.000,0.00
31,32,2026,1,12-01-2023,2594,-2938276.76,EUROPE\NAVSNAP,GENJNL,128,0.00,2938276.76,20000,12-01-2023,1,2594,NaN,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
32,33,1842,2,12-01-2023,2594,-2938276.76,EUROPE\NAVSNAP,GENJNL,128,0.00,2938276.76,20000,31-12-2022,2,00-2,NaN,DOMESTIC,PS,31-12-2022,2026,12-01-2023,2938276.76
33,34,2026,2,12-01-2023,2594,2938276.76,EUROPE\NAVSNAP,GENJNL,128,2938276.76,0.00,20000,12-01-2023,1,2594,NaN,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
34,35,2028,1,12-01-2023,2594,-1762966.05,EUROPE\NAVSNAP,GENJNL,128,0.00,1762966.05,20000,12-01-2023,1,2594,NaN,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
35,36,1848,2,12-01-2023,2594,-1762966.05,EUROPE\NAVSNAP,GENJNL,128,0.00,1762966.05,20000,31-12-2022,2,00-5,NaN,DOMESTIC,PS,31-12-2022,2028,12-01-2023,1762966.05
36,37,2028,2,12-01-2023,2594,1762966.05,EUROPE\NAVSNAP,GENJNL,128,1762966.05,0.00,20000,12-01-2023,1,2594,NaN,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
37,38,2030,1,12-01-2023,2594,-3819759.78,EUROPE\NAVSNAP,GENJNL,128,0.00,3819759.78,20000,12-01-2023,1,2594,NaN,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
38,39,1830,2,12-01-2023,2594,-3819759.78,EUROPE\NAVSNAP,GENJNL,128,0.00,3819759.78,20000,31-12-2022,2,00-12,NaN,DOMESTIC,PS,31-12-2022,2030,12-01-2023,3819759.78
39,40,2030,2,12-01-2023,2594,3819759.78,EUROPE\NAVSNAP,GENJNL,128,3819759.78,0.00,20000,12-01-2023,1,2594,NaN,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00
40,41,2039,1,14-01-2023,103015,135318.64,EUROPE\NAVSNAP,SALES,129,73769.77,0.00,42147258,14-01-2023,2,103015,CZK,EU,JR,13-01-2023,0,1753-01-01 00:00:00.000,0.00
41,42,2048,1,14-01-2023,103016,201922.08,EUROPE\NAVSNAP,SALES,130,3758.02,0.00,43687129,14-01-2023,2,103016,EUR,EU,JR,13-01-2023,0,1753-01-01 00:00:00.000,0.00
42,43,2064,1,15-01-2023,103017,48266.00,EUROPE\NAVSNAP,SALES,133,48266.00,0.00,20000,15-01-2023,2,103017,NaN,DOMESTIC,PS,11-01-2023,0,1753-01-01 00:00:00.000,0.00
43,44,2070,1,15-01-2023,BLSCM/001,-17994.00,EUROPE\NAVSNAP,SALES,134,0.00,17994.00,10000,15-01-2023,3,BLSCM/001,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
44,45,2071,1,15-01-2023,2596,-1762966.05,EUROPE\NAVSNAP,GENJNL,135,0.00,1762966.05,10000,15-01-2023,1,2596,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
45,46,1824,2,15-01-2023,2596,-1762966.05,EUROPE\NAVSNAP,GENJNL,135,0.00,1762966.05,10000,31-12-2022,2,00-1,NaN,DOMESTIC,PS,31-12-2022,2071,15-01-2023,1762966.05
46,47,2071,2,15-01-2023,2596,1762966.05,EUROPE\NAVSNAP,GENJNL,135,1762966.05,0.00,10000,15-01-2023,1,2596,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
47,48,2073,1,15-01-2023,2596,-3525932.11,EUROPE\NAVSNAP,GENJNL,135,0.00,3525932.11,10000,15-01-2023,1,2596,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
48,49,1844,2,15-01-2023,2596,-3525932.11,EUROPE\NAVSNAP,GENJNL,135,0.00,3525932.11,10000,31-12-2022,2,00-3,NaN,DOMESTIC,PS,31-12-2022,2073,15-01-2023,3525932.11
49,50,2073,2,15-01-2023,2596,3525932.11,EUROPE\NAVSNAP,GENJNL,135,3525932.11,0.00,10000,15-01-2023,1,2596,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
50,51,2075,1,15-01-2023,2596,-4701242.81,EUROPE\NAVSNAP,GENJNL,135,0.00,4701242.81,10000,15-01-2023,1,2596,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
51,52,1850,2,15-01-2023,2596,-4701242.81,EUROPE\NAVSNAP,GENJNL,135,0.00,4701242.81,10000,31-12-2022,2,00-6,NaN,DOMESTIC,PS,31-12-2022,2075,15-01-2023,4701242.81
52,53,2075,2,15-01-2023,2596,4701242.81,EUROPE\NAVSNAP,GENJNL,135,4701242.81,0.00,10000,15-01-2023,1,2596,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
53,54,2100,1,17-01-2023,103018,14213.50,EUROPE\NAVSNAP,SALES,141,14213.50,0.00,20000,17-01-2023,2,103018,NaN,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00
54,55,2107,1,17-01-2023,104002,-43999.00,EUROPE\NAVSNAP,SALES,142,0.00,43999.00,20000,17-01-2023,3,104002,NaN,DOMESTIC,PS,17-01-2023,1854,17-01-2023,-43999.00
55,56,1854,2,17-01-2023,104002,-43999.00,EUROPE\NAVSNAP,SALES,142,0.00,43999.00,20000,31-12-2022,2,00-8,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
56,57,2107,2,17-01-2023,104002,43999.00,EUROPE\NAVSNAP,SALES,142,43999.00,0.00,20000,17-01-2023,3,104002,NaN,DOMESTIC,PS,17-01-2023,1854,17-01-2023,-43999.00
57,58,2129,1,18-01-2023,103019,198854.67,EUROPE\NAVSNAP,SALES,144,3700.90,0.00,32656565,18-01-2023,2,103019,EUR,EU,JR,09-01-2023,0,1753-01-01 00:00:00.000,0.00
58,59,2149,1,20-01-2023,103020,78287.73,EUROPE\NAVSNAP,SALES,148,1457.02,0.00,49633663,20-01-2023,2,103020,EUR,EU,JR,14-01-2023,2180,21-01-2023,1457.02
59,60,2156,1,20-01-2023,104003,-80676.30,EUROPE\NAVSNAP,SALES,149,0.00,80676.30,20000,20-01-2023,3,104003,NaN,DOMESTIC,PS,20-01-2023,1854,20-01-2023,-80676.30
60,61,1854,2,20-01-2023,104003,-80676.30,EUROPE\NAVSNAP,SALES,149,0.00,80676.30,20000,31-12-2022,2,00-8,NaN,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00
61,62,2156,2,20-01-2023,104003,80676.30,EUROPE\NAVSNAP,SALES,149,80676.30,0.00,20000,20-01-2023,3,104003,NaN,DOMESTIC,PS,20-01-2023,1854,20-01-2023,-80676.30
62,63,2162,1,20-01-2023,104005,-58640.30,EUROPE\NAVSNAP,SALES,150,0.00,1091.36,49633663,20-01-2023,3,104005,EUR,EU,JR,20-01-2023,0,1753-01-01 00:00:00.000,0.00
63,64,2172,1,20-01-2023,2804,8208153.74,EUROPE\NAVSNAP,SALESJNL,155,152762.70,0.00,49525252,20-01-2023,2,2804,EUR,EU,JR,20-01-2023,0,1753-01-01 00:00:00.000,0.00
64,65,2180,1,21-01-2023,2806,-78287.72,EUROPE\NAVSNAP,SALESJNL,157,0.00,1457.02,49633663,21-01-2023,1,2806,EUR,EU,JR,21-01-2023,0,1753-01-01 00:00:00.000,0.00
65,66,2149,2,21-01-2023,2806,-78287.72,EUROPE\NAVSNAP,SALESJNL,157,0.00,1457.02,49633663,20-01-2023,2,103020,EUR,EU,JR,14-01-2023,2180,21-01-2023,1457.02
66,67,2180,2,21-01-2023,2806,78287.72,EUROPE\NAVSNAP,SALESJNL,157,1457.02,0.00,49633663,21-01-2023,1,2806,EUR,EU,JR,21-01-2023,0,1753-01-01 00:00:00.000,0.00
67,68,2149,11,21-01-2023,2806,-0.01,EUROPE\NAVSNAP,SALESJNL,157,0.00,0.00,49633663,20-01-2023,2,103020,EUR,EU,JR,14-01-2023,2180,21-01-2023,1457.02
68,69,2222,1,22-01-2023,103021,59247.82,EUROPE\NAVSNAP,SALES,163,10300.93,0.00,46897889,22-01-2023,2,103021,SEK,EU,JR,19-01-2023,0,1753-01-01 00:00:00.000,0.00
69,70,2240,1,23-01-2023,103022,133458.14,EUROPE\NAVSNAP,SALES,165,3072.95,0.00,1445544,23-01-2023,2,103022,USD,FOREIGN,JR,21-01-2023,0,1753-01-01 00:00:00.000,0.00
70,71,2248,1,23-01-2023,103023,74360.30,EUROPE\NAVSNAP,SALES,166,74360.30,0.00,20000,23-01-2023,2,103023,NaN,DOMESTIC,PS,16-01-2023,0,1753-01-01 00:00:00.000,0.00
71,72,2254,1,23-01-2023,BLSINV/002,564630.00,EUROPE\NAVSNAP,SALES,167,564630.00,0.00,10000,23-01-2023,2,BLSINV/002,NaN,DOMESTIC,PS,23-01-2023,0,1753-01-01 00:00:00.000,0.00
72,73,2261,1,23-01-2023,103002,434761.00,EUROPE\NAVSNAP,SALES,168,434761.00,0.00,20000,23-01-2023,2,103002,NaN,DOMESTIC,PS,23-01-2023,0,1753-01-01 00:00:00.000,0.00
73,74,2266,1,23-01-2023,S-EXP-00001,411979.00,EUROPE\NAVSNAP,SALES,169,411979.00,0.00,30000,23-01-2023,2,S-EXP-00001,NaN,DOMESTIC,PS,23-01-2023,0,1753-01-01 00:00:00.000,0.00
74,75,2268,1,23-01-2023,2807,2721608.25,EUROPE\NAVSNAP,SALESJNL,170,50652.10,0.00,49633663,23-01-2023,6,2807,EUR,EU,JR,23-01-2023,0,1753-01-01 00:00:00.000,0.00
75,76,2277,1,24-01-2023,103024,953012.26,EUROPE\NAVSNAP,SALES,171,140374.72,0.00,47563218,24-01-2023,2,103024,NOK,FOREIGN,JR,20-01-2023,0,1753-01-01 00:00:00.000,0.00
76,77,2279,1,24-01-2023,2808,14923912.47,EUROPE\NAVSNAP,SALESJNL,172,277750.30,0.00,49633663,24-01-2023,2,2808,EUR,EU,JR,24-01-2023,0,1753-01-01 00:00:00.000,0.00
77,78,2294,1,25-01-2023,103025,141645.76,EUROPE\NAVSNAP,SALES,174,209713.52,0.00,35963852,25-01-2023,2,103025,ISK,FOREIGN,JR,23-01-2023,0,1753-01-01 00:00:00.000,0.00
78,79,2304,1,25-01-2023,2805,-3730979.46,EUROPE\NAVSNAP,SALESJNL,179,0.00,69437.60,49525252,25-01-2023,3,2805,EUR,EU,JR,25-01-2023,0,1753-01-01 00:00:00.000,0.00
79,80,2306,1,25-01-2023,2809,9327448.65,EUROPE\NAVSNAP,SALESJNL,180,173594.00,0.00,49633663,25-01-2023,2,2809,EUR,EU,JR,25-01-2023,0,1753-01-01 00:00:00.000,0.00
80,81,2345,1,26-01-2023,103026,78851.07,EUROPE\NAVSNAP,SALES,186,116743.37,0.00,35451236,26-01-2023,2,103026,ISK,FOREIGN,JR,18-01-2023,0,1753-01-01 00:00:00.000,0.00
81,82,2356,1,26-01-2023,2810,-1865489.73,EUROPE\NAVSNAP,SALESJNL,191,0.00,34718.80,49633663,26-01-2023,3,2810,EUR,EU,JR,26-01-2023,0,1753-01-01 00:00:00.000,0.00
82,83,2362,1,18-01-2023,BLSINV/003,243121.01,EUROPE\NAVSNAP,SALES,192,243121.01,0.00,10000,18-01-2023,2,BLSINV/003,NaN,DOMESTIC,PS,18-01-2023,0,1753-01-01 00:00:00.000,0.00
83,84,2381,1,12-12-2022,BLSINV/004,73810.00,EUROPE\NAVSNAP,SALES,196,73810.00,0.00,40000,12-12-2022,2,BLSINV/004,NaN,DOMESTIC,PS,12-12-2022,0,1753-01-01 00:00:00.000,0.00
84,85,2383,1,04-12-2022,BLSINV/005,37030.00,EUROPE\NAVSNAP,SALES,197,37030.00,0.00,50000,04-12-2022,2,BLSINV/005,NaN,DOMESTIC,PS,04-12-2022,0,1753-01-01 00:00:00.000,0.00
85,86,2385,1,16-01-2023,S-EXP-00002,47830.00,EUROPE\NAVSNAP,SALES,198,47830.00,0.00,30000,16-01-2023,2,S-EXP-00002,NaN,DOMESTIC,PS,16-01-2023,0,1753-01-01 00:00:00.000,0.00

In [156]:
# Replace null values with None
Left_Join_DCLE_CLE['Currency Code'] = Left_Join_DCLE_CLE['Currency Code'].where(pd.notnull(Left_Join_DCLE_CLE['Currency Code']), None)

In [157]:
#if condition
Left_Join_DCLE_CLE['Original_Amount'] = Left_Join_DCLE_CLE.apply(lambda x: x['Amount (LCY)'] if x['Entry Type'] == 1  else None, axis=1)

In [158]:
Left_Join_DCLE_CLE.loc[Left_Join_DCLE_CLE['Entry_No'] == 1824]

,Entry No_,Entry_No,Entry Type,Posting Date_x,Document No__x,Amount (LCY),User ID,Source Code,Transaction No_,Debit Amount,Credit Amount,Customer No_,Posting Date_y,Document Type,Document No__y,Currency Code,Customer Posting Group,Salesperson Code,Document Date,Closed by Entry No_,Closed at Date,Closed by Amount,Original_Amount
0,1,1824,1,31-12-2022,00-1,1762966.05,EUROPE\NAVSNAP,START,73,1762966.05,0.00,10000,31-12-2022,2,00-1,None,DOMESTIC,PS,31-12-2022,2071,15-01-2023,1762966.05,1762966.05
45,46,1824,2,15-01-2023,2596,-1762966.05,EUROPE\NAVSNAP,GENJNL,135,0.00,1762966.05,10000,31-12-2022,2,00-1,None,DOMESTIC,PS,31-12-2022,2071,15-01-2023,1762966.05,NaN

In [159]:
Left_Join_DCLE_CLE['Flag'] = 'CLE'

In [160]:
Left_Join_DCLE_CLE.rename(columns = {'Entry Type': 'Entry_Type',
 'Amount (LCY)': 'Remaining_Amount',
 'Debit Amount':'Debit_Amount',
 'Credit Amount':'Credit_Amount',
 'Posting Date':'DCLE_Posting_Date',
 'User ID':'User_ID',
 'Source Code':'Source_Code',
 'Transaction No_':'Transaction_No',
 'Document No_':'Document_No',
 'Currency Code':'Currency_Code',
 'Customer Posting Group':'Customer_Posting_Group',
 'Closed by Entry No_':'Closed_by_Entry_No',
 'Closed at Date':'Closed_at_Date',
 'Closed by Amount':'Closed_by_Amount',
 'Entry_No':'CLE_No',
 'Entry No_':'DCLE_No',
 'Customer No_': 'Sell_To_Customer_No',
 'Posting Date_x':'DCLE_Posting_Date',
 'Posting Date_y':'Posting_Date',
 'Document Date':'CLE_Booking_Date',
 'Document Type':'Document_Type',
 'Salesperson Code':'Salesperson_Code',
 'Document No__x':'Document_No'

  }, inplace = True)

In [161]:
Left_Join_DCLE_CLE

,DCLE_No,CLE_No,Entry_Type,DCLE_Posting_Date,Document_No,Remaining_Amount,User_ID,Source_Code,Transaction_No,Debit_Amount,Credit_Amount,Sell_To_Customer_No,Posting_Date,Document_Type,Document No__y,Currency_Code,Customer_Posting_Group,Salesperson_Code,CLE_Booking_Date,Closed_by_Entry_No,Closed_at_Date,Closed_by_Amount,Original_Amount,Flag
0,1,1824,1,31-12-2022,00-1,1762966.05,EUROPE\NAVSNAP,START,73,1762966.05,0.00,10000,31-12-2022,2,00-1,None,DOMESTIC,PS,31-12-2022,2071,15-01-2023,1762966.05,1762966.05,CLE
1,2,1826,1,31-12-2022,00-10,5288898.16,EUROPE\NAVSNAP,START,74,5288898.16,0.00,30000,31-12-2022,2,00-10,None,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00,5288898.16,CLE
2,3,1828,1,31-12-2022,00-11,4407415.13,EUROPE\NAVSNAP,START,75,4407415.13,0.00,10000,31-12-2022,2,00-11,None,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00,4407415.13,CLE
3,4,1830,1,31-12-2022,00-12,3819759.78,EUROPE\NAVSNAP,START,76,3819759.78,0.00,20000,31-12-2022,2,00-12,None,DOMESTIC,PS,31-12-2022,2030,12-01-2023,3819759.78,3819759.78,CLE
4,5,1832,1,31-12-2022,00-13,5582725.83,EUROPE\NAVSNAP,START,77,5582725.83,0.00,30000,31-12-2022,2,00-13,None,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00,5582725.83,CLE
5,6,1834,1,31-12-2022,00-14,2644449.08,EUROPE\NAVSNAP,START,78,2644449.08,0.00,20000,31-12-2022,2,00-14,None,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00,2644449.08,CLE
6,7,1836,1,31-12-2022,00-15,5288898.16,EUROPE\NAVSNAP,START,79,5288898.16,0.00,30000,31-12-2022,2,00-15,None,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00,5288898.16,CLE
7,8,1838,1,31-12-2022,00-16,2350621.40,EUROPE\NAVSNAP,START,80,2350621.40,0.00,10000,31-12-2022,2,00-16,None,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00,2350621.40,CLE
8,9,1840,1,31-12-2022,00-17,15431881.00,EUROPE\NAVSNAP,START,81,15431881.00,0.00,1454545,31-12-2022,2,00-17,None,FOREIGN,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00,15431881.00,CLE
9,10,1842,1,31-12-2022,00-2,2938276.76,EUROPE\NAVSNAP,START,82,2938276.76,0.00,20000,31-12-2022,2,00-2,None,DOMESTIC,PS,31-12-2022,2026,12-01-2023,2938276.76,2938276.76,CLE
10,11,1844,1,31-12-2022,00-3,3525932.11,EUROPE\NAVSNAP,START,83,3525932.11,0.00,10000,31-12-2022,2,00-3,None,DOMESTIC,PS,31-12-2022,2073,15-01-2023,3525932.11,3525932.11,CLE
11,12,1846,1,31-12-2022,00-4,2350621.40,EUROPE\NAVSNAP,START,84,2350621.40,0.00,30000,31-12-2022,2,00-4,None,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00,2350621.40,CLE
12,13,1848,1,31-12-2022,00-5,1762966.05,EUROPE\NAVSNAP,START,85,1762966.05,0.00,20000,31-12-2022,2,00-5,None,DOMESTIC,PS,31-12-2022,2028,12-01-2023,1762966.05,1762966.05,CLE
13,14,1850,1,31-12-2022,00-6,4701242.81,EUROPE\NAVSNAP,START,86,4701242.81,0.00,10000,31-12-2022,2,00-6,None,DOMESTIC,PS,31-12-2022,2075,15-01-2023,4701242.81,4701242.81,CLE
14,15,1852,1,31-12-2022,00-7,5288898.16,EUROPE\NAVSNAP,START,87,5288898.16,0.00,30000,31-12-2022,2,00-7,None,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00,5288898.16,CLE
15,16,1854,1,31-12-2022,00-8,3525932.11,EUROPE\NAVSNAP,START,88,3525932.11,0.00,20000,31-12-2022,2,00-8,None,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00,3525932.11,CLE
16,17,1856,1,31-12-2022,00-9,3525932.11,EUROPE\NAVSNAP,START,89,3525932.11,0.00,10000,31-12-2022,2,00-9,None,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00,3525932.11,CLE
17,18,1905,1,05-01-2023,103005,95886.94,EUROPE\NAVSNAP,SALES,103,1784.56,0.00,49525252,05-01-2023,2,103005,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00,95886.94,CLE
18,19,1912,1,05-01-2023,103006,425703.19,EUROPE\NAVSNAP,SALES,104,7922.80,0.00,49525252,05-01-2023,2,103006,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00,425703.19,CLE
19,20,1920,1,05-01-2023,103007,343581.69,EUROPE\NAVSNAP,SALES,105,6394.43,0.00,49858585,05-01-2023,2,103007,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00,343581.69,CLE
20,21,1928,1,05-01-2023,103008,343581.69,EUROPE\NAVSNAP,SALES,106,6394.43,0.00,49858585,05-01-2023,2,103008,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00,343581.69,CLE
21,22,1936,1,05-01-2023,103009,673730.53,EUROPE\NAVSNAP,SALES,107,12538.86,0.00,49858585,05-01-2023,2,103009,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00,673730.53,CLE
22,23,1944,1,05-01-2023,103010,384711.52,EUROPE\NAVSNAP,SALES,108,7159.91,0.00,49633663,05-01-2023,2,103010,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00,384711.52,CLE
23,24,1951,1,05-01-2023,103011,285943.10,EUROPE\NAVSNAP,SALES,109,5321.72,0.00,43687129,05-01-2023,2,103011,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00,285943.10,CLE
24,25,1958,1,05-01-2023,103012,376787.27,EUROPE\NAVSNAP,SALES,110,7012.42,0.00,43687129,05-01-2023,2,103012,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00,376787.27,CLE
25,26,1965,1,05-01-2023,103013,467626.15,EUROPE\NAVSNAP,SALES,111,8703.04,0.00,43687129,05-01-2023,2,103013,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00,467626.15,CLE
26,27,1972,1,05-01-2023,103014,90661.29,EUROPE\NAVSNAP,SALES,112,1687.31,0.00,49858585,05-01-2023,2,103014,EUR,EU,JR,05-01-2023,0,1753-01-01 00:00:00.000,0.00,90661.29,CLE
27,28,1984,1,06-01-2023,2801,9327448.65,EUROPE\NAVSNAP,SALESJNL,118,173594.00,0.00,49525252,06-01-2023,2,2801,EUR,EU,JR,06-01-2023,0,1753-01-01 00:00:00.000,0.00,9327448.65,CLE
28,29,2000,1,07-01-2023,2802,7461958.92,EUROPE\NAVSNAP,SALESJNL,122,138875.20,0.00,49525252,07-01-2023,2,2802,EUR,EU,JR,07-01-2023,0,1753-01-01 00:00:00.000,0.00,7461958.92,CLE
29,30,2010,1,08-01-2023,BLSINV/001,528617.00,EUROPE\NAVSNAP,SALES,123,528617.00,0.00,10000,08-01-2023,2,BLSINV/001,None,DOMESTIC,PS,05-01-2023,0,1753-01-01 00:00:00.000,0.00,528617.00,CLE
30,31,2012,1,09-01-2023,2803,13058428.11,EUROPE\NAVSNAP,SALESJNL,124,243031.60,0.00,49525252,09-01-2023,2,2803,EUR,EU,JR,09-01-2023,0,1753-01-01 00:00:00.000,0.00,13058428.11,CLE
31,32,2026,1,12-01-2023,2594,-2938276.76,EUROPE\NAVSNAP,GENJNL,128,0.00,2938276.76,20000,12-01-2023,1,2594,None,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00,-2938276.76,CLE
32,33,1842,2,12-01-2023,2594,-2938276.76,EUROPE\NAVSNAP,GENJNL,128,0.00,2938276.76,20000,31-12-2022,2,00-2,None,DOMESTIC,PS,31-12-2022,2026,12-01-2023,2938276.76,NaN,CLE
33,34,2026,2,12-01-2023,2594,2938276.76,EUROPE\NAVSNAP,GENJNL,128,2938276.76,0.00,20000,12-01-2023,1,2594,None,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00,NaN,CLE
34,35,2028,1,12-01-2023,2594,-1762966.05,EUROPE\NAVSNAP,GENJNL,128,0.00,1762966.05,20000,12-01-2023,1,2594,None,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00,-1762966.05,CLE
35,36,1848,2,12-01-2023,2594,-1762966.05,EUROPE\NAVSNAP,GENJNL,128,0.00,1762966.05,20000,31-12-2022,2,00-5,None,DOMESTIC,PS,31-12-2022,2028,12-01-2023,1762966.05,NaN,CLE
36,37,2028,2,12-01-2023,2594,1762966.05,EUROPE\NAVSNAP,GENJNL,128,1762966.05,0.00,20000,12-01-2023,1,2594,None,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00,NaN,CLE
37,38,2030,1,12-01-2023,2594,-3819759.78,EUROPE\NAVSNAP,GENJNL,128,0.00,3819759.78,20000,12-01-2023,1,2594,None,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00,-3819759.78,CLE
38,39,1830,2,12-01-2023,2594,-3819759.78,EUROPE\NAVSNAP,GENJNL,128,0.00,3819759.78,20000,31-12-2022,2,00-12,None,DOMESTIC,PS,31-12-2022,2030,12-01-2023,3819759.78,NaN,CLE
39,40,2030,2,12-01-2023,2594,3819759.78,EUROPE\NAVSNAP,GENJNL,128,3819759.78,0.00,20000,12-01-2023,1,2594,None,DOMESTIC,PS,12-01-2023,0,1753-01-01 00:00:00.000,0.00,NaN,CLE
40,41,2039,1,14-01-2023,103015,135318.64,EUROPE\NAVSNAP,SALES,129,73769.77,0.00,42147258,14-01-2023,2,103015,CZK,EU,JR,13-01-2023,0,1753-01-01 00:00:00.000,0.00,135318.64,CLE
41,42,2048,1,14-01-2023,103016,201922.08,EUROPE\NAVSNAP,SALES,130,3758.02,0.00,43687129,14-01-2023,2,103016,EUR,EU,JR,13-01-2023,0,1753-01-01 00:00:00.000,0.00,201922.08,CLE
42,43,2064,1,15-01-2023,103017,48266.00,EUROPE\NAVSNAP,SALES,133,48266.00,0.00,20000,15-01-2023,2,103017,None,DOMESTIC,PS,11-01-2023,0,1753-01-01 00:00:00.000,0.00,48266.00,CLE
43,44,2070,1,15-01-2023,BLSCM/001,-17994.00,EUROPE\NAVSNAP,SALES,134,0.00,17994.00,10000,15-01-2023,3,BLSCM/001,None,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00,-17994.00,CLE
44,45,2071,1,15-01-2023,2596,-1762966.05,EUROPE\NAVSNAP,GENJNL,135,0.00,1762966.05,10000,15-01-2023,1,2596,None,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00,-1762966.05,CLE
45,46,1824,2,15-01-2023,2596,-1762966.05,EUROPE\NAVSNAP,GENJNL,135,0.00,1762966.05,10000,31-12-2022,2,00-1,None,DOMESTIC,PS,31-12-2022,2071,15-01-2023,1762966.05,NaN,CLE
46,47,2071,2,15-01-2023,2596,1762966.05,EUROPE\NAVSNAP,GENJNL,135,1762966.05,0.00,10000,15-01-2023,1,2596,None,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00,NaN,CLE
47,48,2073,1,15-01-2023,2596,-3525932.11,EUROPE\NAVSNAP,GENJNL,135,0.00,3525932.11,10000,15-01-2023,1,2596,None,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00,-3525932.11,CLE
48,49,1844,2,15-01-2023,2596,-3525932.11,EUROPE\NAVSNAP,GENJNL,135,0.00,3525932.11,10000,31-12-2022,2,00-3,None,DOMESTIC,PS,31-12-2022,2073,15-01-2023,3525932.11,NaN,CLE
49,50,2073,2,15-01-2023,2596,3525932.11,EUROPE\NAVSNAP,GENJNL,135,3525932.11,0.00,10000,15-01-2023,1,2596,None,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00,NaN,CLE
50,51,2075,1,15-01-2023,2596,-4701242.81,EUROPE\NAVSNAP,GENJNL,135,0.00,4701242.81,10000,15-01-2023,1,2596,None,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00,-4701242.81,CLE
51,52,1850,2,15-01-2023,2596,-4701242.81,EUROPE\NAVSNAP,GENJNL,135,0.00,4701242.81,10000,31-12-2022,2,00-6,None,DOMESTIC,PS,31-12-2022,2075,15-01-2023,4701242.81,NaN,CLE
52,53,2075,2,15-01-2023,2596,4701242.81,EUROPE\NAVSNAP,GENJNL,135,4701242.81,0.00,10000,15-01-2023,1,2596,None,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00,NaN,CLE
53,54,2100,1,17-01-2023,103018,14213.50,EUROPE\NAVSNAP,SALES,141,14213.50,0.00,20000,17-01-2023,2,103018,None,DOMESTIC,PS,15-01-2023,0,1753-01-01 00:00:00.000,0.00,14213.50,CLE
54,55,2107,1,17-01-2023,104002,-43999.00,EUROPE\NAVSNAP,SALES,142,0.00,43999.00,20000,17-01-2023,3,104002,None,DOMESTIC,PS,17-01-2023,1854,17-01-2023,-43999.00,-43999.00,CLE
55,56,1854,2,17-01-2023,104002,-43999.00,EUROPE\NAVSNAP,SALES,142,0.00,43999.00,20000,31-12-2022,2,00-8,None,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00,NaN,CLE
56,57,2107,2,17-01-2023,104002,43999.00,EUROPE\NAVSNAP,SALES,142,43999.00,0.00,20000,17-01-2023,3,104002,None,DOMESTIC,PS,17-01-2023,1854,17-01-2023,-43999.00,NaN,CLE
57,58,2129,1,18-01-2023,103019,198854.67,EUROPE\NAVSNAP,SALES,144,3700.90,0.00,32656565,18-01-2023,2,103019,EUR,EU,JR,09-01-2023,0,1753-01-01 00:00:00.000,0.00,198854.67,CLE
58,59,2149,1,20-01-2023,103020,78287.73,EUROPE\NAVSNAP,SALES,148,1457.02,0.00,49633663,20-01-2023,2,103020,EUR,EU,JR,14-01-2023,2180,21-01-2023,1457.02,78287.73,CLE
59,60,2156,1,20-01-2023,104003,-80676.30,EUROPE\NAVSNAP,SALES,149,0.00,80676.30,20000,20-01-2023,3,104003,None,DOMESTIC,PS,20-01-2023,1854,20-01-2023,-80676.30,-80676.30,CLE
60,61,1854,2,20-01-2023,104003,-80676.30,EUROPE\NAVSNAP,SALES,149,0.00,80676.30,20000,31-12-2022,2,00-8,None,DOMESTIC,PS,31-12-2022,0,1753-01-01 00:00:00.000,0.00,NaN,CLE
61,62,2156,2,20-01-2023,104003,80676.30,EUROPE\NAVSNAP,SALES,149,80676.30,0.00,20000,20-01-2023,3,104003,None,DOMESTIC,PS,20-01-2023,1854,20-01-2023,-80676.30,NaN,CLE
62,63,2162,1,20-01-2023,104005,-58640.30,EUROPE\NAVSNAP,SALES,150,0.00,1091.36,49633663,20-01-2023,3,104005,EUR,EU,JR,20-01-2023,0,1753-01-01 00:00:00.000,0.00,-58640.30,CLE
63,64,2172,1,20-01-2023,2804,8208153.74,EUROPE\NAVSNAP,SALESJNL,155,152762.70,0.00,49525252,20-01-2023,2,2804,EUR,EU,JR,20-01-2023,0,1753-01-01 00:00:00.000,0.00,8208153.74,CLE
64,65,2180,1,21-01-2023,2806,-78287.72,EUROPE\NAVSNAP,SALESJNL,157,0.00,1457.02,49633663,21-01-2023,1,2806,EUR,EU,JR,21-01-2023,0,1753-01-01 00:00:00.000,0.00,-78287.72,CLE
65,66,2149,2,21-01-2023,2806,-78287.72,EUROPE\NAVSNAP,SALESJNL,157,0.00,1457.02,49633663,20-01-2023,2,103020,EUR,EU,JR,14-01-2023,2180,21-01-2023,1457.02,NaN,CLE
66,67,2180,2,21-01-2023,2806,78287.72,EUROPE\NAVSNAP,SALESJNL,157,1457.02,0.00,49633663,21-01-2023,1,2806,EUR,EU,JR,21-01-2023,0,1753-01-01 00:00:00.000,0.00,NaN,CLE
67,68,2149,11,21-01-2023,2806,-0.01,EUROPE\NAVSNAP,SALESJNL,157,0.00,0.00,49633663,20-01-2023,2,103020,EUR,EU,JR,14-01-2023,2180,21-01-2023,1457.02,NaN,CLE
68,69,2222,1,22-01-2023,103021,59247.82,EUROPE\NAVSNAP,SALES,163,10300.93,0.00,46897889,22-01-2023,2,103021,SEK,EU,JR,19-01-2023,0,1753-01-01 00:00:00.000,0.00,59247.82,CLE
69,70,2240,1,23-01-2023,103022,133458.14,EUROPE\NAVSNAP,SALES,165,3072.95,0.00,1445544,23-01-2023,2,103022,USD,FOREIGN,JR,21-01-2023,0,1753-01-01 00:00:00.000,0.00,133458.14,CLE
70,71,2248,1,23-01-2023,103023,74360.30,EUROPE\NAVSNAP,SALES,166,74360.30,0.00,20000,23-01-2023,2,103023,None,DOMESTIC,PS,16-01-2023,0,1753-01-01 00:00:00.000,0.00,74360.30,CLE
71,72,2254,1,23-01-2023,BLSINV/002,564630.00,EUROPE\NAVSNAP,SALES,167,564630.00,0.00,10000,23-01-2023,2,BLSINV/002,None,DOMESTIC,PS,23-01-2023,0,1753-01-01 00:00:00.000,0.00,564630.00,CLE
72,73,2261,1,23-01-2023,103002,434761.00,EUROPE\NAVSNAP,SALES,168,434761.00,0.00,20000,23-01-2023,2,103002,None,DOMESTIC,PS,23-01-2023,0,1753-01-01 00:00:00.000,0.00,434761.00,CLE
73,74,2266,1,23-01-2023,S-EXP-00001,411979.00,EUROPE\NAVSNAP,SALES,169,411979.00,0.00,30000,23-01-2023,2,S-EXP-00001,None,DOMESTIC,PS,23-01-2023,0,1753-01-01 00:00:00.000,0.00,411979.00,CLE
74,75,2268,1,23-01-2023,2807,2721608.25,EUROPE\NAVSNAP,SALESJNL,170,50652.10,0.00,49633663,23-01-2023,6,2807,EUR,EU,JR,23-01-2023,0,1753-01-01 00:00:00.000,0.00,2721608.25,CLE
75,76,2277,1,24-01-2023,103024,953012.26,EUROPE\NAVSNAP,SALES,171,140374.72,0.00,47563218,24-01-2023,2,103024,NOK,FOREIGN,JR,20-01-2023,0,1753-01-01 00:00:00.000,0.00,953012.26,CLE
76,77,2279,1,24-01-2023,2808,14923912.47,EUROPE\NAVSNAP,SALESJNL,172,277750.30,0.00,49633663,24-01-2023,2,2808,EUR,EU,JR,24-01-2023,0,1753-01-01 00:00:00.000,0.00,14923912.47,CLE
77,78,2294,1,25-01-2023,103025,141645.76,EUROPE\NAVSNAP,SALES,174,209713.52,0.00,35963852,25-01-2023,2,103025,ISK,FOREIGN,JR,23-01-2023,0,1753-01-01 00:00:00.000,0.00,141645.76,CLE
78,79,2304,1,25-01-2023,2805,-3730979.46,EUROPE\NAVSNAP,SALESJNL,179,0.00,69437.60,49525252,25-01-2023,3,2805,EUR,EU,JR,25-01-2023,0,1753-01-01 00:00:00.000,0.00,-3730979.46,CLE
79,80,2306,1,25-01-2023,2809,9327448.65,EUROPE\NAVSNAP,SALESJNL,180,173594.00,0.00,49633663,25-01-2023,2,2809,EUR,EU,JR,25-01-2023,0,1753-01-01 00:00:00.000,0.00,9327448.65,CLE
80,81,2345,1,26-01-2023,103026,78851.07,EUROPE\NAVSNAP,SALES,186,116743.37,0.00,35451236,26-01-2023,2,103026,ISK,FOREIGN,JR,18-01-2023,0,1753-01-01 00:00:00.000,0.00,78851.07,CLE
81,82,2356,1,26-01-2023,2810,-1865489.73,EUROPE\NAVSNAP,SALESJNL,191,0.00,34718.80,49633663,26-01-2023,3,2810,EUR,EU,JR,26-01-2023,0,1753-01-01 00:00:00.000,0.00,-1865489.73,CLE
82,83,2362,1,18-01-2023,BLSINV/003,243121.01,EUROPE\NAVSNAP,SALES,192,243121.01,0.00,10000,18-01-2023,2,BLSINV/003,None,DOMESTIC,PS,18-01-2023,0,1753-01-01 00:00:00.000,0.00,243121.01,CLE
83,84,2381,1,12-12-2022,BLSINV/004,73810.00,EUROPE\NAVSNAP,SALES,196,73810.00,0.00,40000,12-12-2022,2,BLSINV/004,None,DOMESTIC,PS,12-12-2022,0,1753-01-01 00:00:00.000,0.00,73810.00,CLE
84,85,2383,1,04-12-2022,BLSINV/005,37030.00,EUROPE\NAVSNAP,SALES,197,37030.00,0.00,50000,04-12-2022,2,BLSINV/005,None,DOMESTIC,PS,04-12-2022,0,1753-01-01 00:00:00.000,0.00,37030.00,CLE
85,86,2385,1,16-01-2023,S-EXP-00002,47830.00,EUROPE\NAVSNAP,SALES,198,47830.00,0.00,30000,16-01-2023,2,S-EXP-00002,None,DOMESTIC,PS,16-01-2023,0,1753-01-01 00:00:00.000,0.00,47830.00,CLE

In [162]:
Left_Join_DCLE_CLE['Link_Customer'] = Left_Join_DCLE_CLE.loc[: , 'Sell_To_Customer_No']

In [163]:
Left_Join_DCLE_CLE['CLE_Posting_Date'] = Left_Join_DCLE_CLE.loc[: , 'Posting_Date']

In [169]:
Left_Join_DCLE_CLE.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86 entries, 0 to 85
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DCLE_No                 86 non-null     int64
 1   CLE_No                  86 non-null     int64
 2   Entry_Type              86 non-null     int64
 3   DCLE_Posting_Date       86 non-null     object
 4   Document_No             86 non-null     object
 5   Remaining_Amount        86 non-null     float64
 6   User_ID                 86 non-null     object
 7   Source_Code             86 non-null     object
 8   Transaction_No          86 non-null     int64
 9   Debit_Amount            86 non-null     float64
 10  Credit_Amount           86 non-null     float64
 11  Sell_To_Customer_No     86 non-null     int64
 12  Posting_Date            86 non-null     object
 13  Document_Type           86 non-null     int64
 14  Document No__y          86 non-null     object
 15  Currency_Code           33 non-null     object
 16  Customer_Posting_Group  86 non-null     object
 17  Salesperson_Code        86 non-null     object
 18  CLE_Booking_Date        86 non-null     object
 19  Closed_by_Entry_No      86 non-null     int64
 20  Closed_at_Date          86 non-null     object
 21  Closed_by_Amount        86 non-null     float64
 22  Original_Amount         67 non-null     float64
 23  Flag                    86 non-null     object
 24  Link_Customer           86 non-null     int64
 25  CLE_Posting_Date        86 non-null     object
dtypes: float64(5), int64(8), object(13)
memory usage: 18.1+ KB

In [172]:
Left_Join_DCLE_CLE.drop(['Document No__y'], axis=1,inplace = True)
#Left_Join_SL_SH.drop(['Document Type_x'], axis=1,inplace = True)

In [173]:
Left_Join_DCLE_CLE.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86 entries, 0 to 85
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DCLE_No                 86 non-null     int64
 1   CLE_No                  86 non-null     int64
 2   Entry_Type              86 non-null     int64
 3   DCLE_Posting_Date       86 non-null     object
 4   Document_No             86 non-null     object
 5   Remaining_Amount        86 non-null     float64
 6   User_ID                 86 non-null     object
 7   Source_Code             86 non-null     object
 8   Transaction_No          86 non-null     int64
 9   Debit_Amount            86 non-null     float64
 10  Credit_Amount           86 non-null     float64
 11  Sell_To_Customer_No     86 non-null     int64
 12  Posting_Date            86 non-null     object
 13  Document_Type           86 non-null     int64
 14  Currency_Code           33 non-null     object
 15  Customer_Posting_Group  86 non-null     object
 16  Salesperson_Code        86 non-null     object
 17  CLE_Booking_Date        86 non-null     object
 18  Closed_by_Entry_No      86 non-null     int64
 19  Closed_at_Date          86 non-null     object
 20  Closed_by_Amount        86 non-null     float64
 21  Original_Amount         67 non-null     float64
 22  Flag                    86 non-null     object
 23  Link_Customer           86 non-null     int64
 24  CLE_Posting_Date        86 non-null     object
dtypes: float64(5), int64(8), object(12)
memory usage: 17.5+ KB