In [48]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (1.4.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.23.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [49]:
! pip install pandas-profiling

Requirement already satisfied: pandas-profiling in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (3.2.0)
Requirement already satisfied: markupsafe~=2.1.1 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from pandas-profiling) (2.1.1)
Requirement already satisfied: phik>=0.11.1 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from pandas-profiling) (0.12.2)
Requirement already satisfied: missingno>=0.4.2 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from pandas-profiling) (0.5.1)
Requirement already satisfied: matplotlib>=3.2.0 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from pandas-profiling) (3.5.3)
Requirement already satisfied: joblib~=1.1.0 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from pandas-profiling) (1.1.0)
Requirement already satisfied: PyYAML>=5.0.0 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from pandas-profiling) (6.0)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from pandas-profiling) (3.1.2)
Requirement already satisfied: visions[type_image_path]==0.7.4 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from pandas-profiling) (0.7.4)
Requirement already satisfied: pydantic>=1.8.1 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from pandas-profiling) (1.9.2)
Requirement already satisfied: tangled-up-in-unicode==0.2.0 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from pandas-profiling) (0.2.0)
Requirement already satisfied: requests>=2.24.0 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from pandas-profiling) (2.28.1)
Requirement already satisfied: htmlmin>=0.1.12 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from pandas-profiling) (0.1.12)
Requirement already satisfied: seaborn>=0.10.1 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from pandas-profiling) (0.11.2)
Requirement already satisfied: tqdm>=4.48.2 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from pandas-profiling) (4.64.0)
Requirement already satisfied: scipy>=1.4.1 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from pandas-profiling) (1.9.1)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from pandas-profiling) (1.4.3)
Requirement already satisfied: multimethod>=1.4 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from pandas-profiling) (1.8)
Requirement already satisfied: numpy>=1.16.0 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from pandas-profiling) (1.23.2)
Requirement already satisfied: attrs>=19.3.0 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (22.1.0)
Requirement already satisfied: networkx>=2.4 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (2.8.6)
Requirement already satisfied: imagehash in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (4.2.1)
Requirement already satisfied: Pillow in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (9.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (0.11.0)
Requirement already satisfied: packaging>=20.0 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (4.37.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (2022.2.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from pydantic>=1.8.1->pandas-profiling) (4.3.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.24.0->pandas-profiling) (1.26.12)
Requirement already satisfied: idna<4,>=2.5 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.24.0->pandas-profiling) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2022.6.15)
Requirement already satisfied: colorama in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from tqdm>=4.48.2->pandas-profiling) (0.4.5)
Requirement already satisfied: six>=1.5 in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.2.0->pandas-profiling) (1.16.0)
Requirement already satisfied: PyWavelets in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (from imagehash->visions[type_image_path]==0.7.4->pandas-profiling) (1.3.0)

In [50]:
from pandas_profiling import ProfileReport

In [51]:
import pandas as pd

In [52]:
! pip install --upgrade pip

Requirement already satisfied: pip in c:\users\15447\appdata\local\programs\python\python310\lib\site-packages (22.3.1)

In [53]:
# Read Sales Header file from local
df_SalesHeader = pd.read_csv("C:\\Users\\15447\\Documents\\O2C Data\\O2C QDI Data\\Sales Header.csv", encoding='latin1')

In [54]:
df_SalesHeader.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Document Type            44 non-null     int64
 1   No_                      44 non-null     int64
 2   Sell-to Customer No_     44 non-null     int64
 3   Ship-to Name             44 non-null     object
 4   Ship-to City             44 non-null     object
 5   Order Date               44 non-null     object
 6   Posting Date             44 non-null     object
 7   Shipment Date            44 non-null     object
 8   Payment Terms Code       44 non-null     object
 9   Ship                     44 non-null     int64
 10  Invoice                  44 non-null     int64
 11  Requested Delivery Date  44 non-null     object
 12  Promised Delivery Date   44 non-null     object
 13  State                    17 non-null     object
 14  Sell-to Customer Name    44 non-null     object
 15  Currency Factor          44 non-null     float64
 16  Salesperson Code         44 non-null     object
 17  Responsibility Center    12 non-null     object
dtypes: float64(1), int64(5), object(12)
memory usage: 6.3+ KB

In [55]:
# Replace null values with None
df_SalesHeader['State'] = df_SalesHeader['State'].where(pd.notnull(df_SalesHeader['State']), None)

In [56]:
df_SalesHeader['Responsibility Center'] = df_SalesHeader['Responsibility Center'].where(pd.notnull(df_SalesHeader['Responsibility Center']), None)

In [57]:
# Rename column name 
df_SalesHeader.rename(columns = {'No_':'Document_No'}, inplace = True)

In [58]:
df_SalesHeader["Order Date"] = pd.to_datetime(df_SalesHeader["Order Date"])

C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2898472854.py:1: UserWarning: Parsing '20-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Order Date"] = pd.to_datetime(df_SalesHeader["Order Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2898472854.py:1: UserWarning: Parsing '13-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Order Date"] = pd.to_datetime(df_SalesHeader["Order Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2898472854.py:1: UserWarning: Parsing '19-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Order Date"] = pd.to_datetime(df_SalesHeader["Order Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2898472854.py:1: UserWarning: Parsing '22-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Order Date"] = pd.to_datetime(df_SalesHeader["Order Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2898472854.py:1: UserWarning: Parsing '26-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Order Date"] = pd.to_datetime(df_SalesHeader["Order Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2898472854.py:1: UserWarning: Parsing '27-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Order Date"] = pd.to_datetime(df_SalesHeader["Order Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2898472854.py:1: UserWarning: Parsing '23-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Order Date"] = pd.to_datetime(df_SalesHeader["Order Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2898472854.py:1: UserWarning: Parsing '22-02-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Order Date"] = pd.to_datetime(df_SalesHeader["Order Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2898472854.py:1: UserWarning: Parsing '18-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Order Date"] = pd.to_datetime(df_SalesHeader["Order Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2898472854.py:1: UserWarning: Parsing '31-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Order Date"] = pd.to_datetime(df_SalesHeader["Order Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2898472854.py:1: UserWarning: Parsing '16-09-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Order Date"] = pd.to_datetime(df_SalesHeader["Order Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2898472854.py:1: UserWarning: Parsing '25-09-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Order Date"] = pd.to_datetime(df_SalesHeader["Order Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2898472854.py:1: UserWarning: Parsing '22-09-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Order Date"] = pd.to_datetime(df_SalesHeader["Order Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2898472854.py:1: UserWarning: Parsing '27-09-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Order Date"] = pd.to_datetime(df_SalesHeader["Order Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2898472854.py:1: UserWarning: Parsing '16-10-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Order Date"] = pd.to_datetime(df_SalesHeader["Order Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2898472854.py:1: UserWarning: Parsing '22-10-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Order Date"] = pd.to_datetime(df_SalesHeader["Order Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2898472854.py:1: UserWarning: Parsing '24-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Order Date"] = pd.to_datetime(df_SalesHeader["Order Date"])

In [59]:
df_SalesHeader["Posting Date"] = pd.to_datetime(df_SalesHeader["Posting Date"])

C:\Users\15447\AppData\Local\Temp\ipykernel_17940\362712003.py:1: UserWarning: Parsing '27-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Posting Date"] = pd.to_datetime(df_SalesHeader["Posting Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\362712003.py:1: UserWarning: Parsing '29-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Posting Date"] = pd.to_datetime(df_SalesHeader["Posting Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\362712003.py:1: UserWarning: Parsing '14-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Posting Date"] = pd.to_datetime(df_SalesHeader["Posting Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\362712003.py:1: UserWarning: Parsing '22-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Posting Date"] = pd.to_datetime(df_SalesHeader["Posting Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\362712003.py:1: UserWarning: Parsing '22-02-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Posting Date"] = pd.to_datetime(df_SalesHeader["Posting Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\362712003.py:1: UserWarning: Parsing '18-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Posting Date"] = pd.to_datetime(df_SalesHeader["Posting Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\362712003.py:1: UserWarning: Parsing '31-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Posting Date"] = pd.to_datetime(df_SalesHeader["Posting Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\362712003.py:1: UserWarning: Parsing '16-09-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Posting Date"] = pd.to_datetime(df_SalesHeader["Posting Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\362712003.py:1: UserWarning: Parsing '25-09-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Posting Date"] = pd.to_datetime(df_SalesHeader["Posting Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\362712003.py:1: UserWarning: Parsing '22-09-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Posting Date"] = pd.to_datetime(df_SalesHeader["Posting Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\362712003.py:1: UserWarning: Parsing '27-09-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Posting Date"] = pd.to_datetime(df_SalesHeader["Posting Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\362712003.py:1: UserWarning: Parsing '16-10-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Posting Date"] = pd.to_datetime(df_SalesHeader["Posting Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\362712003.py:1: UserWarning: Parsing '22-10-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Posting Date"] = pd.to_datetime(df_SalesHeader["Posting Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\362712003.py:1: UserWarning: Parsing '24-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Posting Date"] = pd.to_datetime(df_SalesHeader["Posting Date"])

In [60]:
df_SalesHeader["Shipment Date"] = pd.to_datetime(df_SalesHeader["Shipment Date"])

C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2664927300.py:1: UserWarning: Parsing '20-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Shipment Date"] = pd.to_datetime(df_SalesHeader["Shipment Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2664927300.py:1: UserWarning: Parsing '13-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Shipment Date"] = pd.to_datetime(df_SalesHeader["Shipment Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2664927300.py:1: UserWarning: Parsing '19-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Shipment Date"] = pd.to_datetime(df_SalesHeader["Shipment Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2664927300.py:1: UserWarning: Parsing '22-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Shipment Date"] = pd.to_datetime(df_SalesHeader["Shipment Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2664927300.py:1: UserWarning: Parsing '26-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Shipment Date"] = pd.to_datetime(df_SalesHeader["Shipment Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2664927300.py:1: UserWarning: Parsing '27-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Shipment Date"] = pd.to_datetime(df_SalesHeader["Shipment Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2664927300.py:1: UserWarning: Parsing '23-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Shipment Date"] = pd.to_datetime(df_SalesHeader["Shipment Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2664927300.py:1: UserWarning: Parsing '22-02-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Shipment Date"] = pd.to_datetime(df_SalesHeader["Shipment Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2664927300.py:1: UserWarning: Parsing '18-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Shipment Date"] = pd.to_datetime(df_SalesHeader["Shipment Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2664927300.py:1: UserWarning: Parsing '31-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Shipment Date"] = pd.to_datetime(df_SalesHeader["Shipment Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2664927300.py:1: UserWarning: Parsing '16-09-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Shipment Date"] = pd.to_datetime(df_SalesHeader["Shipment Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2664927300.py:1: UserWarning: Parsing '25-09-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Shipment Date"] = pd.to_datetime(df_SalesHeader["Shipment Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2664927300.py:1: UserWarning: Parsing '22-09-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Shipment Date"] = pd.to_datetime(df_SalesHeader["Shipment Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2664927300.py:1: UserWarning: Parsing '27-09-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Shipment Date"] = pd.to_datetime(df_SalesHeader["Shipment Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2664927300.py:1: UserWarning: Parsing '16-10-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Shipment Date"] = pd.to_datetime(df_SalesHeader["Shipment Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2664927300.py:1: UserWarning: Parsing '22-10-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Shipment Date"] = pd.to_datetime(df_SalesHeader["Shipment Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\2664927300.py:1: UserWarning: Parsing '24-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Shipment Date"] = pd.to_datetime(df_SalesHeader["Shipment Date"])

In [61]:
df_SalesHeader["Promised Delivery Date"] = pd.to_datetime(df_SalesHeader["Promised Delivery Date"])

C:\Users\15447\AppData\Local\Temp\ipykernel_17940\663792471.py:1: UserWarning: Parsing '13-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Promised Delivery Date"] = pd.to_datetime(df_SalesHeader["Promised Delivery Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\663792471.py:1: UserWarning: Parsing '21-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Promised Delivery Date"] = pd.to_datetime(df_SalesHeader["Promised Delivery Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\663792471.py:1: UserWarning: Parsing '16-09-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Promised Delivery Date"] = pd.to_datetime(df_SalesHeader["Promised Delivery Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\663792471.py:1: UserWarning: Parsing '22-09-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Promised Delivery Date"] = pd.to_datetime(df_SalesHeader["Promised Delivery Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\663792471.py:1: UserWarning: Parsing '26-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Promised Delivery Date"] = pd.to_datetime(df_SalesHeader["Promised Delivery Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\663792471.py:1: UserWarning: Parsing '27-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Promised Delivery Date"] = pd.to_datetime(df_SalesHeader["Promised Delivery Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\663792471.py:1: UserWarning: Parsing '24-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Promised Delivery Date"] = pd.to_datetime(df_SalesHeader["Promised Delivery Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\663792471.py:1: UserWarning: Parsing '22-02-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Promised Delivery Date"] = pd.to_datetime(df_SalesHeader["Promised Delivery Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\663792471.py:1: UserWarning: Parsing '19-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Promised Delivery Date"] = pd.to_datetime(df_SalesHeader["Promised Delivery Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\663792471.py:1: UserWarning: Parsing '18-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Promised Delivery Date"] = pd.to_datetime(df_SalesHeader["Promised Delivery Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\663792471.py:1: UserWarning: Parsing '16-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Promised Delivery Date"] = pd.to_datetime(df_SalesHeader["Promised Delivery Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\663792471.py:1: UserWarning: Parsing '15-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Promised Delivery Date"] = pd.to_datetime(df_SalesHeader["Promised Delivery Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\663792471.py:1: UserWarning: Parsing '20-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Promised Delivery Date"] = pd.to_datetime(df_SalesHeader["Promised Delivery Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\663792471.py:1: UserWarning: Parsing '31-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Promised Delivery Date"] = pd.to_datetime(df_SalesHeader["Promised Delivery Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\663792471.py:1: UserWarning: Parsing '13-09-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Promised Delivery Date"] = pd.to_datetime(df_SalesHeader["Promised Delivery Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\663792471.py:1: UserWarning: Parsing '17-09-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Promised Delivery Date"] = pd.to_datetime(df_SalesHeader["Promised Delivery Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\663792471.py:1: UserWarning: Parsing '24-09-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Promised Delivery Date"] = pd.to_datetime(df_SalesHeader["Promised Delivery Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\663792471.py:1: UserWarning: Parsing '28-09-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Promised Delivery Date"] = pd.to_datetime(df_SalesHeader["Promised Delivery Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\663792471.py:1: UserWarning: Parsing '17-10-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Promised Delivery Date"] = pd.to_datetime(df_SalesHeader["Promised Delivery Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\663792471.py:1: UserWarning: Parsing '23-10-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Promised Delivery Date"] = pd.to_datetime(df_SalesHeader["Promised Delivery Date"])
C:\Users\15447\AppData\Local\Temp\ipykernel_17940\663792471.py:1: UserWarning: Parsing '25-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_SalesHeader["Promised Delivery Date"] = pd.to_datetime(df_SalesHeader["Promised Delivery Date"])

In [62]:
df_SalesHeader

,Document Type,Document_No,Sell-to Customer No_,Ship-to Name,Ship-to City,Order Date,Posting Date,Shipment Date,Payment Terms Code,Ship,Invoice,Requested Delivery Date,Promised Delivery Date,State,Sell-to Customer Name,Currency Factor,Salesperson Code,Responsibility Center
0,1,101005,30000,John Haddock Insurance Co.,Manchester,2023-12-01,2023-01-27,2023-12-01,CM,1,0,1753-01-01 00:00:00.000,2023-01-13,KAR,John Haddock Insurance Co.,1.000000,PS,None
1,1,101009,38128456,MEMA Ljubljana d.o.o.,Ljubljana,2023-01-20,2023-01-29,2023-01-20,1M(8D),1,0,1753-01-01 00:00:00.000,2023-01-21,None,MEMA Ljubljana d.o.o.,0.018611,JR,None
2,1,101011,43687129,Designstudio Gmunden,Gmunden,2023-01-13,2023-01-14,2023-01-13,1M(8D),0,1,1753-01-01 00:00:00.000,2023-12-01,None,Designstudio Gmunden,0.018611,JR,None
3,1,101013,46897889,Englunds Kontorsmöbler AB,Norrköbing,2023-01-19,2023-01-22,2023-01-19,CM,0,1,1753-01-01 00:00:00.000,2023-09-16,None,Englunds Kontorsmöbler AB,0.173862,JR,None
4,1,101015,49633663,Autohaus Mielberg KG,Hamburg 36,2023-01-22,2023-01-27,2023-01-22,14 DAYS,1,0,1753-01-01 00:00:00.000,2023-09-22,None,Autohaus Mielberg KG,0.018611,JR,None
5,1,101016,10000,The Cannon Group PLC,New Delhi,2023-01-26,2023-01-02,2023-01-26,1M(8D),1,0,1753-01-01 00:00:00.000,2023-01-26,ND,The Cannon Group PLC,1.000000,PS,None
6,1,101017,20000,Selangorian Ltd.,Coventry,2023-01-27,2023-01-27,2023-01-27,14 DAYS,0,0,1753-01-01 00:00:00.000,2023-01-27,HR,Selangorian Ltd.,1.000000,PS,None
7,1,101018,1454545,New Concepts Furniture,Atlanta,2023-01-27,2023-01-27,2023-01-27,1M(8D),0,0,1753-01-01 00:00:00.000,2023-01-27,None,New Concepts Furniture,1.000000,PS,None
8,1,101019,31987987,Candoxy Nederland BV,Amsterdam,2023-01-23,2023-01-02,2023-01-23,CM,1,0,1753-01-01 00:00:00.000,2023-01-24,None,Candoxy Nederland BV,0.018611,JR,None
9,1,101020,32789456,Lovaina Contractors,Leuven,2023-01-27,2023-01-27,2023-01-27,CM,0,0,1753-01-01 00:00:00.000,2023-01-27,None,Lovaina Contractors,0.018611,JR,None
10,1,101022,38128456,MEMA Ljubljana d.o.o.,Ljubljana,2023-05-02,2023-05-02,2023-05-02,1M(8D),0,0,1753-01-01 00:00:00.000,2023-05-02,None,MEMA Ljubljana d.o.o.,0.018611,JR,None
11,1,101023,30000,John Haddock Insurance Co.,Manchester,2023-02-22,2023-02-22,2023-02-22,CM,0,0,1753-01-01 00:00:00.000,2023-02-22,KAR,John Haddock Insurance Co.,1.000000,PS,None
12,1,104001,10000,The Cannon Group PLC,New Delhi,2023-01-18,2023-01-18,2023-01-18,1M(8D),0,0,1753-01-01 00:00:00.000,2023-01-19,ND,The Cannon Group PLC,1.000000,PS,CHENNAI
13,1,104002,20000,Selangorian Ltd.,Coventry,2023-01-18,2023-01-18,2023-01-18,14 DAYS,0,0,1753-01-01 00:00:00.000,2023-01-18,HR,Selangorian Ltd.,1.000000,PS,None
14,1,104003,30000,John Haddock Insurance Co.,Manchester,2023-01-18,2023-01-18,2023-01-18,CM,0,0,1753-01-01 00:00:00.000,2023-01-16,KAR,John Haddock Insurance Co.,1.000000,PS,None
15,1,104004,40000,Mumbai Graphics Company,Mumbai,2023-01-18,2023-01-18,2023-01-18,1M(8D),0,0,1753-01-01 00:00:00.000,2023-01-18,MAH,Mumbai Graphics Company,1.000000,PS,None
16,1,104005,60000,Blanemark Hifi Shop,London,2023-01-18,2023-01-18,2023-01-18,1M(8D),0,0,1753-01-01 00:00:00.000,2023-01-18,None,Blanemark Hifi Shop,1.000000,JR,DELHI
17,1,104006,10000,The Cannon Group PLC,New Delhi,2023-01-18,2023-01-18,2023-01-18,1M(8D),0,0,1753-01-01 00:00:00.000,2023-01-18,ND,The Cannon Group PLC,1.000000,PS,CHENNAI
18,1,104007,20000,Selangorian Ltd.,Coventry,2023-01-18,2023-01-18,2023-01-18,14 DAYS,0,0,1753-01-01 00:00:00.000,2023-01-15,HR,Selangorian Ltd.,1.000000,PS,None
19,1,104008,30000,John Haddock Insurance Co.,Manchester,2023-01-18,2023-01-18,2023-01-18,CM,0,0,1753-01-01 00:00:00.000,2023-01-18,KAR,John Haddock Insurance Co.,1.000000,PS,None
20,1,104009,40000,Mumbai Graphics Company,Mumbai,2023-01-18,2023-01-18,2023-01-18,1M(8D),0,0,1753-01-01 00:00:00.000,2023-01-16,MAH,Mumbai Graphics Company,1.000000,PS,None
21,1,104010,60000,Blanemark Hifi Shop,London,2023-01-18,2023-01-18,2023-01-18,1M(8D),0,0,1753-01-01 00:00:00.000,2023-01-19,None,Blanemark Hifi Shop,1.000000,JR,DELHI
22,1,104011,10000,The Cannon Group PLC,New Delhi,2023-01-18,2023-01-18,2023-01-18,1M(8D),0,0,1753-01-01 00:00:00.000,2023-01-20,ND,The Cannon Group PLC,1.000000,PS,CHENNAI
23,1,104012,20000,Selangorian Ltd.,Coventry,2023-01-18,2023-01-18,2023-01-18,14 DAYS,0,0,1753-01-01 00:00:00.000,2023-01-20,HR,Selangorian Ltd.,1.000000,PS,None
24,1,104013,30000,John Haddock Insurance Co.,Manchester,2023-01-18,2023-01-18,2023-01-18,CM,0,0,1753-01-01 00:00:00.000,2023-01-20,KAR,John Haddock Insurance Co.,1.000000,PS,None
25,1,104014,40000,Mumbai Graphics Company,Mumbai,2023-01-18,2023-01-18,2023-01-18,1M(8D),0,0,1753-01-01 00:00:00.000,2023-01-20,MAH,Mumbai Graphics Company,1.000000,PS,None
26,1,104015,61000,Fairway Sound,London,2023-01-18,2023-01-18,2023-01-18,1M(8D),0,0,1753-01-01 00:00:00.000,2023-01-18,None,Fairway Sound,1.000000,PS,DELHI
27,1,104016,60000,Blanemark Hifi Shop,London,2023-01-18,2023-01-18,2023-01-18,1M(8D),0,0,1753-01-01 00:00:00.000,2023-01-18,None,Blanemark Hifi Shop,1.000000,JR,DELHI
28,1,104017,61000,Fairway Sound,London,2023-01-18,2023-01-18,2023-01-18,1M(8D),0,0,1753-01-01 00:00:00.000,2023-01-19,None,Fairway Sound,1.000000,PS,DELHI
29,1,104018,62000,The Device Shop,London,2023-01-18,2023-01-18,2023-01-18,14 DAYS,0,0,1753-01-01 00:00:00.000,2023-01-20,None,The Device Shop,1.000000,PS,DELHI
30,1,104019,61000,Fairway Sound,London,2023-01-31,2023-01-31,2023-01-31,1M(8D),0,0,1753-01-01 00:00:00.000,2023-01-31,None,Fairway Sound,1.000000,PS,DELHI
31,1,104020,62000,The Device Shop,London,2023-01-31,2023-01-31,2023-01-31,14 DAYS,0,0,1753-01-01 00:00:00.000,2023-01-31,None,The Device Shop,1.000000,PS,DELHI
32,1,104021,60000,Blanemark Hifi Shop,London,2023-01-18,2023-01-18,2023-01-18,1M(8D),0,0,1753-01-01 00:00:00.000,2023-01-20,None,Blanemark Hifi Shop,1.000000,JR,DELHI
33,1,109001,49633663,Autohaus Mielberg KG,Hamburg 36,2023-12-09,2023-12-09,2023-12-09,14 DAYS,0,0,1753-01-01 00:00:00.000,2023-09-13,None,Autohaus Mielberg KG,0.018611,JR,None
34,1,109002,43687129,Designstudio Gmunden,Gmunden,2023-09-16,2023-09-16,2023-09-16,1M(8D),0,0,1753-01-01 00:00:00.000,2023-09-17,None,Designstudio Gmunden,0.018611,JR,None
35,1,109003,38128456,MEMA Ljubljana d.o.o.,Ljubljana,2023-09-25,2023-09-25,2023-09-25,1M(8D),0,0,1753-01-01 00:00:00.000,2023-09-24,None,MEMA Ljubljana d.o.o.,0.018611,JR,None
36,1,109004,43687129,Designstudio Gmunden,Gmunden,2023-09-22,2023-09-22,2023-09-22,1M(8D),0,0,1753-01-01 00:00:00.000,2023-09-22,None,Designstudio Gmunden,0.018611,JR,None
37,1,109005,38128456,MEMA Ljubljana d.o.o.,Ljubljana,2023-09-27,2023-09-27,2023-09-27,1M(8D),0,0,1753-01-01 00:00:00.000,2023-09-28,None,MEMA Ljubljana d.o.o.,0.018611,JR,None
38,1,6001,49525252,Beef House,Düsseldorf,2023-12-10,2023-12-10,2023-12-10,1M(8D),0,0,1753-01-01 00:00:00.000,2023-11-10,None,Beef House,0.018611,JR,None
39,1,6002,49525252,Beef House,Düsseldorf,2023-10-16,2023-10-16,2023-10-16,1M(8D),0,0,1753-01-01 00:00:00.000,2023-10-17,None,Beef House,0.018611,JR,None
40,1,6003,49633663,Autohaus Mielberg KG,Hamburg 36,2023-10-22,2023-10-22,2023-10-22,14 DAYS,0,0,1753-01-01 00:00:00.000,2023-10-23,None,Autohaus Mielberg KG,0.018611,JR,None
41,1,6004,49633663,Autohaus Mielberg KG,Hamburg 36,2023-01-27,2023-01-27,2023-01-27,14 DAYS,0,0,1753-01-01 00:00:00.000,2023-01-25,None,Autohaus Mielberg KG,0.018611,JR,None
42,2,103004,50000,Lucknow Water Department,Guildford,2023-01-24,2023-01-24,2023-01-24,14 DAYS,0,0,1753-01-01 00:00:00.000,2023-01-26,UP,Lucknow Water Department,1.000000,PS,None
43,3,104004,47563218,Yellow Warehouse,Bristol,2023-01-27,2023-01-27,2023-01-27,14 DAYS,0,0,1753-01-01 00:00:00.000,2023-01-27,None,Klubben,0.147162,JR,None

In [63]:
df_SalesHeader.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Document Type            44 non-null     int64
 1   Document_No              44 non-null     int64
 2   Sell-to Customer No_     44 non-null     int64
 3   Ship-to Name             44 non-null     object
 4   Ship-to City             44 non-null     object
 5   Order Date               44 non-null     datetime64[ns]
 6   Posting Date             44 non-null     datetime64[ns]
 7   Shipment Date            44 non-null     datetime64[ns]
 8   Payment Terms Code       44 non-null     object
 9   Ship                     44 non-null     int64
 10  Invoice                  44 non-null     int64
 11  Requested Delivery Date  44 non-null     object
 12  Promised Delivery Date   44 non-null     datetime64[ns]
 13  State                    17 non-null     object
 14  Sell-to Customer Name    44 non-null     object
 15  Currency Factor          44 non-null     float64
 16  Salesperson Code         44 non-null     object
 17  Responsibility Center    12 non-null     object
dtypes: datetime64[ns](4), float64(1), int64(5), object(8)
memory usage: 6.3+ KB

In [64]:
df_SalesLine = pd.read_csv("C:\\Users\\15447\\Documents\\O2C Data\\O2C QDI Data\\Sales Line.csv", encoding='latin1')

In [66]:
df_SalesLine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Document Type               95 non-null     int64
 1   Document No_                95 non-null     int64
 2   Line No_                    95 non-null     int64
 3   Type                        95 non-null     int64
 4   No_                         95 non-null     object
 5   Location Code               86 non-null     object
 6   Quantity                    95 non-null     int64
 7   Outstanding Quantity        95 non-null     int64
 8   Qty_ to Invoice             95 non-null     int64
 9   Qty_ to Ship                95 non-null     int64
 10  Unit Price                  95 non-null     float64
 11  Unit Cost (LCY)             95 non-null     float64
 12  Line Discount _             95 non-null     int64
 13  Line Discount Amount        95 non-null     float64
 14  Amount                      95 non-null     float64
 15  Profit _                    95 non-null     float64
 16  Outstanding Amount (LCY)    95 non-null     float64
 17  Shipped Not Invoiced (LCY)  95 non-null     float64
 18  Line Amount                 95 non-null     float64
 19  Planned Delivery Date       95 non-null     object
 20  Planned Shipment Date       95 non-null     object
dtypes: float64(8), int64(9), object(4)
memory usage: 15.7+ KB

In [68]:
df_SalesLine.rename(columns = {'Document No_':'Document_No'}, inplace = True)

In [72]:
df_SalesLine.drop(['Planned Delivery Date','Planned Shipment Date'], axis=1,inplace = True)

In [73]:
df_SalesLine

,Document Type,Document_No,Line No_,Type,No_,Location Code,Quantity,Outstanding Quantity,Qty_ to Invoice,Qty_ to Ship,Unit Price,Unit Cost (LCY),Line Discount _,Line Discount Amount,Amount,Profit _,Outstanding Amount (LCY),Shipped Not Invoiced (LCY),Line Amount
0,1,101005,10000,2,1920-S,RED,4,0,4,0,29190.000,22770.0000,5,5838.0,110922.00,21.99383,0.00,110922.00,110922.00
1,1,101009,10000,2,1976-W,GREEN,5,3,2,0,331.091,10450.0000,0,0.0,1655.46,41.25913,53370.32,35579.86,1655.46
2,1,101009,20000,2,1964-W,GREEN,2,1,1,0,377.433,11890.0000,0,0.0,754.87,41.37081,20280.38,20280.38,754.87
3,1,101011,10000,2,1920-S,GREEN,5,3,0,0,543.258,22770.0000,0,0.0,2716.29,21.99383,87569.82,0.00,2716.29
4,1,101011,20000,2,1900-S,GREEN,12,6,0,0,161.730,6770.0000,0,0.0,1940.76,22.09436,52139.88,0.00,1940.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,1,6004,30000,2,80100,GREEN,20,20,0,0,1.489,43.1982,0,0.0,29.78,46.00225,1600.12,0.00,29.78
91,1,6004,40000,2,1964-S,GREEN,3,3,0,0,161.730,6770.0000,0,0.0,485.19,22.09436,26069.94,0.00,485.19
92,1,6004,50000,2,1968-S,GREEN,5,5,0,0,159.311,6670.0000,0,0.0,796.56,22.07944,42800.28,0.00,796.56
93,1,6004,60000,2,1996-S,GREEN,5,5,0,0,1171.754,49110.0000,0,0.0,5858.77,21.99809,314799.91,0.00,5858.77
94,3,104004,10000,2,766BC-C,GREEN,1,1,1,0,9652.324,42640.0000,0,0.0,9652.32,34.99009,65589.98,0.00,9652.32

In [74]:
df_SalesLine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Document Type               95 non-null     int64
 1   Document_No                 95 non-null     int64
 2   Line No_                    95 non-null     int64
 3   Type                        95 non-null     int64
 4   No_                         95 non-null     object
 5   Location Code               86 non-null     object
 6   Quantity                    95 non-null     int64
 7   Outstanding Quantity        95 non-null     int64
 8   Qty_ to Invoice             95 non-null     int64
 9   Qty_ to Ship                95 non-null     int64
 10  Unit Price                  95 non-null     float64
 11  Unit Cost (LCY)             95 non-null     float64
 12  Line Discount _             95 non-null     int64
 13  Line Discount Amount        95 non-null     float64
 14  Amount                      95 non-null     float64
 15  Profit _                    95 non-null     float64
 16  Outstanding Amount (LCY)    95 non-null     float64
 17  Shipped Not Invoiced (LCY)  95 non-null     float64
 18  Line Amount                 95 non-null     float64
dtypes: float64(8), int64(9), object(2)
memory usage: 14.2+ KB

In [79]:
Left_Join_SL_SH = df_SalesLine.merge(df_SalesHeader, on='Document_No', how='left')

In [80]:
Left_Join_SL_SH

,Document Type_x,Document_No,Line No_,Type,No_,Location Code,Quantity,Outstanding Quantity,Qty_ to Invoice,Qty_ to Ship,...,Payment Terms Code,Ship,Invoice,Requested Delivery Date,Promised Delivery Date,State,Sell-to Customer Name,Currency Factor,Salesperson Code,Responsibility Center
0,1,101005,10000,2,1920-S,RED,4,0,4,0,...,CM,1,0,1753-01-01 00:00:00.000,2023-01-13,KAR,John Haddock Insurance Co.,1.000000,PS,None
1,1,101009,10000,2,1976-W,GREEN,5,3,2,0,...,1M(8D),1,0,1753-01-01 00:00:00.000,2023-01-21,None,MEMA Ljubljana d.o.o.,0.018611,JR,None
2,1,101009,20000,2,1964-W,GREEN,2,1,1,0,...,1M(8D),1,0,1753-01-01 00:00:00.000,2023-01-21,None,MEMA Ljubljana d.o.o.,0.018611,JR,None
3,1,101011,10000,2,1920-S,GREEN,5,3,0,0,...,1M(8D),0,1,1753-01-01 00:00:00.000,2023-12-01,None,Designstudio Gmunden,0.018611,JR,None
4,1,101011,20000,2,1900-S,GREEN,12,6,0,0,...,1M(8D),0,1,1753-01-01 00:00:00.000,2023-12-01,None,Designstudio Gmunden,0.018611,JR,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,1,6004,40000,2,1964-S,GREEN,3,3,0,0,...,14 DAYS,0,0,1753-01-01 00:00:00.000,2023-01-25,None,Autohaus Mielberg KG,0.018611,JR,None
93,1,6004,50000,2,1968-S,GREEN,5,5,0,0,...,14 DAYS,0,0,1753-01-01 00:00:00.000,2023-01-25,None,Autohaus Mielberg KG,0.018611,JR,None
94,1,6004,60000,2,1996-S,GREEN,5,5,0,0,...,14 DAYS,0,0,1753-01-01 00:00:00.000,2023-01-25,None,Autohaus Mielberg KG,0.018611,JR,None
95,3,104004,10000,2,766BC-C,GREEN,1,1,1,0,...,1M(8D),0,0,1753-01-01 00:00:00.000,2023-01-18,MAH,Mumbai Graphics Company,1.000000,PS,None
96,3,104004,10000,2,766BC-C,GREEN,1,1,1,0,...,14 DAYS,0,0,1753-01-01 00:00:00.000,2023-01-27,None,Klubben,0.147162,JR,None

In [92]:
pd.set_option('display.max_columns',None)

In [90]:
pd.set_option('display.max_rows',None)

In [95]:
Left_Join_SL_SH['Responsibility Center'] = Left_Join_SL_SH['Responsibility Center'].where(pd.notnull(Left_Join_SL_SH['Responsibility Center']), None)

In [98]:
Left_Join_SL_SH.drop(['Requested Delivery Date'], axis=1,inplace = True)

In [105]:
Left_Join_SL_SH.drop(['Document_Type'], axis=1,inplace = True)

In [108]:
# Rename Column name
Left_Join_SL_SH.rename(columns = {'Document Type_y':'Document_Type',
'Line No_':'Line_No',
'No_':'No',
'Amount':'Sales_Amount',
'Location Code':'Location_Code',
'Outstanding Quantity':'Outstanding_Quantity',
'Qty_ to Invoice': 'Qty_To_Invoice',
'Qty_ to Ship': 'Qty_To_Ship',
'Unit Price': 'Unit_Price',
'Unit Cost (LCY)':'Unit_Cost_LCY',
'Line Discount _': 'Line_Discount_%',
'Line Discount Amount':'Line_Discount_Amount',
'Profit _':'Profit_%',
'Outstanding Amount (LCY)':'Outstanding_Amount_LCY',
'Shipped Not Invoiced (LCY)':'Shipped_Not_Invoiced_LCY',
'Line Amount':'Line_Amount',
'Sell-to Customer No_':'Sell_To_Customer_No',
'Ship-to Name':'Ship_To_Name',
'Ship-to City':'Ship_To_City',
'Order Date':'Order_Date',
'Posting Date':'Posting_Date',
'Shipment Date':'Shipment_Date',
'Payment Terms Code':'Payment_Terms_Code',
'Ship':'Ship_Info',
'Invoice':'Invoice_Info',
'Promised Delivery Date':'Promised_Delivery_Date',
'Sell-to Customer Name':'Sell_To_Customer_Name',
'Currency Factor':'Currency_Factor',
'Salesperson Code':'Salesperson_Code',
'Responsibility Center':'Responsibility_Center'}, inplace = True)

In [139]:
Left_Join_SL_SH['Type'] = Left_Join_SL_SH['Type'].astype('str')

In [140]:
Left_Join_SL_SH.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97 entries, 0 to 96
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Document_No               97 non-null     int64
 1   Line_No                   97 non-null     int64
 2   Type                      97 non-null     object
 3   No                        97 non-null     object
 4   Location_Code             88 non-null     object
 5   Quantity                  97 non-null     int64
 6   Outstanding_Quantity      97 non-null     int64
 7   Qty_To_Invoice            97 non-null     int64
 8   Qty_To_Ship               97 non-null     int64
 9   Unit_Price                97 non-null     float64
 10  Unit_Cost_LCY             97 non-null     float64
 11  Line_Discount_%           97 non-null     int64
 12  Line_Discount_Amount      97 non-null     float64
 13  Sales_Amount              97 non-null     float64
 14  Profit_%                  97 non-null     float64
 15  Outstanding_Amount_LCY    97 non-null     float64
 16  Shipped_Not_Invoiced_LCY  97 non-null     float64
 17  Line_Amount               97 non-null     float64
 18  Document_Type             97 non-null     int64
 19  Sell_To_Customer_No       97 non-null     int64
 20  Ship_To_Name              97 non-null     object
 21  Ship_To_City              97 non-null     object
 22  Order_Date                97 non-null     datetime64[ns]
 23  Posting_Date              97 non-null     datetime64[ns]
 24  Shipment_Date             97 non-null     datetime64[ns]
 25  Payment_Terms_Code        97 non-null     object
 26  Ship_Info                 97 non-null     int64
 27  Invoice_Info              97 non-null     int64
 28  Promised_Delivery_Date    97 non-null     datetime64[ns]
 29  State                     28 non-null     object
 30  Sell_To_Customer_Name     97 non-null     object
 31  Currency_Factor           97 non-null     float64
 32  Salesperson_Code          97 non-null     object
 33  Responsibility_Center     20 non-null     object
 34  Link_Item                 97 non-null     object
dtypes: datetime64[ns](4), float64(9), int64(11), object(11)
memory usage: 29.3+ KB

In [169]:
# def condition(type, no):
#     if '2' in type:
#         return no
#     else:
#         return None
#if condition for link item
Left_Join_SL_SH['Link_Item'] = Left_Join_SL_SH.apply(lambda x: x['No'] if x['Type'] == '2' else None, axis=1)

# Left_Join_SL_SH['Link_Item'] = Left_Join_SL_SH.lookup(Left_Join_SL_SH['Type'] == '2', Left_Join_SL_SH['No'])

In [170]:
Left_Join_SL_SH['Link_Item']

0        1920-S
1        1976-W
2        1964-W
3        1920-S
4        1900-S
5        1996-S
6        1952-W
7        1928-W
8        1964-W
9        1972-S
10       1968-S
11       1896-S
12       1906-S
13       1920-S
14       1928-W
15       1964-W
16       1976-W
17       1980-S
18       1952-W
19       1928-W
20       1976-W
21       1964-W
22        70060
23       1896-S
24       1908-S
25       1928-S
26        70102
27       1992-W
28       1976-W
29       1964-W
30       1920-S
31       1936-S
32    LS-MAN-10
33        LS-75
34       LS-120
35      LS-10PC
36       LS-150
37      LS-10PC
38      LS-10PC
39       LS-150
40       LS-150
41    LS-MAN-10
42         LS-2
43       LS-S15
44    LS-MAN-10
45        LS-75
46       LS-120
47      LS-10PC
48       LS-150
49      LS-10PC
50       LS-150
51       LS-150
52    LS-MAN-10
53         LS-2
54       LS-S15
55        LS-75
56       LS-120
57        LS-75
58       LS-120
59       LS-150
60    LS-MAN-10
61      LS-10PC
62         LS-2
63    LS-MAN-10
64        LS-75
65       LS-120
66      LS-10PC
67       LS-120
68      LS-10PC
69        LS-81
70         1000
71         1000
72         1000
73         1000
74         1120
75         1000
76         1001
77         1100
78         1200
79       1908-S
80       1906-S
81        80100
82       1964-S
83       1996-S
84        80100
85       1964-S
86       1968-S
87        80100
88        80100
89       1906-S
90       1908-S
91        80100
92       1964-S
93       1968-S
94       1996-S
95      766BC-C
96      766BC-C
Name: Link_Item, dtype: object

In [167]:
Left_Join_SL_SH.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97 entries, 0 to 96
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Document_No               97 non-null     int64
 1   Line_No                   97 non-null     int64
 2   Type                      97 non-null     object
 3   No                        97 non-null     object
 4   Location_Code             88 non-null     object
 5   Quantity                  97 non-null     int64
 6   Outstanding_Quantity      97 non-null     int64
 7   Qty_To_Invoice            97 non-null     int64
 8   Qty_To_Ship               97 non-null     int64
 9   Unit_Price                97 non-null     float64
 10  Unit_Cost_LCY             97 non-null     float64
 11  Line_Discount_%           97 non-null     int64
 12  Line_Discount_Amount      97 non-null     float64
 13  Sales_Amount              97 non-null     float64
 14  Profit_%                  97 non-null     float64
 15  Outstanding_Amount_LCY    97 non-null     float64
 16  Shipped_Not_Invoiced_LCY  97 non-null     float64
 17  Line_Amount               97 non-null     float64
 18  Document_Type             97 non-null     int64
 19  Sell_To_Customer_No       97 non-null     int64
 20  Ship_To_Name              97 non-null     object
 21  Ship_To_City              97 non-null     object
 22  Order_Date                97 non-null     datetime64[ns]
 23  Posting_Date              97 non-null     datetime64[ns]
 24  Shipment_Date             97 non-null     datetime64[ns]
 25  Payment_Terms_Code        97 non-null     object
 26  Ship_Info                 97 non-null     int64
 27  Invoice_Info              97 non-null     int64
 28  Promised_Delivery_Date    97 non-null     datetime64[ns]
 29  State                     28 non-null     object
 30  Sell_To_Customer_Name     97 non-null     object
 31  Currency_Factor           97 non-null     float64
 32  Salesperson_Code          97 non-null     object
 33  Responsibility_Center     20 non-null     object
 34  Link_Item                 97 non-null     object
dtypes: datetime64[ns](4), float64(9), int64(11), object(11)
memory usage: 29.3+ KB

In [168]:
Left_Join_SL_SH

,Document_No,Line_No,Type,No,Location_Code,Quantity,Outstanding_Quantity,Qty_To_Invoice,Qty_To_Ship,Unit_Price,Unit_Cost_LCY,Line_Discount_%,Line_Discount_Amount,Sales_Amount,Profit_%,Outstanding_Amount_LCY,Shipped_Not_Invoiced_LCY,Line_Amount,Document_Type,Sell_To_Customer_No,Ship_To_Name,Ship_To_City,Order_Date,Posting_Date,Shipment_Date,Payment_Terms_Code,Ship_Info,Invoice_Info,Promised_Delivery_Date,State,Sell_To_Customer_Name,Currency_Factor,Salesperson_Code,Responsibility_Center,Link_Item
0,101005,10000,2,1920-S,RED,4,0,4,0,29190.000,22770.0000,5,5838.00,110922.00,21.99383,0.00,110922.00,110922.00,1,30000,John Haddock Insurance Co.,Manchester,2023-12-01,2023-01-27,2023-12-01,CM,1,0,2023-01-13,KAR,John Haddock Insurance Co.,1.000000,PS,None,1920-S
1,101009,10000,2,1976-W,GREEN,5,3,2,0,331.091,10450.0000,0,0.00,1655.46,41.25913,53370.32,35579.86,1655.46,1,38128456,MEMA Ljubljana d.o.o.,Ljubljana,2023-01-20,2023-01-29,2023-01-20,1M(8D),1,0,2023-01-21,None,MEMA Ljubljana d.o.o.,0.018611,JR,None,1976-W
2,101009,20000,2,1964-W,GREEN,2,1,1,0,377.433,11890.0000,0,0.00,754.87,41.37081,20280.38,20280.38,754.87,1,38128456,MEMA Ljubljana d.o.o.,Ljubljana,2023-01-20,2023-01-29,2023-01-20,1M(8D),1,0,2023-01-21,None,MEMA Ljubljana d.o.o.,0.018611,JR,None,1964-W
3,101011,10000,2,1920-S,GREEN,5,3,0,0,543.258,22770.0000,0,0.00,2716.29,21.99383,87569.82,0.00,2716.29,1,43687129,Designstudio Gmunden,Gmunden,2023-01-13,2023-01-14,2023-01-13,1M(8D),0,1,2023-12-01,None,Designstudio Gmunden,0.018611,JR,None,1920-S
4,101011,20000,2,1900-S,GREEN,12,6,0,0,161.730,6770.0000,0,0.00,1940.76,22.09436,52139.88,0.00,1940.76,1,43687129,Designstudio Gmunden,Gmunden,2023-01-13,2023-01-14,2023-01-13,1M(8D),0,1,2023-12-01,None,Designstudio Gmunden,0.018611,JR,None,1900-S
5,101011,30000,2,1996-S,GREEN,1,0,0,0,1171.754,49110.0000,0,0.00,1171.75,21.99809,0.00,0.00,1171.75,1,43687129,Designstudio Gmunden,Gmunden,2023-01-13,2023-01-14,2023-01-13,1M(8D),0,1,2023-12-01,None,Designstudio Gmunden,0.018611,JR,None,1996-S
6,101013,10000,2,1952-W,GREEN,1,0,0,0,1914.221,6500.0000,15,287.13,1627.09,40.96276,0.00,0.00,1627.09,1,46897889,Englunds Kontorsmöbler AB,Norrköbing,2023-01-19,2023-01-22,2023-01-19,CM,0,1,2023-09-16,None,Englunds Kontorsmöbler AB,0.173862,JR,None,1952-W
7,101013,20000,2,1928-W,GREEN,2,1,0,0,4130.963,13330.0000,15,1239.29,7022.64,43.89731,20196.01,0.00,7022.64,1,46897889,Englunds Kontorsmöbler AB,Norrköbing,2023-01-19,2023-01-22,2023-01-19,CM,0,1,2023-09-16,None,Englunds Kontorsmöbler AB,0.173862,JR,None,1928-W
8,101013,30000,2,1964-W,GREEN,2,1,0,0,3525.923,11890.0000,15,1057.78,5994.07,41.37081,17238.03,0.00,5994.07,1,46897889,Englunds Kontorsmöbler AB,Norrköbing,2023-01-19,2023-01-22,2023-01-19,CM,0,1,2023-09-16,None,Englunds Kontorsmöbler AB,0.173862,JR,None,1964-W
9,101015,10000,2,1972-S,RED,6,3,6,3,159.311,6670.0000,0,0.00,955.87,22.07944,25680.39,25680.39,955.87,1,49633663,Autohaus Mielberg KG,Hamburg 36,2023-01-22,2023-01-27,2023-01-22,14 DAYS,1,0,2023-09-22,None,Autohaus Mielberg KG,0.018611,JR,None,1972-S
10,101015,20000,2,1968-S,RED,5,3,5,3,159.311,6670.0000,0,0.00,796.56,22.07944,25680.39,17119.90,796.56,1,49633663,Autohaus Mielberg KG,Hamburg 36,2023-01-22,2023-01-27,2023-01-22,14 DAYS,1,0,2023-09-22,None,Autohaus Mielberg KG,0.018611,JR,None,1968-S
11,101015,30000,2,1896-S,RED,12,6,12,6,839.360,35170.0000,0,0.00,10072.32,22.01774,270599.93,270599.93,10072.32,1,49633663,Autohaus Mielberg KG,Hamburg 36,2023-01-22,2023-01-27,2023-01-22,14 DAYS,1,0,2023-09-22,None,Autohaus Mielberg KG,0.018611,JR,None,1896-S
12,101015,40000,2,1906-S,RED,12,6,12,6,363.661,15240.0000,0,0.00,4363.93,22.00614,117240.30,117240.30,4363.93,1,49633663,Autohaus Mielberg KG,Hamburg 36,2023-01-22,2023-01-27,2023-01-22,14 DAYS,1,0,2023-09-22,None,Autohaus Mielberg KG,0.018611,JR,None,1906-S
13,101016,10000,2,1920-S,RED,1,0,1,0,29190.000,22770.0000,0,0.00,29190.00,21.99383,0.00,29190.00,29190.00,1,10000,The Cannon Group PLC,New Delhi,2023-01-26,2023-01-02,2023-01-26,1M(8D),1,0,2023-01-26,ND,The Cannon Group PLC,1.000000,PS,None,1920-S
14,101017,10000,2,1928-W,GREEN,2,2,2,2,23760.000,13330.0000,10,4752.00,42768.00,43.89731,42768.00,0.00,42768.00,1,20000,Selangorian Ltd.,Coventry,2023-01-27,2023-01-27,2023-01-27,14 DAYS,0,0,2023-01-27,HR,Selangorian Ltd.,1.000000,PS,None,1928-W
15,101017,20000,2,1964-W,GREEN,1,1,1,1,20280.000,11890.0000,10,2028.00,18252.00,41.37081,18252.00,0.00,18252.00,1,20000,Selangorian Ltd.,Coventry,2023-01-27,2023-01-27,2023-01-27,14 DAYS,0,0,2023-01-27,HR,Selangorian Ltd.,1.000000,PS,None,1964-W
16,101017,30000,2,1976-W,GREEN,1,1,1,1,17790.000,10450.0000,10,1779.00,16011.00,41.25913,16011.00,0.00,16011.00,1,20000,Selangorian Ltd.,Coventry,2023-01-27,2023-01-27,2023-01-27,14 DAYS,0,0,2023-01-27,HR,Selangorian Ltd.,1.000000,PS,None,1976-W
17,101018,10000,2,1980-S,GREEN,6,6,6,6,8560.000,6670.0000,0,0.00,51360.00,22.07944,51360.00,0.00,51360.00,1,1454545,New Concepts Furniture,Atlanta,2023-01-27,2023-01-27,2023-01-27,1M(8D),0,0,2023-01-27,None,New Concepts Furniture,1.000000,PS,None,1980-S
18,101019,10000,2,1952-W,RED,2,1,2,1,204.908,6500.0000,15,61.47,348.35,40.96276,9358.94,9358.94,348.35,1,31987987,Candoxy Nederland BV,Amsterdam,2023-01-23,2023-01-02,2023-01-23,CM,1,0,2023-01-24,None,Candoxy Nederland BV,0.018611,JR,None,1952-W
19,101019,20000,2,1928-W,RED,2,1,2,1,442.200,13330.0000,15,132.66,751.74,43.89731,20196.02,20196.02,751.74,1,31987987,Candoxy Nederland BV,Amsterdam,2023-01-23,2023-01-02,2023-01-23,CM,1,0,2023-01-24,None,Candoxy Nederland BV,0.018611,JR,None,1928-W
20,101019,30000,2,1976-W,RED,2,1,2,1,331.091,10450.0000,15,99.33,562.85,41.25913,15121.63,15121.63,562.85,1,31987987,Candoxy Nederland BV,Amsterdam,2023-01-23,2023-01-02,2023-01-23,CM,1,0,2023-01-24,None,Candoxy Nederland BV,0.018611,JR,None,1976-W
21,101019,40000,2,1964-W,RED,2,1,2,1,377.433,11890.0000,15,113.23,641.64,41.37081,17238.11,17238.11,641.64,1,31987987,Candoxy Nederland BV,Amsterdam,2023-01-23,2023-01-02,2023-01-23,CM,1,0,2023-01-24,None,Candoxy Nederland BV,0.018611,JR,None,1964-W
22,101019,50000,2,70060,RED,2,1,2,1,16.936,460.0000,20,6.77,27.10,49.45055,728.06,728.06,27.10,1,31987987,Candoxy Nederland BV,Amsterdam,2023-01-23,2023-01-02,2023-01-23,CM,1,0,2023-01-24,None,Candoxy Nederland BV,0.018611,JR,None,70060
23,101019,60000,2,1896-S,RED,2,1,2,1,839.360,35170.0000,5,83.94,1594.78,22.01774,42844.88,42844.88,1594.78,1,31987987,Candoxy Nederland BV,Amsterdam,2023-01-23,2023-01-02,2023-01-23,CM,1,0,2023-01-24,None,Candoxy Nederland BV,0.018611,JR,None,1896-S
24,101019,70000,2,1908-S,RED,2,1,2,1,159.311,6680.0000,5,15.93,302.69,21.96262,8132.25,8132.25,302.69,1,31987987,Candoxy Nederland BV,Amsterdam,2023-01-23,2023-01-02,2023-01-23,CM,1,0,2023-01-24,None,Candoxy Nederland BV,0.018611,JR,None,1908-S
25,101019,80000,2,1928-S,RED,2,1,2,1,45.969,1930.0000,5,4.60,87.34,21.86235,2346.45,2346.45,87.34,1,31987987,Candoxy Nederland BV,Amsterdam,2023-01-23,2023-01-02,2023-01-23,CM,1,0,2023-01-24,None,Candoxy Nederland BV,0.018611,JR,None,1928-S
26,101019,90000,2,70102,RED,2,1,2,1,3.536,100.0000,0,0.00,7.07,47.36842,190.21,190.21,7.07,1,31987987,Candoxy Nederland BV,Amsterdam,2023-01-23,2023-01-02,2023-01-23,CM,1,0,2023-01-24,None,Candoxy Nederland BV,0.018611,JR,None,70102
27,101020,10000,2,1992-W,RED,4,4,4,4,1259.785,49210.0000,15,755.87,4283.27,27.30093,230146.09,0.00,4283.27,1,32789456,Lovaina Contractors,Leuven,2023-01-27,2023-01-27,2023-01-27,CM,0,0,2023-01-27,None,Lovaina Contractors,0.018611,JR,None,1992-W
28,101022,10000,2,1976-W,YELLOW,3,3,3,3,331.091,10450.0000,0,0.00,993.27,41.25913,53369.79,0.00,993.27,1,38128456,MEMA Ljubljana d.o.o.,Ljubljana,2023-05-02,2023-05-02,2023-05-02,1M(8D),0,0,2023-05-02,None,MEMA Ljubljana d.o.o.,0.018611,JR,None,1976-W
29,101022,20000,2,1964-W,GREEN,4,4,4,4,377.433,11890.0000,0,0.00,1509.73,41.37081,81119.91,0.00,1509.73,1,38128456,MEMA Ljubljana d.o.o.,Ljubljana,2023-05-02,2023-05-02,2023-05-02,1M(8D),0,0,2023-05-02,None,MEMA Ljubljana d.o.o.,0.018611,JR,None,1964-W
30,101023,10000,2,1920-S,GREEN,4,4,4,4,29190.000,22770.0000,5,5838.00,110922.00,21.99383,110922.00,0.00,110922.00,1,30000,John Haddock Insurance Co.,Manchester,2023-02-22,2023-02-22,2023-02-22,CM,0,0,2023-02-22,KAR,John Haddock Insurance Co.,1.000000,PS,None,1920-S
31,101023,20000,2,1936-S,GREEN,23,23,23,23,9990.000,6770.0000,5,11488.50,218281.50,22.09436,218281.50,0.00,218281.50,1,30000,John Haddock Insurance Co.,Manchester,2023-02-22,2023-02-22,2023-02-22,CM,0,0,2023-02-22,KAR,John Haddock Insurance Co.,1.000000,PS,None,1936-S
32,104001,10000,2,LS-MAN-10,WHITE,4,4,0,0,0.000,12.0000,0,0.00,0.00,0.00000,0.00,0.00,0.00,1,10000,The Cannon Group PLC,New Delhi,2023-01-18,2023-01-18,2023-01-18,1M(8D),0,0,2023-01-19,ND,The Cannon Group PLC,1.000000,PS,CHENNAI,LS-MAN-10
33,104002,10000,2,LS-75,WHITE,10,10,0,0,79.099,36.0000,0,0.00,790.99,54.48728,790.99,0.00,790.99,1,20000,Selangorian Ltd.,Coventry,2023-01-18,2023-01-18,2023-01-18,14 DAYS,0,0,2023-01-18,HR,Selangorian Ltd.,1.000000,PS,None,LS-75
34,104002,20000,2,LS-120,WHITE,6,6,0,0,88.159,45.0000,0,0.00,528.95,48.95570,528.95,0.00,528.95,1,20000,Selangorian Ltd.,Coventry,2023-01-18,2023-01-18,2023-01-18,14 DAYS,0,0,2023-01-18,HR,Selangorian Ltd.,1.000000,PS,None,LS-120
35,104002,30000,2,LS-10PC,WHITE,20,20,0,0,59.779,25.0000,0,0.00,1195.58,58.17901,1195.58,0.00,1195.58,1,20000,Selangorian Ltd.,Coventry,2023-01-18,2023-01-18,2023-01-18,14 DAYS,0,0,2023-01-18,HR,Selangorian Ltd.,1.000000,PS,None,LS-10PC
36,104003,10000,2,LS-150,WHITE,8,8,0,0,129.226,72.0000,0,0.00,1033.81,44.28347,1033.81,0.00,1033.81,1,30000,John Haddock Insurance Co.,Manchester,2023-01-18,2023-01-18,2023-01-18,CM,0,0,2023-01-16,KAR,John Haddock Insurance Co.,1.000000,PS,None,LS-150
37,104004,10000,2,LS-10PC,WHITE,30,30,0,0,59.779,25.0000,0,0.00,1793.37,58.17901,1793.37,0.00,1793.37,1,40000,Mumbai Graphics Company,Mumbai,2023-01-18,2023-01-18,2023-01-18,1M(8D),0,0,2023-01-18,MAH,Mumbai Graphics Company,1.000000,PS,None,LS-10PC
38,104004,10000,2,LS-10PC,WHITE,30,30,0,0,59.779,25.0000,0,0.00,1793.37,58.17901,1793.37,0.00,1793.37,3,47563218,Yellow Warehouse,Bristol,2023-01-27,2023-01-27,2023-01-27,14 DAYS,0,0,2023-01-27,None,Klubben,0.147162,JR,None,LS-10PC
39,104005,10000,2,LS-150,WHITE,16,16,0,0,129.226,72.0000,0,0.00,2067.62,44.28347,2067.62,0.00,2067.62,1,60000,Blanemark Hifi Shop,London,2023-01-18,2023-01-18,2023-01-18,1M(8D),0,0,2023-01-18,None,Blanemark Hifi Shop,1.000000,JR,DELHI,LS-150
40,104005,20000,2,LS-150,WHITE,22,22,0,0,129.226,72.0000,0,0.00,2842.97,44.28347,2842.97,0.00,2842.97,1,60000,Blanemark Hifi Shop,London,2023-01-18,2023-01-18,2023-01-18,1M(8D),0,0,2023-01-18,None,Blanemark Hifi Shop,1.000000,JR,DELHI,LS-150
41,104006,10000,2,LS-MAN-10,WHITE,10,10,0,0,0.000,12.0000,0,0.00,0.00,0.00000,0.00,0.00,0.00,1,10000,The Cannon Group PLC,New Delhi,2023-01-18,2023-01-18,2023-01-18,1M(8D),0,0,2023-01-18,ND,The Cannon Group PLC,1.000000,PS,CHENNAI,LS-MAN-10
42,104007,10000,2,LS-2,WHITE,20,20,0,0,21.126,15.0000,0,0.00,422.52,28.99707,422.52,0.00,422.52,1,20000,Selangorian Ltd.,Coventry,2023-01-18,2023-01-18,2023-01-18,14 DAYS,0,0,2023-01-15,HR,Selangorian Ltd.,1.000000,PS,None,LS-2
43,104007,20000,2,LS-S15,WHITE,12,12,0,0,79.000,45.0000,0,0.00,948.00,43.03797,948.00,0.00,948.00,1,20000,Selangorian Ltd.,Coventry,2023-01-18,2023-01-18,2023-01-18,14 DAYS,0,0,2023-01-15,HR,Selangorian Ltd.,1.000000,PS,None,LS-S15
44,104007,30000,2,LS-MAN-10,WHITE,30,30,0,0,0.000,12.0000,0,0.00,0.00,0.00000,0.00,0.00,0.00,1,20000,Selangorian Ltd.,Coventry,2023-01-18,2023-01-18,2023-01-18,14 DAYS,0,0,2023-01-15,HR,Selangorian Ltd.,1.000000,PS,None,LS-MAN-10
45,104007,40000,2,LS-75,WHITE,16,16,0,0,79.099,36.0000,0,0.00,1265.58,54.48728,1265.58,0.00,1265.58,1,20000,Selangorian Ltd.,Coventry,2023-01-18,2023-01-18,2023-01-18,14 DAYS,0,0,2023-01-15,HR,Selangorian Ltd.,1.000000,PS,None,LS-75
46,104008,10000,2,LS-120,WHITE,10,10,0,0,88.159,45.0000,0,0.00,881.59,48.95570,881.59,0.00,881.59,1,30000,John Haddock Insurance Co.,Manchester,2023-01-18,2023-01-18,2023-01-18,CM,0,0,2023-01-18,KAR,John Haddock Insurance Co.,1.000000,PS,None,LS-120
47,104009,10000,2,LS-10PC,WHITE,12,12,0,0,59.779,25.0000,0,0.00,717.35,58.17901,717.35,0.00,717.35,1,40000,Mumbai Graphics Company,Mumbai,2023-01-18,2023-01-18,2023-01-18,1M(8D),0,0,2023-01-16,MAH,Mumbai Graphics Company,1.000000,PS,None,LS-10PC
48,104009,20000,2,LS-150,WHITE,8,8,0,0,129.226,72.0000,0,0.00,1033.81,44.28347,1033.81,0.00,1033.81,1,40000,Mumbai Graphics Company,Mumbai,2023-01-18,2023-01-18,2023-01-18,1M(8D),0,0,2023-01-16,MAH,Mumbai Graphics Company,1.000000,PS,None,LS-150
49,104010,10000,2,LS-10PC,WHITE,20,20,0,0,59.779,25.0000,0,0.00,1195.58,58.17901,1195.58,0.00,1195.58,1,60000,Blanemark Hifi Shop,London,2023-01-18,2023-01-18,2023-01-18,1M(8D),0,0,2023-01-19,None,Blanemark Hifi Shop,1.000000,JR,DELHI,LS-10PC
50,104011,10000,2,LS-150,WHITE,10,10,0,0,129.226,72.0000,0,0.00,1292.26,44.28347,1292.26,0.00,1292.26,1,10000,The Cannon Group PLC,New Delhi,2023-01-18,2023-01-18,2023-01-18,1M(8D),0,0,2023-01-20,ND,The Cannon Group PLC,1.000000,PS,CHENNAI,LS-150
51,104012,10000,2,LS-150,WHITE,8,8,0,0,129.226,72.0000,0,0.00,1033.81,44.28347,1033.81,0.00,1033.81,1,20000,Selangorian Ltd.,Coventry,2023-01-18,2023-01-18,2023-01-18,14 DAYS,0,0,2023-01-20,HR,Selangorian Ltd.,1.000000,PS,None,LS-150
52,104012,20000,2,LS-MAN-10,WHITE,20,20,0,0,0.000,12.0000,0,0.00,0.00,0.00000,0.00,0.00,0.00,1,20000,Selangorian Ltd.,Coventry,2023-01-18,2023-01-18,2023-01-18,14 DAYS,0,0,2023-01-20,HR,Selangorian Ltd.,1.000000,PS,None,LS-MAN-10
53,104012,30000,2,LS-2,WHITE,10,10,0,0,21.126,15.0000,0,0.00,211.26,28.99707,211.26,0.00,211.26,1,20000,Selangorian Ltd.,Coventry,2023-01-18,2023-01-18,2023-01-18,14 DAYS,0,0,2023-01-20,HR,Selangorian Ltd.,1.000000,PS,None,LS-2
54,104013,10000,2,LS-S15,WHITE,12,12,0,0,79.000,45.0000,0,0.00,948.00,43.03797,948.00,0.00,948.00,1,30000,John Haddock Insurance Co.,Manchester,2023-01-18,2023-01-18,2023-01-18,CM,0,0,2023-01-20,KAR,John Haddock Insurance Co.,1.000000,PS,None,LS-S15
55,104014,10000,2,LS-75,WHITE,8,8,0,0,79.099,36.0000,0,0.00,632.79,54.48728,632.79,0.00,632.79,1,40000,Mumbai Graphics Company,Mumbai,2023-01-18,2023-01-18,2023-01-18,1M(8D),0,0,2023-01-20,MAH,Mumbai Graphics Company,1.000000,PS,None,LS-75
56,104015,10000,2,LS-120,WHITE,4,4,0,0,88.159,45.0000,0,0.00,352.64,48.95570,352.64,0.00,352.64,1,61000,Fairway Sound,London,2023-01-18,2023-01-18,2023-01-18,1M(8D),0,0,2023-01-18,None,Fairway Sound,1.000000,PS,DELHI,LS-120
57,104016,10000,2,LS-75,WHITE,4,4,0,0,79.099,36.0000,0,0.00,316.40,54.48728,316.40,0.00,316.40,1,60000,Blanemark Hifi Shop,London,2023-01-18,2023-01-18,2023-01-18,1M(8D),0,0,2023-01-18,None,Blanemark Hifi Shop,1.000000,JR,DELHI,LS-75
58,104016,20000,2,LS-120,WHITE,2,2,0,0,88.159,45.0000,0,0.00,176.32,48.95570,176.32,0.00,176.32,1,60000,Blanemark Hifi Shop,London,2023-01-18,2023-01-18,2023-01-18,1M(8D),0,0,2023-01-18,None,Blanemark Hifi Shop,1.000000,JR,DELHI,LS-120
59,104016,30000,2,LS-150,WHITE,2,2,0,0,129.226,72.0000,0,0.00,258.45,44.28347,258.45,0.00,258.45,1,60000,Blanemark Hifi Shop,London,2023-01-18,2023-01-18,2023-01-18,1M(8D),0,0,2023-01-18,None,Blanemark Hifi Shop,1.000000,JR,DELHI,LS-150
60,104017,10000,2,LS-MAN-10,WHITE,1,1,0,0,0.000,12.0000,0,0.00,0.00,0.00000,0.00,0.00,0.00,1,61000,Fairway Sound,London,2023-01-18,2023-01-18,2023-01-18,1M(8D),0,0,2023-01-19,None,Fairway Sound,1.000000,PS,DELHI,LS-MAN-10
61,104018,10000,2,LS-10PC,WHITE,2,2,0,0,59.779,25.0000,0,0.00,119.56,58.17901,119.56,0.00,119.56,1,62000,The Device Shop,London,2023-01-18,2023-01-18,2023-01-18,14 DAYS,0,0,2023-01-20,None,The Device Shop,1.000000,PS,DELHI,LS-10PC
62,104018,20000,2,LS-2,WHITE,2,2,0,0,21.126,15.0000,0,0.00,42.25,28.99707,42.25,0.00,42.25,1,62000,The Device Shop,London,2023-01-18,2023-01-18,2023-01-18,14 DAYS,0,0,2023-01-20,None,The Device Shop,1.000000,PS,DELHI,LS-2
63,104019,10000,2,LS-MAN-10,WHITE,4,4,0,0,0.000,12.0000,0,0.00,0.00,0.00000,0.00,0.00,0.00,1,61000,Fairway Sound,London,2023-01-31,2023-01-31,2023-01-31,1M(8D),0,0,2023-01-31,None,Fairway Sound,1.000000,PS,DELHI,LS-MAN-10
64,104019,20000,2,LS-75,WHITE,10,10,0,0,79.099,36.0000,0,0.00,790.99,54.48728,790.99,0.00,790.99,1,61000,Fairway Sound,London,2023-01-31,2023-01-31,2023-01-31,1M(8D),0,0,2023-01-31,None,Fairway Sound,1.000000,PS,DELHI,LS-75
65,104019,30000,2,LS-120,WHITE,6,6,0,0,88.159,45.0000,0,0.00,528.95,48.95570,528.95,0.00,528.95,1,61000,Fairway Sound,London,2023-01-31,2023-01-31,2023-01-31,1M(8D),0,0,2023-01-31,None,Fairway Sound,1.000000,PS,DELHI,LS-120
66,104020,10000,2,LS-10PC,WHITE,20,20,0,0,59.779,25.0000,0,0.00,1195.58,58.17901,1195.58,0.00,1195.58,1,62000,The Device Shop,London,2023-01-31,2023-01-31,2023-01-31,14 DAYS,0,0,2023-01-31,None,The Device Shop,1.000000,PS,DELHI,LS-10PC
67,104020,20000,2,LS-120,WHITE,8,8,0,0,88.159,45.0000,0,0.00,705.27,48.95570,705.27,0.00,705.27,1,62000,The Device Shop,London,2023-01-31,2023-01-31,2023-01-31,14 DAYS,0,0,2023-01-31,None,The Device Shop,1.000000,PS,DELHI,LS-120
68,104020,30000,2,LS-10PC,WHITE,30,30,0,0,59.779,25.0000,0,0.00,1793.37,58.17901,1793.37,0.00,1793.37,1,62000,The Device Shop,London,2023-01-31,2023-01-31,2023-01-31,14 DAYS,0,0,2023-01-31,None,The Device Shop,1.000000,PS,DELHI,LS-10PC
69,104021,10000,2,LS-81,WHITE,72,72,0,0,79.000,36.0000,0,0.00,5688.00,54.43038,5688.00,0.00,5688.00,1,60000,Blanemark Hifi Shop,London,2023-01-18,2023-01-18,2023-01-18,1M(8D),0,0,2023-01-20,None,Blanemark Hifi Shop,1.000000,JR,DELHI,LS-81
70,109001,10000,2,1000,NaN,25,25,25,25,74.444,350.5950,25,465.28,1395.82,91.23513,74999.36,0.00,1395.82,1,49633663,Autohaus Mielberg KG,Hamburg 36,2023-12-09,2023-12-09,2023-12-09,14 DAYS,0,0,2023-09-13,None,Autohaus Mielberg KG,0.018611,JR,None,1000
71,109002,10000,2,1000,NaN,27,27,27,27,74.444,350.5950,25,502.50,1507.49,91.23513,80999.55,0.00,1507.49,1,43687129,Designstudio Gmunden,Gmunden,2023-09-16,2023-09-16,2023-09-16,1M(8D),0,0,2023-09-17,None,Designstudio Gmunden,0.018611,JR,None,1000
72,109003,10000,2,1000,NaN,16,16,16,16,74.444,350.5950,25,297.78,893.32,91.23513,47999.33,0.00,893.32,1,38128456,MEMA Ljubljana d.o.o.,Ljubljana,2023-09-25,2023-09-25,2023-09-25,1M(8D),0,0,2023-09-24,None,MEMA Ljubljana d.o.o.,0.018611,JR,None,1000
73,109004,10000,2,1000,NaN,20,20,20,20,74.444,350.5950,25,372.22,1116.66,91.23513,59999.71,0.00,1116.66,1,43687129,Designstudio Gmunden,Gmunden,2023-09-22,2023-09-22,2023-09-22,1M(8D),0,0,2023-09-22,None,Designstudio Gmunden,0.018611,JR,None,1000
74,109004,20000,2,1120,NaN,10,10,10,10,0.000,2.0000,0,0.00,0.00,0.00000,0.00,0.00,0.00,1,43687129,Designstudio Gmunden,Gmunden,2023-09-22,2023-09-22,2023-09-22,1M(8D),0,0,2023-09-22,None,Designstudio Gmunden,0.018611,JR,None,1120
75,109005,10000,2,1000,NaN,16,16,16,16,74.444,350.5950,25,297.78,893.32,91.23513,47999.33,0.00,893.32,1,38128456,MEMA Ljubljana d.o.o.,Ljubljana,2023-09-27,2023-09-27,2023-09-27,1M(8D),0,0,2023-09-28,None,MEMA Ljubljana d.o.o.,0.018611,JR,None,1000
76,109005,20000,2,1001,NaN,3,3,3,3,74.444,350.5950,0,0.00,223.33,91.23513,11999.83,0.00,223.33,1,38128456,MEMA Ljubljana d.o.o.,Ljubljana,2023-09-27,2023-09-27,2023-09-27,1M(8D),0,0,2023-09-28,None,MEMA Ljubljana d.o.o.,0.018611,JR,None,1001
77,109005,30000,2,1100,NaN,5,5,5,5,18.611,129.6710,0,0.00,93.06,87.03290,5000.24,0.00,93.06,1,38128456,MEMA Ljubljana d.o.o.,Ljubljana,2023-09-27,2023-09-27,2023-09-27,1M(8D),0,0,2023-09-28,None,MEMA Ljubljana d.o.o.,0.018611,JR,None,1100
78,109005,40000,2,1200,NaN,5,5,5,5,22.333,129.6820,0,0.00,111.67,89.19317,6000.19,0.00,111.67,1,38128456,MEMA Ljubljana d.o.o.,Ljubljana,2023-09-27,2023-09-27,2023-09-27,1M(8D),0,0,2023-09-28,None,MEMA Ljubljana d.o.o.,0.018611,JR,None,1200
79,6001,10000,2,1908-S,GREEN,12,12,0,0,159.311,6680.0000,0,0.00,1911.73,21.96262,102719.93,0.00,1911.73,1,49525252,Beef House,Düsseldorf,2023-12-10,2023-12-10,2023-12-10,1M(8D),0,0,2023-11-10,None,Beef House,0.018611,JR,None,1908-S

In [88]:
Left_Join_SL_SH.loc[Left_Join_SL_SH['Document_No'] == 101011]

,Document Type_x,Document_No,Line No_,Type,No_,Location Code,Quantity,Outstanding Quantity,Qty_ to Invoice,Qty_ to Ship,Unit Price,Unit Cost (LCY),Line Discount _,Line Discount Amount,Amount,Profit _,Outstanding Amount (LCY),Shipped Not Invoiced (LCY),Line Amount,Document Type_y,Sell-to Customer No_,Ship-to Name,Ship-to City,Order Date,Posting Date,Shipment Date,Payment Terms Code,Ship,Invoice,Requested Delivery Date,Promised Delivery Date,State,Sell-to Customer Name,Currency Factor,Salesperson Code,Responsibility Center
3,1,101011,10000,2,1920-S,GREEN,5,3,0,0,543.258,22770.0,0,0.0,2716.29,21.99383,87569.82,0.0,2716.29,1,43687129,Designstudio Gmunden,Gmunden,2023-01-13,2023-01-14,2023-01-13,1M(8D),0,1,1753-01-01 00:00:00.000,2023-12-01,None,Designstudio Gmunden,0.018611,JR,None
4,1,101011,20000,2,1900-S,GREEN,12,6,0,0,161.730,6770.0,0,0.0,1940.76,22.09436,52139.88,0.0,1940.76,1,43687129,Designstudio Gmunden,Gmunden,2023-01-13,2023-01-14,2023-01-13,1M(8D),0,1,1753-01-01 00:00:00.000,2023-12-01,None,Designstudio Gmunden,0.018611,JR,None
5,1,101011,30000,2,1996-S,GREEN,1,0,0,0,1171.754,49110.0,0,0.0,1171.75,21.99809,0.00,0.0,1171.75,1,43687129,Designstudio Gmunden,Gmunden,2023-01-13,2023-01-14,2023-01-13,1M(8D),0,1,1753-01-01 00:00:00.000,2023-12-01,None,Designstudio Gmunden,0.018611,JR,None

In [83]:
Left_Join_SL_SH.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97 entries, 0 to 96
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Document Type_x             97 non-null     int64
 1   Document_No                 97 non-null     int64
 2   Line No_                    97 non-null     int64
 3   Type                        97 non-null     int64
 4   No_                         97 non-null     object
 5   Location Code               88 non-null     object
 6   Quantity                    97 non-null     int64
 7   Outstanding Quantity        97 non-null     int64
 8   Qty_ to Invoice             97 non-null     int64
 9   Qty_ to Ship                97 non-null     int64
 10  Unit Price                  97 non-null     float64
 11  Unit Cost (LCY)             97 non-null     float64
 12  Line Discount _             97 non-null     int64
 13  Line Discount Amount        97 non-null     float64
 14  Amount                      97 non-null     float64
 15  Profit _                    97 non-null     float64
 16  Outstanding Amount (LCY)    97 non-null     float64
 17  Shipped Not Invoiced (LCY)  97 non-null     float64
 18  Line Amount                 97 non-null     float64
 19  Document Type_y             97 non-null     int64
 20  Sell-to Customer No_        97 non-null     int64
 21  Ship-to Name                97 non-null     object
 22  Ship-to City                97 non-null     object
 23  Order Date                  97 non-null     datetime64[ns]
 24  Posting Date                97 non-null     datetime64[ns]
 25  Shipment Date               97 non-null     datetime64[ns]
 26  Payment Terms Code          97 non-null     object
 27  Ship                        97 non-null     int64
 28  Invoice                     97 non-null     int64
 29  Requested Delivery Date     97 non-null     object
 30  Promised Delivery Date      97 non-null     datetime64[ns]
 31  State                       28 non-null     object
 32  Sell-to Customer Name       97 non-null     object
 33  Currency Factor             97 non-null     float64
 34  Salesperson Code            97 non-null     object
 35  Responsibility Center       20 non-null     object
dtypes: datetime64[ns](4), float64(9), int64(13), object(10)
memory usage: 28.0+ KB